{% extends "base.html" %}

{% block content %}
  <h2>Thay đổi mật khẩu</h2>
  <form action="" method="post">{% csrf_token %}

    <table class="main-table">
      <col>
      <tr>
        <td valign="bottom">Mật khẩu cũ:</td>
        <td>{{ form.old_password.errors }}
        {{ form.old_password }}
        <td>
      </tr>
      <tr>
        <td valign="bottom">Mật khẩu mới:</td>
        <td>{{ form.new_password1.errors }}
        {{ form.new_password1 }}
        <td>
      </tr>
      <tr>
        <td valign="bottom">Nhập lại mật khẩu mới:</td>
        <td>{{ form.new_password2.errors }}
        {{ form.new_password2 }}
        <td>
      </tr>
      <tr>
        <td valign="bottom"></td>
        <td><input type="submit" value="Thay đổi mật khẩu" class="default"/>
        <td>
      </tr>
    </table>

    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
  </form>
{% endblock %}