{% extends "base.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}

	<h4>Thay đổi mật khẩu</h4>
	<p>Hãy điền mật khẩu cũ, sau đó nhập lại mật khẩu mới của bạn.</p>
	<table>
	<col width="200">
	<tr>
    	<td valign="bottom">Mật khẩu cũ:</td>
    	<td>{{ form.old_password.errors }}<br />{{ form.old_password }}<td>
    </tr>
	<tr>
    	<td valign="bottom">Mật khẩu mới:</td>
    	<td>{{ form.new_password1.errors }}<br />{{ form.new_password1 }}<td>
    </tr>
	<tr>
    	<td valign="bottom">Nhập lại mật khẩu mới:</td>
    	<td>{{ form.new_password2.errors }}<br />{{ form.new_password2 }}<td>
    </tr>
	<tr>
    	<td valign="bottom"></td>
    	<td><input type="submit" value="Thay đổi mật khẩu" class="default" /><td>
    </tr>
	</table>
	
	<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
{% endblock %}