{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
			{% if list_s %}
				{% for s in list_s %}
					<small>+ </small><b><a href="#" onclick="if(document.getElementById('spoilerS') .style.display=='none') {document.getElementById('spoilerS') .style.display=''}else{document.getElementById('spoilerS') .style.display='none'}">{{ s.name }}</a></b><br />
					<div id="spoilerS" style="display:none">
					{% if list_p %}
						<table>
						<col width="15px">
						<td></td>
						<td>
						{% for p in list_p %}
							<small>+ </small><a href="#" onclick="if(document.getElementById('spoiler{{p.id}}') .style.display=='none') {document.getElementById('spoiler{{p.id}}') .style.display=''}else{document.getElementById('spoiler{{p.id}}') .style.display='none'}">{{ p.name }}</a><br />
							<div id="spoiler{{p.id}}" style="display:none">
							{% if p.upper_organization == s %}
								<table>
								<col width="15px">
								<td></td>
								<td>
								{% for t in list_t %}
									
									{% if t.upper_organization == p %}
										{{ t.name }}
									{% endif %}
								{% endfor %}
								</td>
								</table>
							{% endif %}
							</div>
						{% endfor %}
						</td>
						</table>
					{% endif %}
					</div>					
				{% endfor %}
			{% endif %}
		{% endif %}
		
		{% if user.userprofile.position == 'GIAM_DOC_SO' %}
			{% if list_p %}
				{% for p in list_p %}
					{% if p.upper_organization == user.get_profile.organization %}
						<li><b>{{ p.name }}</b>
						<br /><button type="button" onclick="if(document.getElementById('spoiler{{p.id}}') .style.display=='none') {document.getElementById('spoiler{{p.id}}') .style.display=''}else{document.getElementById('spoiler{{p.id}}') .style.display='none'}"><small>Danh sách trường</small></button>
						</li>
						<div id="spoiler{{p.id}}" style="display:none">
						{% if list_t %}
							{% for t in list_t %}
								{% if t.upper_organization == p %}
									- {{ t.name }} <br/>
								{% endif %}
							{% endfor %}
						{% endif %}
						</div>
					{% endif %}
					
				{% endfor %}
			{% endif %}
		{% endif %}
		
		{% if user.userprofile.position == 'TRUONG_PHONG' %}
			<h4>Các trường thuộc quyển quản lý </h4>
			{% for t in list_t %}
				{% if t.upper_organization == user.get_profile.organization %}
					<li>{{ t.name }}</li>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% else %}
		You need login to use this.
	{% endif %}
{% endblock %}
