{% extends "base.html" %}


{% block content %}
	{% if user.is_authenticated %}
		<h1>Thêm người quản lý Trường</h1>
		<form action="/app/schooladmin/add/" method="post">{% csrf_token %}
		<table>
		<col width="160">
		<tr>
			<td>Người quản lý trường</td>
			<td>
			{% for u in user %}
				
			{% endfor %}
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		</table>
        <div class="fieldWrapper">
          {{ form.username.errors }}
          <label for="id_username">Tên đăng nhập:</label>
          {{ form.username }}
          <a href="/admin/auth/user/add/">Thêm</a>
        </div>
        <div class="fieldWrapper">
          {{ form.school.errors }}
          <label for="id_school">Trường:</label>
          {{ form.school }}
          <a href="/admin/app/organization/add/">Thêm</a>
        </div>
		<input type="submit" value="Thêm" />
		</form>
	{% else %}
		You need login to use this.
	{% endif %}
{% endblock %}
