{%extends "school/base_school.html" %}

{% block js %}
<script type="text/javascript" >

	function save_student()
	{
		document.theForm.clickedButton.value = "save";
		document.theForm.submit();
	}
	function check_key(tb){
		var exp = /[^((\d).)]/g;
		tb.value = tb.value.replace(exp,'');
		var value=tb.value;
		var countDot=0;
		for(i=0;i<value.length;i++)
			if (value.charAt(i)==".") 
				countDot++;
				
		if (countDot>1)
		{		
			tb.value="";
			return;
		}			
		var number=parseFloat(value);
		//alert(number);		
		if (number>55 )
			tb.value="";	
	}	
	function add_student(){
		document.theForm.clickedButton.value = "add";
		document.theForm.submit();	
	}
</script>
{% endblock %}

{% block content %}
{% ifnotequal message None %}
{{message}}
{% endifnotequal %}
{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}
    <form action="" name="theForm" method="post" > {% csrf_token %}
    	<input type="hidden" name="clickedButton" value="notClicked" />
		<table border=1 >
        <tr>
			<td rowspan=1 align="center">
				STT
			</td>	
			<td rowspan=1 align="center">
				Tên học sinh
			</td>	
			<td rowspan=1 align="center">			
				Ngày sinh
			</td>	
			<td rowspan=1 align="center">
				Nguyện vọng
			</td>	

			<td rowspan=1 align="center">
				Điểm
			</td>	
		</tr>
		{% for student in student_list %}
		<tr>
		    <td align="center">
		        {{ forloop.counter }}   
		    </td>
		    <td align="center">
		    		{{student.ten}}
		    </td>
		    <td align="center">
		        <input type="text" value={{ student.ngay_sinh|date:"SHORT_DATE_FORMAT" }} style="width:70px; border:0px;" align="center" />
		    </td>
		    <td align="center">
		        <input type="text" value={{ student.nguyen_vong }} style="border:0px;" align="center"/>
		    </td>
		    <td align="center">
		        <input type="text" value={{ student.tong_diem }} style="border:0px; width:40px;" align="center"/>
		    </td>
		    
		</tr>
      {% endfor %}
      <tr>
		    <td align="center">
		        --   
		    </td>
		    <td align="center">
		    	  <input type="text" value="" name="name_hs_trung_tuyen" style="border:0px;" align="center"/>
		    </td>
		    <td align="center">
		        <input type="text" value="" name="ns_hs_trung_tuyen"style="width:70px; border:0px;" align="center" />
		    </td>
		    <td align="center">
		        <input type="text" value="" name="nv_hs_trung_tuyen"style="border:0px;" align="center"/>
		    </td>
		    <td align="center">
		        <input type="text" value="" name="diem_hs_trung_tuyen"style="border:0px; width:40px;" align="center"
		        			onkeyup="check_key(this)"/>
		    </td>
		    <td align="center">
		    	  <input type="submit" name="add" value="Thêm" onclick="add_student()" />
		    </td>
		</tr>
	 </table>
			 
	 <input type="submit" name="save" value="Lưu lại" onclick="save_student()" />
	</form>
{% endblock %}
