{% extends "base.html" %}

{% block js %}
  <script language="JavaScript" type="text/javascript">

    function save_student() {
      document.theForm.clickedButton.value = "save";
      document.theForm.submit();
    }
    function check_key(tb) {
      var exp = /[^((\d).)]/g;
      tb.value = tb.value.replace(exp, '');
      var value = tb.value;
      var countDot = 0;
      for (i = 0; i < value.length; i++)
        if (value.charAt(i) == ".")
          countDot++;

      if (countDot > 1) {
        tb.value = "";
        return;
      }
      var number = parseFloat(value);
      //alert(number);
      if (number > 55)
        tb.value = "";
    }
    function add_student() {
      document.theForm.clickedButton.value = "add";
      document.theForm.submit();
    }
  </script>
{% endblock %}

{% block content %}
  <h2>Nhập học sinh</h2>
  <a href= {% url school.views.nhap_danh_sach_trung_tuyen %}>Nhập từ file Excel</a>
  <br/><br/>
  {% ifnotequal message None %}
    {{ message }}
  {% endifnotequal %}
  {% if form.errors %}
    <p>{{ form.errors }}</p>
  {% endif %}
  <form action="" name="theForm" method="post"> {% csrf_token %}
    <input type="hidden" name="clickedButton" value="notClicked"/>
    {{ form.as_p }}
    <table class="styleA">
      <tr align="center">
        <th rowspan=1 >
          STT
        </th>
        <th rowspan=1 >
          Tên học sinh
        </th>
        <th rowspan=1 >
          Ngày sinh
        </th>
        <th rowspan=1 >
          Nguyện vọng
        </th>

        <th rowspan=1 >
          Điểm
        </th>
        <th>
        </th>
      </tr>
      {% for student in student_list %}
        <tr>
          <td align="center">
            {{ forloop.counter }}
          </td>
          <td align="center">
            {{ student.ten }}
          </td>
          <td align="center">
            <input type="text" value={{ student.ngay_sinh|date:"SHORT_DATE_FORMAT"}}>
          </td>
          <td align="center">
            <input type="text" value={{ student.nguyen_vong }}>
          </td>
          <td align="center">
            <input type="text" value={{ student.tong_diem }}>
          </td>
          <td>
            
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td align="center">
          --
        </td>
        <td align="center">
          <input type="text" value="" name="name_hs_trung_tuyen" style="border:0px;" align="center"/>
        </td>
        <td align="center">
          <input type="text" value="" name="ns_hs_trung_tuyen" style="width:70px; border:0px;" align="center"/>
        </td>
        <td align="center">
          <input type="text" value="" name="nv_hs_trung_tuyen" style="border:0px;" align="center"/>
        </td>
        <td align="center">
          <input type="text" value="" name="diem_hs_trung_tuyen" style="border:0px; width:40px;" align="center"
                 onkeyup="check_key(this)"/>
        </td>
        <td align="center">
          <input type="submit" name="add" value="Thêm" onclick="add_student()"/>
        </td>
      </tr>
    </table>

    <input type="submit" name="save" value="Lưu lại" onclick="save_student()"/>
  </form>
{% endblock %}
