{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
	{% if user.is_authenticated %}
		<h4><a href="/sms/manual_sms/">Gửi tin nhắn mới</a> - Gửi tin nhắn từ file Excel</h4>
		<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
			<table valign="top">
			<col width="160">
			<tr>
				<td></td>
				<td>{{ error }}</td>
			</tr>
			<tr>
				<td>Chọn file Excel</td>
				<td><input name="file" type="file" /></td> 
			</tr>
			<tr>
				<td></td>
            	<td>Hay tải file Excel mẫu <a href="{{ MEDIA_URL }}template_files/sms_template.xls">tại đây.</a></td>
            </tr>
            <tr>
            	<td><p><input type="submit" name="upload" value="Xem trước" /></p></td>
				<td><p>{% if data %}<input type="submit" name="delete" value="Xóa danh sách hiện tại" />{% endif %}</p></td>
			</tr>
			</table><br />
            {% if data %}
            	{% autopaginate data 30 %}
	            <table class="styleB">
					<col width=150>
					<col width=300>
	            	<tr >
					<td >Số điện thoại</td>
					<td >Nội dung</td>
					</tr>
				{% for d in data %}
					<tr >
					<td >{{ d.number }}</td>
					<td >{{ d.content }}</td>
					</tr>
				{% endfor %}
				</table>
            	{% paginate %}
				<p><input type="submit" name="send" value="Gửi" /></p>
			{% endif %}
		</form>
	{% endif %}
{% endblock %}
