{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
	{% if user.is_authenticated %}
		<small><a href="/sms/sent_sms/">Những tin nhắn gửi đi thành công.</a></small>
		<h3>Danh sách tin nhắn không được gửi đi:</h3>
		<small><b>Lý do: </b>Số điện thoại không phù hợp với bất kỳ Người sử dụng nào.</small>
		{% if sms_list %}
            {% autopaginate sms_list 30 %}
			<table class="solid_border">
				<col width=150>
				<col width=300>
				<col width=180>
				<col width=160>
				<tr class="solid_border">
				<td class="solid_border">Số điện thoại</td>
				<td class="solid_border">Nội dung</td>
				<td class="solid_border">Thời gian tạo</td>
				<td class="solid_border">Người gửi</td>
				</tr>
			{% for s in sms_list %}
				<tr class="solid_border">
				<td class="solid_border">{{ s.phone }}</td>
				<td class="solid_border">{{ s.content }}</td>
				<td class="solid_border">{{ s.createdFormat }}</td>
				<td class="solid_border">{{ s.sender }}</td>
				</tr>
			{% endfor %}
			</table>
            {% paginate %}
		{% else %}
		    <p>Không có tin nhắn nào đã được gửi đi.</p>
		{% endif %}
	{% endif %}
{% endblock %}

