{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
	{% if user.is_authenticated %}
		<small><a href="/sms/sent_sms/">Những tin nhắn gửi đi thành công</a> - Những tin nhắn gửi đi thất bại</small>
		<h4>Danh sách tin nhắn không được gửi đi:</h4>
		<small><b>Ghi chú - x</b>: Số điện thoại không thuộc Người sử dụng nào.</small>
		{% if sms_list %}
            {% autopaginate sms_list 30 %}
			<table class="styleB">
				<col width=150>
				<col width=200>
				<col width=300>
				<col width=180>
				<col width=160>
				<tr >
				<td >Số điện thoại</td>
				<td >Người nhận</td>
				<td >Nội dung</td>
				<td >Thời gian tạo</td>
				<td >Lý do</td>
				</tr>
			{% for s in sms_list %}
				<tr >
				<td >{{ s.phone }}</td>
				<td >{{ s.receiver }}</td>
				<td >{{ s.content }}</td>
				<td >{{ s.createdFormat }}</td>
				<td ><b>x</b></td>
				</tr>
			{% endfor %}
			</table>
            {% paginate %}
		{% else %}
		    <p>Không có tin nhắn nào đã được gửi đi.</p>
		{% endif %}
	{% endif %}
{% endblock %}

