{% extends "base.html" %}

{% block css %}
    <link href="/static/css/template_css/popup.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block breadcrumb %}
    {% load breadcrumb_tags %}
    {% add_crumb 'Nhắn tin'  %}
{% endblock %}

{% block content %}
    <h2> Nhắn tin </h2>

    <aside style="width: 500px; padding: 10px; float: left;">
        <div class="mainSMS">
            <div class="from tr">
                <div class="verticalLabel">
                    <b style="width: 70px;">Từ:</b>
                </div>
                <div class="verticalContent" style="padding-left: 10px; float: left;">
                    <b>{{ user }}</b>
                </div>
            </div>
            <div class="placeHolder" style="clear: both;"></div>
            <div class="to tr">
                <div class="verticalLabel">
                    <label for="smsTo" style="vertical-align: top;">
                        <b style="vertical-align: top; width: 50px;">Tới:</b>
                    </label>
                </div>
                <div class="verticalContent">
                    <textarea class="smsTo item smsTextarea" id="smsTo"></textarea>
                </div>
            </div>
            <div class="placeHolder" style="clear: both;"></div>
            <div class="sms tr">
                <div class="verticalLabel">
                    <label for="smsContext" style="vertical-align: top;">
                        <b style="vertical-align: top; width: 50px;">Nội dung:</b>
                    </label>
                </div>
                <div class="verticalContent">
                    <textarea class="smsContext item smsTextarea" id="smsContext"></textarea>
                </div>
            </div>
            <div class="placeHolder" style="clear: both;"></div>
            <div class="buttons tr">
                <div class="verticalLabel">
                    <p>&nbsp</p>
                </div>
                <div class="verticalContent">
                    <button class="ggButton" id="send">Gửi</button>
                </div>

            </div>
        </div>
    </aside>

    <aside style="min-width: 400px; padding: 10px; ">
        <div class="numberSelector">
            <div class="switcher">
                <input type="radio" id="switcherTeacher" name="radio" checked="checked" />
                <label for="switcherTeacher">Cán bộ</label>
                <input type="radio" id="switcherStudent" name="radio" />
                <label for="switcherStudent">Học sinh</label>
            </div>
            <div class="users">
                <div class="teachers">

                </div>
                <div class="students">

                </div>
            </div>
        </div>
    </aside>

{% endblock %}
