{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
	{% if user.is_authenticated %}
		<h4>Gửi tin nhắn mới - <a href="/sms/excel_sms/">Gửi tin nhắn từ file Excel</a></h4>
		<form action="" method="post">{% csrf_token %}
			<table>
			<col width="160">
			<tr>
				<td>
				Nội dung
				</td>
				<td>
				<i style="color:red">{{ content_error }}</i>
				<font><br /><small><b>Lưu ý:</b> Nội dung tin nhắn chỉ được phép chứa tối đa 160 ký tự.</small><br>
				<textarea onKeyPress="return taLimit(this)" onKeyUp="return taCount(this,'myCounter')" name="content" rows=7 wrap="physical" cols=60></textarea><br />
				Bạn đã điền <B><SPAN id=myCounter>160</SPAN></B> ký tự.</font>
				<script language = "Javascript">
				/**
				 * DHTML textbox character counter script. Courtesy of SmartWebby.com (http://www.smartwebby.com/dhtml/)
				 */
				
				maxL=160;
				var bName = navigator.appName;
				function taLimit(taObj) {
					if (taObj.value.length==maxL) return false;
					return true;
				}
				
				function taCount(taObj,Cnt) { 
					objCnt=createObject(Cnt);
					objVal=taObj.value;
					if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
					if (objCnt) {
						if(bName == "Netscape"){	
							objCnt.textContent=maxL-objVal.length;}
						else{objCnt.innerText=maxL-objVal.length;}
					}
					return true;
				}
				function createObject(objId) {
					if (document.getElementById) return document.getElementById(objId);
					else if (document.layers) return eval("document." + objId);
					else if (document.all) return eval("document.all." + objId);
					else return eval("document." + objId);
				}
				</script>
			</tr>
			<tr>
				<td>Hãy chọn người nhận</td>
				<td><br />
				<!-- 
				<select multiple="multiple" name="receiver" size="10">
				{% for u in user_list %}
					<option value="{{ u.username }}">{{ u.last_name }} {{u.first_name }}</option>
				{% endfor %}
				</select>
				 -->
				
				<div style="width:440px; height:200px; overflow: scroll; border:solid 1px">
				{% for u in user_list %}
					{% if not u.is_superuser %}
						<input type="checkbox" name="receiver" value="{{ u }}">{{ u.last_name }} {{u.first_name }}<br>
					{% endif %}
				{% endfor %}
				</div>
				</td>
			</tr>
			<tr>
			<tr>
				<td>
				Hoặc nhập số điện thoại
				</td>
				<td>
				<br /><i style="color:red">{{ phone_error }}</i>
				<font><br /><small><b>Lưu ý:</b> Các ký tự hỗ trợ: "0-9" "," ";" và dầu cách.<br />
				Số điện thoại người nhận phân cách bằng dấu dấu cách hoặc ";" hoặc ",".</small><br>
				<textarea name="phone" value="12" onkeypress="return onlyNumbers();" rows="7" wrap="physical" cols="60"></textarea>
				<script language="JavaScript">
				function onlyNumbers(evt)
				{
					var e = event || evt; // for trans-browser compatibility
					var charCode = e.which || e.keyCode;
				
					if (charCode > 32 && (charCode < 48 || charCode > 57) && charCode != 44 && charCode != 59)
						return false;
				
					return true;
				
				}
				</script>
				</td>
			</tr>
				<td></td>
				<td><br />
				<input text-align="right" type="submit" value="Gửi" /></td>
			</tr>
			</table>
		</form>
	{% endif %}
{% endblock %}
