{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<h3>Danh sách tin nhắn đã được gửi đi:</h3>
		{% if sms_list %}
			<table class="solid_border">
				<tr class="solid_border">
				<td class="solid_border">Số điện thoại</td>
				<td class="solid_border">Nội dung</td>
				<td class="solid_border">Thời gian tạo</td>
				<td class="solid_border">Thời gian sửa</td>
				<td class="solid_border">Người gửi</td>
				</tr>
			{% for s in sms_list %}
				<tr class="solid_border">
				<td class="solid_border">{{ s.phone }}</td>
				<td class="solid_border">{{ s.content }}</td>
				<td class="solid_border">{{ s.created }}</td>
				<td class="solid_border">{{ s.modified }}</td>
				<td class="solid_border">{{ s.sender }}</td>
				</tr>
			{% endfor %}
			</table>
			<br /><a href="/sms/export_excel/">Xuất ra file excel</a>
		{% else %}
		    <p>Không có tin nhắn nào đã được gửi đi.</p>
		{% endif %}
	{% endif %}
{% endblock %}

