{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
	{% if user.is_authenticated %}
		<small>Những tin nhắn gửi đi thành công - <a href="/sms/failed_sms/">Những tin nhắn gửi đi thất bại</a></small>
		<h4>Danh sách tin nhắn đã được gửi đi:</h4>
		{% if sms_list %}
            {% autopaginate sms_list 30 %}
			<table class="solid_border">
				<col width=150>
				<col width=300>
				<col width=180>
				<tr class="solid_border">
				<td class="solid_border">Số điện thoại</td>
				<td class="solid_border">Nội dung</td>
				<td class="solid_border">Thời gian tạo</td>
				</tr>
			{% for s in sms_list %}
				<tr class="solid_border">
				<td class="solid_border">{{ s.phone }}</td>
				<td class="solid_border">{{ s.content }}</td>
				<td class="solid_border">{{ s.createdFormat }}</td>
				</tr>
			{% endfor %}
			</table>
            {% paginate %}
		{% else %}
		    <p>Không có tin nhắn nào đã được gửi đi.</p>
		{% endif %}
	{% endif %}
{% endblock %}

