/* CSS Document */
body {
	width: 1024px;
	height: 100%;
	margin:0px auto;
	color:#5E5E5E;
	font:14px/18px Arial, Helvetica, sans-serif;
	background-color:#c0c0c0;
	}
	
div, ul, h2, h3, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/*----TOP PANEL----*/
#topPan{
	width: 100%;
	height:158px;
	position:relative;
	margin:0 auto;
	color:#fff;
	padding:0px;
	background:url(images/mainbg.gif) 0 0 repeat-x #fff;
	}
	
#subMenuPan{
	width:1019px; 
	height:20px; 
	position:relative;
	padding: 3px;
	background-color: #cccccc;
	}
	
#topPan img.logo{
	position:absolute;
	}

#topMenuPan{
	width:1024px; 
	height:16px; 
	position:absolute; 
	bottom:9px; 
	left:10px;
	}

#topMenu{
	height: 16px;
	float: left;
	margin-right: 10px;
	margin-top: 0px;
	}

#topUser{
	height: 16px;
	float: right;
	margin-right: 10px;
	margin-top: 0px;
	} 


#topUser p {
	margin: 0;
	}

#topUser a {
	margin: 0px 10px; 
	float: left; 
	color:#4A4A4A; 
	font:12px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; 
	text-decoration:none; 
	font-weight:bold;
	}

#subMenuPan p {
	margin: 0;
	}

#subMenuPan a {
	margin: 0px 10px; 
	float: left; 
	color:#4A4A4A; 
	font:12px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; 
	text-decoration:none; 
	font-weight:bold;
	}

#bodyPan{
	width: 100%;
	min-height: 400px;
	position:relative;
	margin:0 auto;
	background-color:#ffffff;
	padding:0px;
}

#bodyLeftPan{
	width: 700px;
	position: relative; 
	float:left;
	padding: 0 25px;
	margin-top: 25px;
}

#bodyRightPan{
	width:250px;
	min-height: 220px;
	float:left;
	border:1px solid #DADADA;
	background:#F3F3F3;
	margin-top: 20px;
}

#bodyRightPan ul li{
	margin:20px;
}
#bodyRightPan ul li a{
	text-decoration:none;
}
#bodyRightPan ul li a:hover{
	color:#797878;
	text-decoration:none;
}

/*----FOOTER PANEL----*/

/*****quyendt*****/
#footer{
	width: 100%;
	position:relative;
	margin:0 auto;
	padding: 20px 0px;
	clear: both;
	background-color:#F3F3F3;
}

a.footer{
	color:#010101;
	text-decoration:none;
	padding: 20px;
}

a.footer:hover{
	text-decoration:underline;
}

#footer p.copyright{
	color:#04496D;
	position:relative;
	font-size:12px;
}

table.solid_border{
	border-collapse:collapse;
}

td.solid_border, th.solid_border{
	border:1px solid black;
	padding:5px;
}

table.login{
	border:1px solid black;	
	padding:5px;
	}

td.login, th.login{
	border-collapse:collapse;
	}
a:link, a:active, a:visited{
	color: #0000FF;
	text-decoration:none;
	}
/*****quyendt******/