html{
	width: 80%;
	margin: 0% 10%;
}

#top{
	font-size:3em;
	padding: 15px;
}

#navi {
	float: right;
	padding: 5px;
} 

#content {
	border-top: 2px solid #000;
	background-color:#eee;
	padding: 10px;
}

#footer{
 	font-size: 0.6em;
 	margin-top: 1.5em;
 	padding: 5px;
}

