/* CSS Document */
body {
	width: 1024px;
	height: 100%;
	margin:0px auto;
	color:#5E5E5E;
	font:14px/18px Arial, Helvetica, sans-serif;
	background-color:#c0c0c0;
	}
	
div, ul, h2, h3, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/*----TOP PANEL----*/
#topPan{
	width: 100%;
	height:158px;
	position:relative;
	margin:0 auto;
	color:#fff;
	padding:0px;
	background:url(images/mainbg.gif) 0 0 repeat-x #fff;
	}
#topPan img.logo{
	position:absolute;
}

#topContactPan{width:159px; height:51px; position:absolute; top:43px; right:240px;}
#topContactPan p.callus{background:#0C71A4; color:#fff; width:64px; height:14px; line-height:14px; font-size:14px; font-weight:bold; text-transform:uppercase; padding:0px;}
#topContactPan p.no{font-size:26px; padding:4px 0 0;}

#topMenuPan{width:1024px; height:16px; position:absolute; bottom:9px; left:10px;}
#topMenuLeftPan{width:69px; height:16px; float:left; background:url(images/menu-leftbg.gif) 0 0 no-repeat;}
#topMenuMiddlePan{width	: auto; height:16px; float:left;}

#topUser{
	height: 16px;
	float: right;
	margin-right: 10px;
	margin-top: 0px;
	} 


#topUser p {
	margin: 0;
	}

#topUser a {
	margin: 0px 10px; 
	float: left; 
	color:#4A4A4A; 
	font:12px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; 
	text-decoration:none; 
	font-weight:bold;
	}


#topMenuMiddlePan ul{width:auto; height:16px;}
#topMenuMiddlePan ul li{width: 100px; height:16px; border-right:1px solid #E5E5E5; float:left;}
#topMenuMiddlePan ul li a{width:100px; height:16px; display:block; background:#fff; color:#4A4A4A; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li a:hover{background:#fff; color:#0574AF; text-decoration:none;}
#topMenuMiddlePan ul li.home{background:#fff; color:#0574AF; text-decoration:none; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li.contact{width:67px; border-right:1px solid #fff;}
#topMenuMiddlePan ul li.contact a{width:67px; height:16px; display:block; background:#fff; color:#4A4A4A; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li.contact a:hover{background:#fff; color:#0574AF; text-decoration:none;}

#topMenuRightPan{width:70px; height:16px; float:left; background:url(images/menu-rightbg.gif) 0 0 no-repeat;}
/*----/TOP PANEL----*/
/*----BODY PANEL----*/
#bodyPan{
	width: 100%;
	min-height: 400px;
	position:relative;
	margin:0 auto;
	background-color:#ffffff;
	padding:0px;
}

#bodyLeftPan{
	width: 700px;
	position: relative; 
	float:left;
	padding: 0 25px;
	margin-top: 25px;
}

#bodyRightPan{
	width:250px;
	min-height: 220px;
	float:left;
	border:1px solid #DADADA;
	background:#F3F3F3;
	margin-top: 20px;
}

#bodyRightPan ul li{
	margin:20px;
}
#bodyRightPan ul li a{
	text-decoration:none;
}
#bodyRightPan ul li a:hover{
	color:#797878;
	text-decoration:none;
}

/*----FOOTER PANEL----*/

/*****quyendt*****/
#footer{
	width: 100%;
	position:relative;
	margin:0 auto;
	padding: 20px 0px;
	clear: both;
	background-color:#F3F3F3;
}

a.footer{
	color:#010101;
	text-decoration:none;
	padding: 20px;
}

a.footer:hover{
	text-decoration:underline;
}

#footer p.copyright{
	color:#04496D;
	position:relative;
	font-size:12px;
}

table.solid_border{
	border-collapse:collapse;
}

td.solid_border, th.solid_border{
	border:1px solid black;
	padding:5px;
}

table.login{
	border:1px solid black;	
	padding:5px;
	}

td.login, th.login{
	border-collapse:collapse;
	}
a:link, a:active, a:visited{
	color: #0000FF;
	text-decoration:none;
	}
/*****quyendt******/