/* CSS Document */

#popupDiv {
    margin: 20px;
}

div.tr{
    padding-top: 10px;
}

div.notify-widget-pane {
    text-align: center;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
}

div.notify {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 2px 10px;
    background: #FFF1A8;
    border-color: #fff1bb;
    color: black;
    width: auto;
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 3px;
    visibility: visible;
    -moz-border-radius: 3px; /*firefox*/
    -webkit-border-radius: 3px; /*chrome*/
}

div.notify-widget-paneB {
    text-align: center;
    position: fixed;
    display: block;
    top: 15px;
    left: 0;
    width: 100%;
}

.no-padding{
    padding: 0;
}

li.tab-label span{
    display: None;
}

li.ui-tabs-selected span{
    display: block;
}

ul {
    list-style-type: none;
}

.messageTable {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    background:#FFFFFF;
    border: 1px solid #999999;
    border-collapse: collapse;
    position:absolute;
    margin-top: 0px;
    cursor: pointer;
    z-index:200;
}

.messageTable li:hover {
    background-color:  #BFFFFF;
    cursor: pointer;
}


/*table.main-table input.mark, table.main-table input.mark1 {*/
    /*background-color: transparent;*/
    /*border-bottom: #aaaaaa dashed thin;*/
/*}*/

/*table.main-table input.sent {*/
    /*color: #199d5d;*/
/*}*/

/*table.main-table input.mark-noedit {*/
    /*color: #bbbbbb;*/
/*}*/

/*table.main-table  input.selected {*/
    /*background-color: transparent;*/
    /*border: transparent;*/
/*}*/

/*input.selected {*/
    /*cursor: pointer;*/
    /*border: 0;*/
    /*width: 100%;*/
    /*height:24px;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*margin-left: 0;*/
    /*background-color: #f3f48d;*/
/*}*/


/*-------------------*/
table.main-table {
    margin: 5px 0 5px 0;
    font-size: 14px;
    color: #333333;
    border: solid #cccccc thin;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
    /*width: 980px;*/
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px #888888;
    -webkit-box-shadow: 1px 1px 2px #888888;
    box-shadow: 1px 1px 2px #888888;
}

table.main-table th {
    padding: 8px 4px;
    background-color: #dddddd;
    border: thin #cccccc solid;
    font-size: 13px;
}

table.main-table td {
    border: thin #dddddd inset; 
    padding: 4px;
    text-align: left;
    vertical-align: bottom;
}


/*table.main-table th.mark-column {*/
    /*width: 40px;*/
    /*padding: 8px 0;*/
/*}*/

table.main-table td.lastname {
    width: 120px;
    border-right: 0;
}

table.main-table td.firstname {
    width: 50px;
    border-left: 0;
}

/*table.main-table td.normal {*/
    /*background-color: #FFFFFF;*/
/*}*/

table.main-table td.normal {
    padding: 0px;
}
table.main-table td.noedit {
    color: #999999;
    padding: 0px;
}

table.main-table td.sent {
    background-color: #B2FFDB;
    padding: 0px;
}

table.main-table td.selected {
    background-color: #f3f48d;
    padding: 0px;
}

table.main-table td.highLight {
    background-color:  #D9FFF0;
    padding: 0px;
}

/*table.main-table td.highLight {*/
    /*background-color:  #D9FFF0;*/
/*}*/

/*table.main-table tr.highLight {*/
    /*background-color:  #D9FFF0;*/
/*}*/


#sortable tr {
    min-height: 1.5em;
}

table.main-table input{
    /*font-size: 15px;*/
    padding:2px;
}

table.main-table select {
    font-size: 13px;
    height: 23px;
    margin: 2px 2px 0 2px;
}

table.main-table input[type="text"] {
    /*font-size: 15px; */
    width: 95%;
}

table.main-table tr:nth-child(odd) {
    background-color: #eeeeee;
}

table.main-table tr:nth-child(even) {
    background-color: #ffffff;

}

table.main-table tr.selected {
    background-color: #fbec88;
}

table.main-table tr.endblock{
    background-color: #FFFFFF;
}

table.main-table tr.highLight {
    background-color:  #D9FFF0;
}

input.highLight {
    cursor: pointer;
    border: 0;
    width: 100%;
    height:22px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-color:  #D9FFF0;
    border: solid #cccccc thin;	
}

input.mark {
    cursor: pointer;
    border: 0px;
    width: 100%;
    height:22px;
    background-color:  transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0;
}


input.selected {
    cursor: pointer;
    border: 0px;
    width: 100%;
    height:22px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0;
    background-color: #f3f48d;
}

input.sent {
    cursor: pointer;
    border: 0;
    width: 100%;
    height:22px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #B2FFDB;
}
input.noedit {
    cursor: pointer;
    border: 0;
    width: 100%;
    height:22px;
    background-color:  #e2edef;

}

/*table.setting {*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-size: 14px;*/
    /*color: #333333;*/
    /*border: 1px solid #999999;*/
    /*border-radius: 3px;*/
    /*-moz-border-radius: 2px;*/
    /*-webkit-border-radius: 2px;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
    /*margin-bottom: 10px;*/
    /*padding: 10px;*/
/*}*/

.ggButton {
    background-color: #4D90FE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FE), to(#4787ED));
    background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -moz-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#4D90FE', EndColorStr = '#4787ED');
    color: #ffffff;
    font-size: 13px;
    /*font-weight: bold;*/
    padding: 3px 12px;
    margin-right: 3px;
    cursor: pointer;
    text-decoration: none;
    /*text-shadow: #0a549e 0 -1px 0;*/
}

button.ggButton{
    padding: 4px 12px;
}

a.ggButton{
    color: white;
}

.ggButton:hover {
    background-color: #364f78;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#364f78), to(#4787ED));
    background-image: -webkit-linear-gradient(top, #364f78, #4787ED);
    background-image: -moz-linear-gradient(top, #364f78, #4787ED);
    background-image: -ms-linear-gradient(top, #364f78, #4787ED);
    background-image: -o-linear-gradient(top, #364f78, #4787ED);
    text-decoration: none;

}

.ggButton:disabled {

    background-color: #c6d9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c6d9f9), to(#92abd4));
    background-image: -webkit-linear-gradient(top, #c6d9f9, #92abd4);
    background-image: -moz-linear-gradient(top, #c6d9f9, #92abd4);
    background-image: -ms-linear-gradient(top, #c6d9f9, #92abd4);
    background-image: -o-linear-gradient(top, #c6d9f9, #92abd4);
    border: 1px solid #8cb6fa;
    color: #7c7676;
    cursor: default;
    text-shadow: none;
}

.ggButton.disabled {
    background-color: #c6d9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c6d9f9), to(#92abd4));
    background-image: -webkit-linear-gradient(top, #c6d9f9, #92abd4);
    background-image: -moz-linear-gradient(top, #c6d9f9, #92abd4);
    background-image: -ms-linear-gradient(top, #c6d9f9, #92abd4);
    background-image: -o-linear-gradient(top, #c6d9f9, #92abd4);
    border: 1px solid #8cb6fa;
    color: #7c7676;
    cursor: default;
    text-shadow: none;
}

div#submenu {
    position: relative;
    text-align: left;
    padding: 10px 0px 10px 0px;
    margin-bottom: 3px;
    border-bottom: 1px solid #a49b9b;
    display: block;
}

div#tableFunction {
    position: relative;
    text-align: right;
    margin-bottom: 3px;
}

.errorlist {
    color: #CD0A0A;
}

.errorlist ul {
    width: auto;
}

.hint {
    color: #5d5858;
    position: relative;
    margin: 10px;
    bottom: 3px;
}

div.errorDiv{
    margin: 10px 2px;
    border: 1px solid #CD0A0A;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.buttonClass {
    padding: 2px;
}


div.leftInfoDiv, div.rightInfoDiv, div.confirmation, div.startYear, div.info-box {
    position: relative;
    width: auto;
    padding: 5px;
    float: left;
}

div.info-box {
    /*position: relative;*/
    /*width: auto;*/
    /*float: left;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    /*border: #bbbbbb solid thin;*/
    /*border-radius: 5px;*/
}

div#divList {
    -webkit-column-count: 4;
    -webkit-column-rule: 1px solid #bbb;
    -webkit-column-gap: 4em;

    -moz-column-count: 4;
    -moz-column-rule: 1px solid #bbb;
    -moz-column-gap: 4em;

    column-count: 4;
    column-rule: 1px solid #bbb;
    column-gap: 4em;

    padding: 10px;

    display: block;
}

#divList li {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}


div#tabs ul li{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

input.ui-autocomplete-input{
    float: left;
}

div.autocomplete button{
    float: left;
    height: 23px;
    width: 21px;
}



/* HELP page */
div#help {
    color: #333333;
}

div#help p, h3 {
    padding: 5px;
    color: #999999;
}

.leftAlign{
    text-align: left;
}
.rightAlign{
    text-align: right;
}
.centerAlign{
    text-align: center;
}


table.dataform {
    margin: 10px 0px;
    border: #ffffff thin groove;
    background-color:  #eeeeee;
    
    -moz-box-shadow: 1px 1px 5px #888888;
    -webkit-box-shadow: 1px 1px 5px #888888;
    box-shadow: 1px 1px 5px #888888;
}

table.dataform th {
    padding: 5px;
    font-size: 14px;
    text-align: right;
    color: #666666;
}

table.dataform td {
    /*background-color:  #ffffff;*/
    padding: 5px;
    font-size: 14px;
    text-align: left;
}

table.dataform input, table.dataform select, table.dataform textarea {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #bbbbbb;
    text-align: left;
    background-color:  #ffffff;
}
