/* CSS Document */

* {
    margin:0;
    padding:0
}

html {
    width: 100%;
    min-width: 1024px;
}

body {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #595959;
    /*font: 14px/18px Arial, Helvetica, verdana, sans-serif;*/
    font: 14px/16px "Lucida Grande", "Lucida Sans", verdana, sans-serif;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

#popupDiv{
   margin: 20px;   
}
div.notify-widget-pane{
   text-align: center;
   position: fixed;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
}

div.notify{
   font-size: 12px;
   font-weight: bold;
   text-align: center;   
   padding: 2px 10px;
   background: #FFF1A8;
   border-color: #fff1bb;
   color: black;
   width: auto;
   display: inline-block;
   border: 3px solid transparent;
   border-radius: 3px;
   visibility: visible;
   -moz-border-radius: 3px; /*firefox*/ 
   -webkit-border-radius: 3px; /*chrome*/
   
}

div.notify-widget-paneB{
   text-align: center;
   position: fixed;
   display: block;
   top: 15px;
   left: 0px;
   width: 100%;
}


ul {
    list-style-type: none;
}

table.styleC{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    border: 1px solid #999999;
    border-collapse: collapse;
    margin-bottom: 10px;
	
}


table.styleC tr {
    background-color:#FFFFFF;
    cursor: pointer;
    vertical-align: bottom;
}
table.styleC tr:hover {
    background-color:  #FFFF8C;
}

table.styleB {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    border: 1px solid #999999;
    border-collapse: collapse;
}

table.styleB th {
    padding: 2px;
    background-color: #c3dde0;
    border: 1px solid #a9c6c9;
}

table.styleB th.selected{
    background-color: #f3f48d;
}

table.styleB tr {
    background-color: #d4e3e5;	
    cursor: pointer;
}

table.styleB td {
    border: 1px solid #a9c6c9;
}

table.styleB td.normal {
    background-color:  #FFFFFF ;
}
table.styleB td.noedit {
    background-color: #d4e3e5;
}

table.styleB td.sent{
    background-color: #B2FFDB;
}

table.styleB td.selected{
    background-color: #f3f48d;
}

table.styleB tr:hover {
    background-color: #f0f1c3;
}

table.styleB tr.selected {
    background-color: #f3f48d;
}
input.mark {
	cursor: pointer;
	border:0px;
	width: 21px;
	height: 20px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
}
input.selected {
	cursor: pointer;
	border:0px;
	width: 21px;
	height: 20px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-color: #f3f48d;	
}

input.sent {
	cursor: pointer;
	border:0px;
	width: 21px;
	height: 20px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-color: #B2FFDB;
}




table.styleA {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    border: 1px solid #999999;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}

table.styleA th {
    background-color: #c3dde0;
    padding: 8px;
    border: 1px solid #a9c6c9;
}

table.styleA th.mark {
    background-color: #c3dde0;
	width:40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #a9c6c9;
}
table.styleA td.lastname {
	width:120px;
	border-right:0px;
}
table.styleA td.firstname {
	width:50px;
	border-left:0px;
}


#sortable tr{
    min-height: 1.5em;
}

table.styleA input {
    width: 95%;
}

table.styleDetail th {
    text-align: right;
}

table.styleA tr:nth-child(odd){
    background-color: #d8eef1;
    cursor: pointer;
}

table.styleA tr:nth-child(even){
    background-color: #e2edef;
    cursor: pointer;
}

table.styleA tr.thead {
    background-color: #aacbd0;
    cursor: auto;
}

table.styleA tr:hover {
    background-color: #f0f1c3;
}

table.styleA tr.focused{
    background-color: #e6f577;
}

table.styleA tr.selected {
    background-color: #f5f681;
}

table.styleA td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: #a9c6c9;
    text-align: left;
}

.errorlist {
    color: red;
}

.errorlist ul {
    width: auto;
}

.buttonClass{
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;	
}
/*
|-----------------------------------------------|
|                                                                  userTop    |   header
|                 nav                                                            l
|-----------------------------------------------|
|          content                                                             |
|                                                                                  |    section main
|                                                                                  |
|                                                                                  |
|                                                                                  |
|-----------------------------------------------|
|            footer                                                              |   footer
|-----------------------------------------------|
*/

/*----TOP PANEL----*/
header {
    /*min-width: 1024px;*/
    width: 100%;
    height: 80px;
    position: relative;
    margin: 0 auto;
    color: #fff;
    background-color: #4d94d7;
    padding: 0px;
}

header img.logo {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 15px;
}

header p {
    position: absolute;
    top: 5px;
    left: 120px;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black
}

header p#detail {
    position: absolute;
    left: 120px;
    top: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #ffe804;
}

#topUser {
    width: auto;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 1px;
}

#topUser ul {
    width: auto;
    height: 20px;
}

#topUser ul li {
    width: auto;
    height: 30px;
    float: left;
}

#topUser ul li a {
    width: 80px;
    height: 20px;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 3px 0px 3px;
}

#topUser ul li a:hover {
    background: #fff;
    color: #4d94d7;
    text-decoration: none;
}

nav {
    height: 24px;
    position: relative;
    top: 56px;
    /*left: 10px; *//*background-color:red;*/
    width:auto;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    width: auto;
    height: 22px;
}

nav ul li {
    width: auto;
    height: 22px;
    float: left;
}

nav ul li a {
    width: auto;
    height: 22px;
    display: block; /*background-color:blue;*/
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 2px 10px 0px;
}

nav ul li a:hover {
    background: #fff;
    color: #4d94d7;
    text-decoration: none;
}

/*----BODY PANEL----*/
/*#bodyPanel {*/
    /*position:relative;*/
    /*width:100%;*/
    /*height:100%;*/
    /*min-height: 300px;*/
    /*margin-top: 5px;*/
/*}*/

/*#bodyPanel h2 {*/
    /*height: 30px;*/
    /*color: #00111A;*/
    /*font: 24px/24px Georgia, "Times New Roman", Times, serif;*/
    /*margin-bottom: 10px;*/
/*}*/

/*#bodyPanel p {*/
    /*padding: 3px 0 0;*/
/*}*/

/*#bodyPanel p span {*/
    /*background: #fff;*/
    /*color: #046598;*/
    /*font-weight: bold;*/
/*}*/

/*aside {*/
    /*background-color: #F3F3F3;*/
    /*color: #1A1A1A;*/
    /*min-width: 160px;*/
    /*float: left;*/
    /*position:relative;*/
    /*top:10px;*/
    /*left:5px;*/
/*}*/

/*aside ul {*/
    /*width: auto;*/
    /*margin: 0px 0px 0px 0px;*/
    /*border: 1px solid #DADADA;*/
/*}*/

/*aside ul li {*/
    /*width: auto;*/
    /*height: 32px;*/
/*}*/

/*aside ul li a {*/
    /*width: auto;*/
    /*height: 22px;*/
    /*display: block;*/
    /*background-color: #F3F3F3;*/
    /*color: #1A1A1A;*/
    /*text-decoration: none;*/
    /*padding: 5px 15px 0px 15px;*/
/*}*/

/*aside ul li a:hover {*/
    /*background-color: #4d94d7;*/
    /*text-decoration: none;*/
/*}*/

section#main{
    margin: 15px 10px 15px;
}

/*---- RIGHT CONTENT----*/
#rightContent {
    margin: 10px 25px 2px 190px;
}

/*---- CONTENT TOP----*/
#contentTop {
    background-color: #F3F3F3;
}

#content {
    width:100%;
    position:relative;
}

div.infoContent {
    width: 100%;
    display: inline-block;
}

div.leftInfoDiv {
    width: auto;
    float: left;
    border-right: 1px solid #DADADA;
    padding: 20px;
    text-align: right;

}

div.rightInfoDiv {
    position: relative;
    width: auto;
    padding: 20px;
    border-right: 1px solid #DADADA;
    float: left;
    text-align: right;
}

div.rightInfoDivMain {
    text-align: left;
}

div.infoContent {
    width: 100%;
    display: inline-block;
}

div.leftInfoDiv {
    width: auto;
    float: left;
    border-right: 1px solid #DADADA;
    padding: 20px;
}

div.rightInfoDiv {
    position: relative;
    width: auto;
    padding: 20px;
    float: left;
}

#content h2 {
    color: #4d94d7;
    font: 24px/24px Georgia, "Times New Roman", Times, serif;
    margin: 5px 0 5px 0;
}

#content h2 span {
    background: #fff;
    color: #4d94d7;
}

#content h3 {
    color: #4d94d7;
    font: 20px/20px Georgia, "Times New Roman", Times, serif;
    padding: 15px 0 0px 0;
}

#content h3 span {
    background: #fff;
    color: #4d94d7;
}
#content h4  {
    color: #4d94d7;
    font: 18px/18px Georgia, "Times New Roman", Times, serif;
    padding: 15px 0 0px 0;
}

#content p {
    padding: 3px 0 0;
}

#content p span {
    background: #fff;
    color: #046598;
    font-weight: bold;
}

#content ul {
    width: auto;
    margin: 5px 0 0;
}

#content ul li {
    width: auto;
    height: 20px;
}

#content ul li a {
    width: 390px;
    height: 20px;
    color: #1A1A1A;
    text-decoration: underline;
    padding: 0 0 0 0px;
}

#content ul li a:hover {
    width: 390px;
    height: 20px;
    color: #676363;
    text-decoration: underline;
}

/*----FOOTER PANEL----*/
footer {
    margin:20px;
    padding: 6px 0 6px;
    border-top: thin solid #c0c0c0;
    display:block;
}

footer p {
    color:#999;
    font-size:80%;
    text-align:center
}

/*DL, DT, DD TAGS LIST DATA*/
dl {
    width: 100%;
    overflow: hidden;
}

dt {
    float: left;
    clear: left;
    width: 200px; /* adjust the width; make sure the total of both is 100% */
    background: #c3dde0;
    font-weight: bold;
}

dd {
    padding: 0;
    margin: 0;
    float: left;
}


#sitemap {
    overflow:hidden;
    backgroud-color:red;
}

.thumb {
    float: left;
    width: 180px;
    border: 1px solid #999;
    margin: 0 15px 15px 0;
    padding: 5px;
}

#sitemap h3 {
    display:block;
    /*background-color:black;*/
    padding: 5px 5px 10px;
}

#sitemap ul li {
    height: 30px;
    width: 170px;
    padding: 5px 5px 5px;
}

#sitemap ul li a {
    display:block;
    padding: 5px 5px 5px;
    text-decoration: none;
    width: 170px;
}

#sitemap ul li a:hover{
    background-color: #4d94d7;
    color: #ffffff;
    width: 160px;
}

