{% extends "base.html"%}
{% block content %}
<script language="javascript">
	function submitTerm()
	{	
		if (document.info.term.value!={{termChoice}})
			document.info.submit();
	}
</script>
<table border="0" width=100% >
<form action="/school/xepLoaiHlTheoLop/{{class_id}}"  name="info" method="post" id='myform' 
	>{% csrf_token %}
	<input type="hidden" name="termChoice" value="">	

	<tr>
		<td align="center"  style="font-size:25px" >
			<b>Bảng điểm tổng kết </b>
		</td>
	</tr>
	<tr>
	<td>Lớp :&nbsp {{selectedClass.name}}</td>
	</tr>
	
	
	<tr>								
		
		<td width ="50%" title="Chọn học kỳ hoặc chọn cả năm" > Học kỳ &nbsp&nbsp:  
		<select name="term" onclick="submitTerm();" >				
			{% for term in termList %}
					<option   value={{ term.id }} selected> {{ term}} </option>	
			{% endfor %}	
			
			{% ifnotequal currentTerm.number 1 %}
				<option value=-2 > Cả năm </option>
			{% endifnotequal %}	
			
		</select>
		</td>					
	</tr>

	<tr>
	<td>&nbsp </td>
	</tr>
	
<script type="text/javascript" >
	if ({{termChoice}}>0)
		document.info.term.value={{termChoice}};
	else	
		document.info.term.value=-2;
</script>		
	<tr>
	<td>
		<table class="styleA" width="100%">
		<tr>
			<td  align="center" width="1%">
				Stt
			</td>	
			<td  align="center" width="18%">
				Họ và tên
			</td>	
			<td align="center" width="10%">			
				Ngày sinh
			</td>	
			{% for s in subjectList %}
				<td width ="5%" align="center">
					{{s.name}}
				</td>				
			{% endfor %}	
			<td width ="7%" align="center" >
			  TB			
			</td>
			<td width="7%" align="center">
				Học lực
			</td>
		</tr>
		{% for p,m in list %}
			<tr>
				<td align="center">
					{{forloop.counter}}	
				</td>
				<td>
					{{ p.last_name }}&nbsp {{ p.first_name }}					
				</td>
				<td>
					{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
				</td>
				{% for s in m %}
					<td align="center">
					{% ifequal s "" %}
						&nbsp
					{% else %}						
						{{ s }}
					{% endifequal %}	
					</td>
				{% endfor %}
				
			</tr>
		{% endfor %}
		</table>
	</td>	
	</tr>	
</form>	
</table>


{% endblock %}
