<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% block title %}
<title> QLNT </title>
{% endblock %}
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>


<div id="topPan">
	<a href="{% url views.index%}"><img src="/static/css/images/qlnt_logo.png" width="100" height="100" border="0" /></a>
	<div id="topMenuPan">
	  	{% if user.is_authenticated %}
	  	<div id="topUser">
			<p>Xin chào,&nbsp </p> <p><a href="#" > {{user.username}}</a>,&nbsp</p><p><a href="{%url django.contrib.auth.views.logout %}">Đăng Xuất</a></p>
			  
	  	</div>
	  	<div id="topUser">
	  	<a href="#">Thay đổi mật khẩu </a> 	
	  	</div>
	  		{% if user.is_superuser%}
	  		{% else%}
	  			{% if user.userprofile.position == 'GIAO_VIEN' or user.userprofile.position == 'HOC_SINH' or user.userprofile.position == 'HIEU_TRUONG' or user.userprofile.position == 'HIEU_PHO'%}
	  			<meta HTTP-EQUIV="REFRESH" content="0; url=school">
	  		{% endif %}
	  		{% endif %}
	  	{% else %}
		  	<div id="topUser">
		  		<ul>
			 	<a href="/login">Đăng nhập</a>
			 	</ul>
			</div>
		{% endif %}
	</div>
</div>


<div id="bodyPan">
	<table><tr><td>
	<div id="bodyRightPan">
		{% block left_menu %}
	{% if user.is_superuser %}
		<ul>
			<li><a href="/admin">Trang Quản Trị Hệ Thống</a></li>
			<li><a href="/app/list_org">Sơ đồ tổ chức</a></li>
			<li><a href="{% url sms.views.manual_sms %}">Gửi tin nhắn</a></li>
			<li><a href="{% url app.views.school_admin_add %}">Thêm Người Quản Lý Trường</a></li>
		</ul>
	{% endif %}	
	{% if user.userprofile.position == 'GIAM_DOC_SO' or user.userprofile.position == 'TRUONG_PHONG' %}
		<ul>
			<li><a href="/app/list_org">Danh sách các Tổ chức trực thuộc</a></li>
			<li><a href="{% url sms.views.manual_sms %}">Gửi tin nhắn</a></li>
			<li><a href="#">Thống kê báo cáo</a></li>
			<li><a href="{% url app.views.school_admin_add %}">Thêm Người Quản Lý Trường</a></li>
		</ul>
	{% endif %}
  	{% endblock %}
 	</div></td>
  	<td><div id="bodyLeftPan">
	  	{% block content %}
	  	{% endblock %}
  	</div></td>
  	</tr></table>
  
</div>

<div id="footermainPan">
  	<div id="footerPan">
	  	<ul>
				<li><a href="#">Liên hệ</a></li>
				<li><a href="/help">Trợ giúp</a></li>
		</ul>
	<p class="copyright">©SchoolTool phát triển bởi Viettel & UET-VNU.</p>	
		<ul class="templateworld">
			<li><a href="http://uet.vnu.edu.vn" target="_blank">University of Engineering and Technology.</a></li>
	
  		</ul>
  	</div>
</div>
</body>
</html>
