{% extends "base.html" %}

{% block content %}
  <div id="singleContent">
    <h2>Liên hệ với chúng tôi</h2>
    Để đăng ký sử dụng hoặc góp ý hoặc thông báo lỗi xin vui lòng
    liên hệ với chúng tôi bằng cách:
    <ul>
      <li> - Gửi email đến truongphothong@gmail.com hoặc</li>
      <li> - Gọi điện thoại đến: 0462880168 hoặc </li>
      <li> - Gửi yêu cầu theo mẫu sau:</li>
    </ul> 
    <form action="" method="post">{% csrf_token %}
      <table class="styleA">
        {% for field in form %}
          <tr>
            <td>{{ field.label }}:</td>
            <td>{{ field.errors }}
              {{ field }}
            </td>
          </tr>
        {% endfor %}
      </table>
      <input type='submit' value='Gửi'/>
    </form>
  </div>
{% endblock %}