{% extends "base.html" %}

{% block content %}
<div id="submenu">
<a href="#intro" class="ggButton">Giới thiệu</a>
<a href="#help" class="ggButton">Hướng dẫn sử dụng</a>
</div>
  <h2 id="intro">Giới thiệu</h2>
<div id="help">
  <p>
    Đây là dịch vụ phần mềm quản lý nhà trường phổ thông được Viettel và ĐHQG Hà Nội hợp tác phát triển và cung cấp miễn
    phí.<br/>
    Sau khi đăng ký sử dụng, nhà trường sẽ quản lý được các thông tin về như hồ sơ học sinh, giáo viên, điểm, hạnh kiểm,
    điểm danh, lịch học, lớp học, thời khóa biểu, và nhà trường có thể iên lạc với phụ huynh qua tin nhắn (điểm, bỏ học,
    kỷ luật, thông báo).
  </p>
  <h3>Đối tượng người sử dụng</h3>
  <p>
    Phần mềm phục vụ các đối tượng chính là: Hiệu trưởng, Hiệu phó, Giáo viên, Học sinh, Phụ huynh
    và Cán bộ cấp Sở, Phòng Giáo dục.<br/>
  </p>

  
  
  <h3>Yêu cầu</h3>
  <p>
    Phần mềm đang phát triển cho trình duyệt Chrome, tải về <a href="http://www.google.com/chrome">ở đây</a>.<br/>
  </p>

  <h3>Góp ý</h3>
  <p>
    Người sử dụng có thể sử dụng chức năng <b>Góp ý</b> ở ngay phía trên các màn hình để gửi bất kỳ góp ý nào về
    màn hình hiện tại của người sử dụng. Thông tin sẽ được gửi ngay cho nhóm để xem xét.
    Chúng tôi rất mong nhận được góp ý của người sử dụng.
  </p>

  <h3>Phiên bản</h3>
  <p>
    Phiên bản 0.4, ngày 15/8/2011: Đã đẩy đủ các chức năng ban đầu để nhà trường bắt đầu sử dụng: quản lý lớp, học sinh,
    giáo viên, điểm, điểm danh, khen thưởng kỷ luật, hạnh kiểm, học tập, quản lý giáo viên, nhắn tin SMS.
    <br/>
  </p>
  <p>
    Đang xây dựng các báo cáo tổng hợp và xuất dữ liệu ra Excel. Hoàn thiện chức năng cho giáo viên và học sinh.
  </p>

</div>

  <br/><br/>
  <h2 id="help">Hướng dẫn sử dụng phần mềm</h2>
<div id="help">
  <p>
    Phần mềm có giao diện tự nhiên để người sử dụng hiểu nghiệp vụ có thể sử dụng được ngay. 
  </p>
  
  <p>Màn hình đầu tiên sẽ liệt kê các chức năng chính thường dùng và các lớp học của người sử dụng.
  Các chức năng khác được tổ chức theo ngữ cảnh. Ví dụ trên màn hình đang hiển thị danh sách lớp học thì có các chức năng liên quan đến lớp học được hiển thị. Nếu trên màn hình là danh sách học sinh thì các chức năng của học sinh sẽ được hiển thị. 
  </p>
</div>
{% endblock %}