{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
	<p>
    <h4><b>Hệ thống quản lý nhà trường</b></h4>
    FreeSchool phát triển bởi Viettel & UET-VNU.
    </p>
    <p>
    <h4><b>Đối tượng phục vụ:</b></h4>
    - Nhân viên, cán bộ thuộc các cấp Sở Giáo dục, Phòng Giáo dục, <br />
    Hiệu trưởng, Hiệu phó, giáo viên, nhân viên các trường học.<br />
    - Học sinh, phụ huynh học sinh.
    </p>
    <h4><b>Mục đích</b></h4>
    - Hệ thống quản lý điểm, thông báo, báo cáo điểm danh cho từng trường học.<br />
    - Cung cấp chức năng báo cáo cho các cấp.<br />
    - Học sinh, phụ huynh học sinh.
    </p>
    <h4><b>Câu hỏi thường gặp:</b></h4>
    </p>
    
{% endblock %}

