{% extends "base.html" %}

{% block content %}
    <h4>Dịch vụ phần mềm quản lý nhà trường</h4>
    Đây là dịch vụ phần mềm quản lý nhà trường phổ thông được Viettel và ĐHQG Hà Nội hợp tác phát triển và cung cấp miễn phí.<br/> 
    Sau khi đăng ký sử dụng, nhà trường sẽ quản lý được các thông tin về:<br/> 
     - Học tập của học sinh (điểm, chuyên cần, đánh giá)<br/>
     - Lịch học, lớp học, thời khóa biểu, <br/>
     - Liên lạc với phụ huynh (nhắn tin về điểm, bỏ học, kỷ luật, thông báo)<br/>
     - TODO <br>
    
    <h4>Đối tượng phục vụ</h4>
    - Nhân viên, cán bộ thuộc các cấp Sở Giáo dục, Phòng Giáo dục, <br />
    - Hiệu trưởng, Hiệu phó, giáo viên, nhân viên các trường học.<br />
    - Học sinh, phụ huynh học sinh.
    <h4>Mục đích</h4>
    - Hệ thống quản lý điểm, thông báo, báo cáo điểm danh cho từng trường học.<br />
    - Cung cấp chức năng báo cáo cho các cấp.<br />
    - Học sinh, phụ huynh học sinh.
    
    <h4>Ưu điểm của việc sử dụng dịch vụ phần mềm này</h4>
    - Truy cập mọi lúc mọi nơi có Internet.<br />
    - Không cần cài đặt, quản trị, trả tiền.<br />
{% endblock %}

