{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}
  
{% block navi %}
	<a href ="/">Index</a> - <a href="/help">help</a> - 
	{% if user.is_authenticated %}
		Welcome {{user.username}}! <a href="/logout">logout</a> 
	{% else %} 
	 	<a href="/login">login</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	    <h1> Temporary menu </h1> 
	    <a href="/admin/">Admin</a> <br> 
	    <a href="/school">Trường</a><br>
	    <a href="/app/timetable">Timetable</a><br>
	    <a href="/app/systemdatatype">System - Data Type</a><br>
	    <a href="/app/markbyperiod">Mark table</a><br>
	{% else %}
		You need login to use system.
	{% endif %}
{% endblock %}

{% block footer %}
&copy 2011 - VNU Hanoi & Viettel
{% endblock %}
