{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}
  
{% block navi %}
	<a href ="/">Index</a> - <a href="/help">help</a> - 
	{% if user.is_authenticated %}
		Welcome {{user.username}}! <a href="/logout">logout</a> 
	{% else %} 
	 	<a href="/login">login</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
			<h1>System administrator menu</h1> 
			<a href="/admin">Admin</a> <br> 
		{% else %}
			<h1>School administrator menu</h1> 
			<a href="/classes">Classes</a> <br>
			<a href="/mark_table">Mark table</a> <br>
			<a href="/students/import/">Mark table</a> <br>
		{% endif %}
			<a href="/messages">Message</a><br>
	{% else %}
		You need login to use system.
	{% endif %}
{% endblock %}

{% block footer %}
&copy 2011 - VNU Hanoi & Viettel
{% endblock %}
