{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}
  
{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
			<a href="/admin">Admin</a> <br> 
		{% else %}
			<h1>School administrator menu</h1> 
			<a href="/classes">Classes</a> <br>
			<a href="/mark_table">Mark table</a> <br>
			<a href="/students/import/">Mark table</a> <br>
		{% endif %}
		<a href="/messages">Message</a><br>
	{% else %}
		<br>You need to login to use system.
	{% endif %}
{% endblock %}
