{% extends "base.html" %}

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
  > Người sử dụng
{% endblock %}

{% block content %}
  {% if user.username == profile.user.username %}
    <h2>Thông tin tài khoản: {{ user.username }}</h2>
    {% if profile %}
      <div id="submenu">
        <a href="{% url profiles_edit_profile %}" class="ggButton">Chỉnh sửa</a>
{#        <a href="{% url app.views.change_password %}" class="ggButton">Đổi mật khẩu </a>#}
        <a class="ggButton" href="/school/password_change">Đổi mật khẩu</a>
        {% if user.userprofile.username_change == 0 %}
          <a class="ggButton" href="/school/username_change">Đổi tên tài khoản</a>
        {% endif %}
      </div>
      <table class="dataform">
        <tr>
          <th>Họ và tên:</th>
          <td> {{ profile.user.first_name }} {{ profile.user.last_name }}</td>
        </tr>
        <tr>
          <th>Tổ chức:</th>
          <td> {{ profile.organization }}</td>
        </tr>
        <tr>
          <th>Vị trí:</th>
          <td> {{ profile.position }}</td>
        </tr>
        <tr>
          <th>Điện thoại: </th>
          <td> {{ profile.phone }}</td>
        </tr>
        <tr>
          <th>Ghi chú:</th>
          <td> {{ profile.notes }}</td>
        </tr>
      </table>
      </div>
    {% else %}
    {% endif %}
  {% endif %}
{% endblock %}
	