{% extends "base.html" %}

{% block content %}
	{%if user.username == profile.user.username%}
		<h2>Thông tin tài khoản: {{user.username}}</h2>
		{% if profile %}
			<a href="{% url profiles_edit_profile %}">Chỉnh sửa</a></dd>
			&nbsp &nbsp<a href="/app/change_password/">Đổi mật khẩu </a></dd>
				<div class="fieldWrapper">
			        {{form.username.errors }}
				</div>
				<dl>
					<dt>Họ và tên:</dt> <dd> {{ profile.user.first_name }} {{profile.user.last_name}}</dd>
					<dt>Tổ chức:</dt> <dd> {{ profile.organization }}</dd>
					<dt>Vị trí:</dt> <dd> {{ profile.position }}</dd>
					<dt>Số điện thoại:</dt> <dd> {{ profile.phone }}</dd>
					<dt>Ghi chú:</dt> <dd> {{profile.notes}}</dd>
					<dt>Lần đăng nhập gần đây nhất:</dt> <dd> {{ profile.user.last_login|date:"F j, Y" }}</dd>
				</dl>
			</div>
		{% else %}
		{% endif %}
	{% endif %}
{% endblock %}
	