{% extends "base.html" %}

{% block content %}
<h2>Thêm lớp học</h2>
{% if message != None %}
	{{message}} <br>
{% endif %}


<form action="/school/addclass" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table class="styleA styleDetail" >
		<tr>
			<th><label for="id_name">Tên lớp(*):</label></th>
			<td>
				{{form.name.errors }}
        {{ form.name }}
			</td>		
		</tr>
    
		<tr>
			<th><label for="id_teacher_id">Giáo viên chủ nhiệm:</label></th>
			<td>
				{{ form.teacher_id.errors }}
				{{ form.teacher_id }}			
			</td>		
		</tr>    
    
		<tr>
			<th><label for="id_year_id">Năm học:</label></th>
			<td>
				{{ form.year_id.errors }}
				{{ form.year_id }}			
			</td>		
		</tr>    
      
      <tr>
			<th><label for="id_block_id">Khối(*):</label></th>
			<td>
				{{ form.block_id.errors }}
				{{ form.block_id }}							
			</td>      
      </tr>  
	</table>
   <br> 
   <input class = "ggButton" type = "submit"  title =""value="Thêm"/>
   <a href="{%url school.views.school_index  %}classes" title="Quay lại danh sách lớp"> <input class="ggButton" type="button"value ="Quay lại"></a>
</form>
{% endblock %}
