{% extends "school/base_school.html" %}

{% block content %}
{% if message != None %}
{{message}}
{% endif %}


<form action="/school/subjects/add" method="post">{% csrf_token %}
    <div class ="form_settings">
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{form.subject_code.errors }}
        <p><span><label for="id_subject_code">Mã Môn:</label></span>
            {{ form.subject_code }}</p>
    </div>
    
    <div class="fieldWrapper">
        {{form.class_id.errors }}
        <p><span><label for="id_class_id">Lớp:</label></span>
        {{ form.class_id }}</p>
    </div>
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <p><span><label for="id_name">Môn:</label></span>
            {{ form.name }}</p>
    </div>

    <div class="fieldWrapper">
        {{ form.hs.errors }}
        <p><span><label for="id_hs">Hệ số:</label></span>
            {{ form.hs }}</p>
    </div>

    <div class="fieldWrapper">
        {{ form.teacher_id.errors }}
        <p><span><label for="id_teacher_id">Tên Giáo Viên</label></span>
            {{ form.teacher_id }}</p>
    </div>

    <div class="fieldWrapper">
        {{form.term_id.errors }}
        <p><span><label for="id_term_id">Kì học:</label></span>
            {{ form.term_id }}</p>
    </div>
    
    <p><input type="submit" value="submit" /></p>
</div>
</form>
{% endblock %}
