{% extends "base.html" %}

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
  > <a href="{% url school.views.school_index %}classes">Toàn trường</a>
  > Thêm lớp
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function() {
            $("#id_name").change(function() {
                var names = $(this).val().split(" ");
                if (isNaN(parseInt(names[0]))) {
                    $("#submit").attr('disabled', true);
                    alert('Tên lớp bắt đầu bằng số và dấu cách, ví dụ 10 A, 10 B..');
                }
                else{
                    if ((parseInt(names[0]) >= {{ up }}) || (parseInt(names[0]) < {{ low }})){
                        $("#submit").attr('disabled', true);
                        alert('Khối ngoài khoảng [{{ low }}, {{ up }})');
                    }
                    else
                        $("#submit").removeAttr('disabled');
                }
            });
        });
    </script>
    <h2>Thêm lớp học</h2>
    {% if message != None %}
        {{ message }} <br>
    {% endif %}

    <form action="/school/addclass" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <table class="dataform">
            <tr>
                <th><label for="id_name">Tên lớp(*):</label></th>
                <td>
                    {{ form.name.errors }}
                    {{ form.name }}
                </td>
            </tr>

            <tr>
                <th><label for="id_phan_ban">Phân ban(*):</label></th>
                <td>
                    {{ form.phan_ban.errors }}
                    {{ form.phan_ban }}
                </td>
            </tr>
                        
            <tr>
                <th><label for="id_teacher_id">Giáo viên chủ nhiệm:</label></th>
                <td>
                    {{ form.teacher_id.errors }}
                    {{ form.teacher_id }}
                </td>
            </tr>

            <tr>
                <th><label for="id_year_id">Năm học:</label></th>
                <td>
                    {{ form.year_id.errors }}
                    {{ form.year_id }}
                </td>
            </tr>
        </table>
        <input class="ggButton" type="submit" id="submit" title="Thêm lớp học" value="Thêm"/>
    </form>
{% endblock %}
