<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% block title %}
<title>{{ school.name }}</title>
{% endblock %}
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
<div id="topPan">
	<a href="index.html"><img src="/static/css/images/logo.png" alt="Hệ thống quản lý trường {{ school.name }}" width="1200" height="50" border="0"  class="logo" title="Hệ thống quản lý trường {{ school.name }}"/></a>
		
  <p>{{school.name}}</p>
		
  <div id="topContactPan">
  </div>
	<div id="topMenuPan">
	  <div id="topMenuLeftPan"></div>
	  
	  <div id="topMenuMiddlePan">
	  	<ul>
			<li class="home"><a href="#" class="home">Trang chủ</a></li>
			<li><a href="#">Các năm </a></li>
			<li><a href="#">Giáo viên</a></li>
			<li><a href="#">Lớp học</a></li>
			<li><a href="#">Học sinh</a></li>
			<li><a href="#">Thống kê</a></li>
			<li><a href="#">Liên hệ</a></li>
			<li class="contact"><a href="#" class="contact">Trợ giúp</a></li>
		</ul>
	  </div>
	  <div id="topMenuRightPan"></div>
	  <div id="topUser">
			<p>Xin chào <a href="#" > {{user.username}} </a>, <a href="#">Logout</a></p>	  
	  </div>
	</div>
</div>

<div id="bodyPan">
	<div id="bodyRightPan">
	{% block left_menu %}
  	<h2><span>Menu</span> chính</h2>
	<ul>
		<li><a href="#">Danh sách giáo viên</a> </li>
		<li><a href="#">Phân công giảng dạy</a> </li>
		<li><a href="#">Danh sách lớp học</a> </li>
		<li><a href="#">Điểm tổng kết toàn trường</a> </li>
	</ul>
	<h2><span>Tùy chỉnh</span> chính</h2>
	<ul>
		<li><a href="#">Nhập học sinh từ file excel</a> </li>
		<li><a href="#">Nhập học sinh bằng tay</a> </li>
		<li><a href="#">Phân lớp</a></li>
		<li><a href="#">Chỉnh sửa danh sách tên lớp học</a> </li>
		<li><a href="#">Chỉnh sửa danh sách môn học</a> </li>
		<li><a href="#">Thông tin trường học</a> </li>
	</ul>
		<h3>Những thay đổi gần đây</h3>
		<p class="more"><a href="#">Xem thêm</a></p>
  {% endblock %}
  </div>  
  <div id="bodyLeftPan">
  	{% block content %}
  	{% endblock %}
  </div>
  
  
</div>

<div id="footermainPan">
  <div id="footerPan">
  	<ul>
		<li><a href="#">Trang chủ</a> | </li>
		<li><a href="#">Các năm trước</a> | </li>
		<li><a href="#">Quản lý giáo viên</a> | </li>
		<li><a href="#">Quản lý lớp học</a> | </li>
		<li><a href="#">Quản lý học sinh</a> | </li>
		<li><a href="#">Thống kê</a> | </li>
		<li><a href="#">Liên hệ</a> | </li>
		<li><a href="#">Trợ giúp</a> | </li>
	</ul>
	<p class="copyright">©SchoolTool phát triển bởi Viettel & UET-VNU.</p>	
	<ul class="templateworld">
  	<li>design by:</li>
	<li><a href="http://www.templateworld.com" target="_blank">Template World</a></li>
	<li>modified by:</li>
	<li><a href="http://uet.vnu.edu.vn" target="_blank">University of Engineering and Technology.</a></li>
	
  </ul>
  </div>
</div>
</body>
</html>
