<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% block title %}
<title>{{ user.userprofile.organization.name }}</title>
{% endblock %}
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
<div id="topPan">
	<a href="{%url school.views.school_index %}"><img src="/static/css/images/logo.png" alt="Hệ thống quản lý trường {{ user.userprofile.organization.name }}" width="1200" height="50" border="0"  class="logo" title="Hệ thống quản lý trường {{ user.userprofile.organization.name }}"/></a>
		
  <p>{{user.userprofile.organization.name}}</p>
		
  <div id="topContactPan">
  </div>
	<div id="topMenuPan">
	  <div id="topMenuLeftPan"></div>
	  
	  <div id="topMenuMiddlePan">
	  	<ul>
			<li class="home"><a href="{%url school.views.school_index %}" class="home">Trang chủ</a></li>
			{% if user.userprofile.organization.status != 0%}
			<li><a href="{%url school.views.years %}">Các năm </a></li>
			<li><a href="{%url school.views.teachers %} ">Giáo viên</a></li>
			<li><a href="{%url school.views.classes %}">Lớp học</a></li>
			<li><a title="Sẽ thống kê dữ liệu của kỳ hiện tại" href="{%url school.viewCount.countInSchool %}">Thống kê</a></li>
			{% endif %}
			<li><a href="#">Liên hệ</a></li>
			<li class="contact"><a href="#" class="contact">Trợ giúp</a></li>
		</ul>
	  </div>
	  <div id="topMenuRightPan"></div>
	  <div id="topUser">
			<p>Xin chào,&nbsp </p> <p><a href="#" > {{user.username}}</a>,&nbsp</p><p><a href="{%url django.contrib.auth.views.logout %}">Logout</a></p> 	  
	  </div>
	</div>
</div>

<div id="bodyPan">
	<div id="bodyRightPan">
	{% block left_menu %}
	{% if user.userprofile.position == 'HIEU_TRUONG'  or user.userprofile.position == 'HIEU_PHO' %}
  	<h2><span>Menu</span> chính</h2>
	<ul>
		{% if user.userprofile.organization.status == 0  or user.userprofile.organization.status == 3 %}
		<li><a href="{%url school.views.b1 %}">Bắt đầu năm học mới</a> </li>
		{% endif %}
		{% if user.userprofile.organization.status != 0 %}
		<li><a href="{%url school.views.teachers %}">Danh sách giáo viên</a> </li>
		<li><a href="#">Phân công giảng dạy</a> </li>
		<li><a href="{%url school.views.classes %}">Danh sách lớp học</a> </li>
		<li><a title="Tính điểm tổng kết toàn trường và quyết định kết thúc học kỳ" href="{%url school.viewFinish.finish %}">Tính điểm tổng kết toàn trường</a> </li>
		{% endif %}
	</ul>
	<h2><span>Tùy chỉnh</span> chính</h2>
	<ul>
		{% if user.userprofile.organization.status != 0 %}
		<li><a href="{%url school.views.b1  %}/import">Nhập học sinh từ file excel</a> </li>
		<li><a href="{%url school.views.b1 %}/manual">Nhập học sinh bằng tay</a> </li>
		<li><a href="#">Phân lớp</a></li>
		{% endif %}
		<li><a href="{%url school.views.class_label %}">Chỉnh sửa danh sách tên lớp học</a> </li>
		<li><a href="#">Thông tin trường học</a> </li>
	</ul>
		{%if user.userprofile.organization.status != 0 %}		
		<h3>Những thay đổi gần đây</h3>
		<p class="more"><a href="#">Xem thêm</a></p>
		{% endif %}
  {% else %}
  		{% if user.userprofile.position == 'GIAO_VIEN'%}
		<h2><span>Menu</span> chính</h2>
		<ul>
			<li><a href="#">Lớp chủ nhiệm</a> </li>
			<li><a href="#">Các lớp giảng dạy</a> </li>
			<li><a href="#">Quản lý điểm</a> </li>
		</ul>
		<h3>Những thay đổi gần đây</h3>
		<p class="more"><a href="#">Xem thêm</a></p>
		{% else %}
			{% if user.userprofile.position == 'HOC_SINH' %}
				<h2><span>Menu</span> chính</h2>
				<ul>
					<li><a href="#">Lớp học</a> </li>
					<li><a href="#">Điểm</a> </li>
					<li><a href="#">Điểm danh</a> </li>
					<li><a href="#">Khen thưởng</a> </li>
					<li><a href="#">Kỉ luật</a> </li>
					
				</ul>
				<h3>Những thay đổi gần đây</h3>
				<p class="more"><a href="#">Xem thêm</a></p>
				{% else %}
					{% if user.userprofile.position == 'GIAO_VU'%}
					{% endif %}	
			{% endif %}
  		{% endif %}	 	
  {% endif %}
  {% endblock %}
  </div>  
  <div id="bodyLeftPan">
  	{% block content %}
  	{% endblock %}
  </div>
  
  
</div>

<div id="footermainPan">
  <div id="footerPan">
   <ul>
		<li><a href="#">Trang chủ</a> | </li>
		<li><a href="#">Các năm trước</a> | </li>
		<li><a href="#">Quản lý giáo viên</a> | </li>
		<li><a href="#">Quản lý lớp học</a> | </li>
		<li><a href="#">Quản lý học sinh</a> | </li>
		<li><a href="#">Thống kê</a> | </li>
		<li><a href="#">Liên hệ</a> | </li>
		<li><a href="#">Trợ giúp</a> | </li>
	</ul>
	<p class="copyright">©FreeSchool phát triển bởi Viettel & UET-VNU.</p>	
	<ul class="templateworld">
  	<li>design by:</li>
	<li><a href="http://www.templateworld.com" target="_blank">Template World</a></li>
	<li>modified by:</li>
	<li><a href="http://uet.vnu.edu.vn" target="_blank">University of Engineering and Technology.</a></li>
	
   </ul>
  </div>
  
</div>
</body>
</html>
