<html>

<head>
	<title>
		{% block title %}
			School Administration
		{% endblock %}
	</title>
	{% block js %}
	{% endblock %}
	{% block css %}
		<link rel="stylesheet" href="/static/css/screen.css" media = "screen, protection" />
		<link rel="stylesheet" href="/static/css/print.css" media = "print" />
		<!--[if IE]>
		<link rel="stylesheet" href="/static/css/ie.css" media = "screen, protection" />
		<![endif]-->
	{% endblock %}
</head>
<body>
	<div class="container showgrid"> <!-- showgrid is for development, release -> remove it-->
		<div class="span-24 border_bot">
		{% block banner %}
			<h1>School Administrator</h1>
		{% endblock %}
		</div>
		<div class="span-24 border_bot">
		{% block navi %}
			<div class="span-4 border_right">
				{% block info %}
				Slide Bar
				{% endblock %}
			</div>
			<div class="span-10">
				<div class="span-3">
					Menu 1
				</div>
				<div class="span-3">
					Menu 2
				</div>
				<div class="span-3 last">
					Menu 3
				</div>
			</div>
			<div class="span-6 right last">
					<a href ="/">Index</a> - <a href="/help">help</a> - 
					{% if user.is_authenticated %}
						Welcome {{user.username}}! <a href="/logout">logout</a> 
					{% else %} 
		 				<a href="/login">login</a>
					{% endif %}
			</div>
		{% endblock %}	
		</div>
		<div class="span-24">
			<div class="span-4 border_right">
				{% block slidebar %}
				<ul>Entry 1</ul>
				<ul>Entry 2</ul>
				<ul>Entry 3</ul>
				<ul>Entry 4</ul>
				<ul>Entry 5</ul>
				{% endblock %}
			</div>
			<div class="span-19">
				{% block content %}
					{% if user.is_authenticated %}
						You logged in school.
					{% else %}
						You need login to use system.
					{% endif %}
				{% endblock %}
			</div>
		</div>
		<div class="span-24 border_top">
			{% block footer %}
				&copy developed by UET-VNU & Viettel
			{% endblock %}
		</div>
	</div>
</body>
</html>
