{% extends "base.html" %}

{% block content %}
 <h2>Các lớp học</h2>
{% if message != None %}
{{message}}
{% endif %}

<script>
    $(document).ready(function(){
        $("select[name=teacher_id]").each(function() {
            $(this).change(function() {
                var id = $(this).parents("tr").attr('class').split(' ')[0];
                var teacher_id = $(this).val();
                var data = { id: id, teacher_id:teacher_id, request_type:'update'}
                var arg = { type:"POST",
                    url:"",
                    data: data,
                    datatype:"json"
                };
                $.ajax(arg);
                return false;

            });
        });
    });
function confirmDelete()
{
    return confirm("Bạn có chắc chắn xóa không?");
}
</script>

<table class="styleA" width = "100%" >
	<tr>
		<th align="center"> STT</th>
		<th align="center"><a href="{%url school.views.school_index  %}classes/1/{{next_status}}"> Tên Lớp </a></th>
		<th align="center"> Sỹ số </th>
		<th align="center"><a href="{%url school.views.school_index  %}classes/3/{{next_status}}">Giáo Viên Chủ Nhiệm</a></th>
		<th align="center"><a href="{%url school.views.school_index  %}classes/4/{{next_status}}"> Năm </a></th>
        {%if pos >= 4 %}
            <th align="center"></th>
        {% endif %}
	</tr>
	<form action="/school/classes/{{sort_type}}/{{sort_status}}" method="post">{% csrf_token %}
	{% for class, f, n in list %}
	<tr class = "{{class.id}}">
		<td align="center"> {{forloop.counter}}</td>
		<td align="center"><a href="{%url school.views.school_index  %}viewClassDetail/{{class.id}}" >{{class.name}} </a></td>
		<td align="center"> {{n}} </td>
		{%if pos >= 4 %}
            <td align="center"> {{f.teacher_id}} </td>
        {% else %}        
            <td align="center"> {{class.teacher_id}} </td>
        {% endif %}
		<td align="center"> {{class.year_id}} </td>
        {%if pos >= 4 %}
            {% ifequal n  0 %}
                <td align="center"> <a href="{%url school.views.school_index  %}deleteClass/{{class.id}}" onclick="return confirmDelete();"> xóa </a></td>
            {% else %}
                <td align="center"> <a href="" onclick="alert( 'Lớp vẫn còn học sinh, vui lòng xóa hết học sinh trước' );"> xóa </a></td>
            {% endifequal %}
        {% endif %}
	</tr>
	{% endfor %}
	
</table>
{%if pos >= 4 %}
    <input type="submit" class = "ggButton" value="Cập nhật" />
    <a href = "{%url school.views.school_index %}addclass" class = "ggButton">Thêm lớp học</a>
{% endif %}
</form>

{% endblock %}
