{% extends "school/base_school.html" %}

{% block content %}
<table border=0 align = "center" width="100%">
	<tr>
		<td width="50%" align = "center"><a href="{%url school.views.school_index  %}diemdanh/{{class_view.id}}">Điểm danh</a></td>
		<td width="50%" align = "center"><a href="{%url school.views.school_index  %}hanhkiem/{{class_view.id}}">Hạnh Kiểm</a></td>
	</tr>
</table>
<h1>Lớp {{class_view.name}} năm học {{class_view.year_id}}</h1>
<ul>
<li><a title="Xem tất cả thông tin của các học sinh trong lớp" href = "{%url school.views.school_index  %}studentPerClass/{{class_view.id}}">Quản lý học sinh</a></li>
<li><a title="Xem tất cả thông tin của của môn học trong lớp"  href = "{%url school.views.school_index  %}subjectPerClass/{{class_view.id}}">Quản lý môn học</a></li>
<li><a title="Nhập hoặc chỉnh sửa điểm của tất cả các môn trong lớp" href = "{%url school.views.school_index  %}markTable/{{class_view.id}}">Quản lý điểm</a></li>

<li><a href = "">Tổng kết hạnh kiểm</a></li>
<li><a title="Tự động tính trung bình học lực của cả lớp" href = "{%url school.views.school_index  %}xepLoaiHlTheoLop/{{class_view.id}}">Tổng kết học lực</a></li>
{% ifnotequal class_view.year_id.school_id.status 1 %}
	<li><a  title="Tự động xếp loại cả năm của lớp" href = "{%url school.views.school_index  %}xlCaNamTheoLop/{{class_view.id}}">Tổng kết cả năm</a></li>
{% else %}
	<li><a title="Chức năng này đã bị vô hiệu hóa vì đang trong học kỳ I" >Tổng kết cả năm</a></li>
{% endifnotequal  %}

</ul> 

{% endblock %}
