  {% extends "school/base_school.html"%}  
{% block content %}
	{% if message != None %}
	{{message}}
	{% endif %}
<p align="center" style="font-size:25px"> <b> Thống kê học lực cả năm <br>
	 Năm học :{{ yearString}}  </b>
<p>
	
<br>
<br>
<br>
<span style="font-size:18px" > <b> <u>A.THỐNG KÊ TOÀN TRƯỜNG: </u> </b> </span><br>

<br>
<br>
<table border=1 width="100%">
	<tr> 
		<td width="14%">
		</td>
		<td width="14%" align="center">
			Giỏi
		</td>
		<td width="14%" align="center">
			Khá
		</td>
		<td width="14%" align="center">
			Trung bình
		</td>
		<td width="14%" align="center">
			Yếu
		</td>
		<td width="14%" align="center">
			Kém
		</td>
		<td width="14%" align="center">
			Chưa xếp loại
		</td>		
	</tr>
	<tr>
		<td align="center">
			Số lượng
		</td>
		{% for h in totalSlList %}
		<td align="center">
			{{h}}
		</td>
		{% endfor %}
	</tr>
	<tr>
		<td align="center">
			Phần trăm
		</td>
		{% for h in totalPtList %}
		<td align="center">
			{{h|floatformat:"2"}}
		</td>
		{% endfor %}
	</tr>
</table>
<br>
<br>
<span style="font-size:18px" > <b> <u>B.CHI TIẾT TỪNG LỚP: </u> </b> </span><br>
<br>
<b>I.Tính theo số lượng: </b> <br>
<br>
<br>
<table border=1 width="100%">
	<tr> 
		<td width="14%" align="center">
		    Lớp
		</td>
		<td width="14%" align="center">
			Giỏi
		</td>
		<td width="14%" align="center">
			Khá
		</td>
		<td width="14%" align="center">
			Trung bình
		</td>
		<td width="14%" align="center">
			Yếu
		</td>
		<td width="14%" align="center">
			Kém
		</td>
		<td width="14%" align="center">
			Chưa xếp loại
		</td>		
	</tr>

	
	{% for c,sl in slList %}
	<tr>
		<td  align="center">
			{{c.name}}
			
		</td>
		{% for s in sl %}
		<td  align="center">
			{{s}}
		</td>		
		{% endfor %}
	</tr>
	{% endfor %}

</table>
<br>
<br>	
<b>II.Tính theo phần trăm: </b> <br>
<br>
<br>
<table border=1 width="100%">
	<tr> 
		<td width="14%" align="center">
		    Lớp
		</td>
		<td width="14%" align="center">
			Giỏi
		</td>
		<td width="14%" align="center">
			Khá
		</td>
		<td width="14%" align="center">
			Trung bình
		</td>
		<td width="14%" align="center">
			Yếu
		</td>
		<td width="14%" align="center">
			Kém
		</td>
		<td width="14%" align="center">
			Chưa xếp loại
		</td>		
	</tr>
	
	{% for c,sl in ptList %}
	<tr>
		<td  align="center">
			{{c.name}}
			
		</td>
		{% for s in sl %}
		<td  align="center">
			{{s|floatformat:"2"}}
		</td>		
		{% endfor %}
	</tr>
	{% endfor %}

</table>

	
	
	
{% endblock %}	
	
	
	
