{% extends "school/base_school.html" %}

{% block content %}
<script>

$(document).ready(function(){
	$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
	});

	var done = function(json){
		if (json.phone != null)		
			newLine = "<p>Đã nhắn tới số: "+json.phone+"    : "+ json.message+"</p>";
		else
			newLine = "<p>Tin nhắn: " + json.message + " chưa gửi được do không có số người dùng.";		
		$("#note").append(newLine);
	};	
	var sendSmS = function(){
	   var id = $(this).attr('name');
		var select = "tr." + id + " > td:has(select) > select ";
		var loai = $(select).val();
		var data = { id:id, loai:loai };
		//alert(window.location.pathname);
		var arg ={ type:"POST", 
					  url:"", 
					  data:data, 
					  datatype:"json", 
					  success:done
	   }; 
      $.ajax( arg);		
		return false;
	};
   
   var sendSelected = function(){
		var id = $(this).attr('class').split(' ')[0];
		var select = "tr." + id + " > td:has(select) > select ";
		var loai = $(select).val();
		var data = { id:id, loai:loai };
		//alert(window.location.pathname);
		var arg ={ type:"POST", 
					  url:"", 
					  data:data, 
					  datatype:"json", 
					  success:done
	   }; 
      $.ajax( arg);		  
   }
	var select = function(){
		if ($(this).hasClass('selected')){
			$(this).removeClass('selected');		
		} else {
			$(this).addClass('selected');
		}	
	};
	$(".sms").each(function(){
		$(this).click( sendSmS );
		
	});
	$("tr").each(function(){
		$(this).click( select );
	});
	
	$("#sendSelected").click( function(){
		$(".selected").each( sendSelected );
		return false;	
	});
	
	$("#selectAll").click( function(){
		$("tr").each( select );
		if ($(this).text() == "Chọn cả lớp")		
			$(this).text("Bỏ chọn cả lớp");
		else
			$(this).text("Chọn cả lớp");
		return false;		
	});
});

</script>


<h1>Danh sách điểm danh lớp {{cl}} ngày {{day}}/{{month}}/{{year}}</h1>
<br>
<form action="/school/diemdanh/{{class_id}}/{{day}}/{{month}}/{{year}}" method="post">{% csrf_token %}
<br>
{% if message != None %}
    {{message}}
{% endif %}
<div id="note">
</div>
<br>
<button id="selectAll">Chọn cả lớp</button>
<button id="sendSelected">Gửi SMS cho những học sinh đã chọn</button>
<table class="styleA" >

    <tr>
        <th align="center" width="3%"> STT </th>
        <th align="center" width="15%"> Họ Tên </th>
        <th align="center" width="10%"> Ngày sinh</th>
        <th align="center" width="7%"> Giới tính </th>
        <th align="center" width="8%"> Điểm danh </th>
        <th align="center" width="10%">&nbsp</th>
    </tr>
        {% for p,f in list %}
            <tr class="{{p.id}}">
                <td align="center" width="5%">
                    <p>{{forloop.counter}}</p>
                </td>
            
                <td align="center" width="15%">
                    <p>{{ p.last_name }}&nbsp{{ p.first_name }}</p>
                </td>

                <td align="center" width="10%">
                    <p>{{ p.birthday|date:"SHORT_DATE_FORMAT" }}</p>
                </td>

                <td align="center" width="7%">
                    <p>{{ p.sex }}</p>
                </td>

                <td align="center" width="8%">
                    {{ f.loai.errors }}
                    {{ f.loai }}
                </td>
                <td align="center" width="20px">
						  <input type="submit" value="sms" name="{{p.id}}" class="sms" />                
                </td>
            </tr>
        {% endfor %}
</table>
<input type ="submit" value="Cập nhật"/>
</form>

{% endblock %}
