{% block content %}
<br>

<h2>Những buổi nghỉ của {{pupil}} học kì {{term}}</h2>
<br>
<form action="/school/diemdanhhs/{{student_id}}" method="post">{% csrf_token %}
        
<table class="styleA" >

    {% if count > 0 %}

        <tr>
            <th align="center"> STT </th>
            <th align="center"> Ngày</th>
            <th align="center"> Loại </th>
        </tr>
        {% for f in form %}
            <tr>
                <td align="center">
                    <p>{{forloop.counter}}</p>
                </td>
                <td align="center">
                    <p>{{ f.time|date:"SHORT_DATE_FORMAT" }}</p>
                </td>

                <td align="center">
                    <p>{{ f.loai }}</p>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Học sinh hiện chưa nghỉ buổi nào</p>
    {% endif %}
</form>
        
{% endblock %}
