{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function() {
      var note = '';
      var done = function(json) {
        if (json.message != null)
          $.fancybox({
            'title': "Các tin nhắn đã gửi",
            'content': json.message
          });
        else
          $.fancybox({
            'title': "Thông báo",
            'content': 'Bạn chưa chọn học sinh nào.'
          });
        $(".selected").each(select);
        $("#selectAll").text("Chọn cả lớp");
      };
      var sendSmS = function() {
        var id = $(this).attr('name');
        var select = "#f_" + id;
        var loai = $(select).text();
        var data = id + '-' + loai;
        //alert(window.location.pathname);
        var arg = { type:"POST",
          url:"",
          data:{data: data, request_type:'sms'},
          datatype:"json",
          success:done
        };
        $.ajax(arg);
        return false;
      };

      var sendSelected = function() {

        var data = '';
        $(".selected").each(function() {
          var id = $(this).attr('class').split(' ')[0];
          var select = "#f_" + id;
          var loai = $(select).text();
          var element = id + '-' + loai;
          data = data + ':' + element;
        });

        var arg = { type:"POST",
          url:"",
          data:{data: data, request_type:'sms'},
          datatype:"json",
          success:done
        };
        $.ajax(arg);
        return false;
      }
      var select = function() {
        if (!$(this).hasClass('thead')){
            var id = $(this).attr('class').split(' ')[0];
            var checkboxid = '#checkbox_' + id;
            var checkboxall = '#checkbox_all'
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $(checkboxid).prop("checked", false);
                var n = $("input:checked").length;
                if ( n == 1) $(checkboxall).prop("checked", false);;
            } else {
                $(this).addClass('selected');
                $(checkboxid).prop("checked", true);
                $(checkboxall).prop("checked", true);
            };
        }
      }
        
      $(".sms").each(function() {
        $(this).click(sendSmS);
        note = '';
      });
      $("tr").each(function() {
        $(this).click(select);
      });
      $("#checkbox_all").click( function(){
            var checkboxall = '#checkbox_all'
            if($(checkboxall).is(':checked')){
                $("tr").each( function(){
                    var id = $(this).attr('class').split(' ')[0];
                    var checkboxid = '#checkbox_' + id
                    if (!$(this).hasClass('selected'))
                        $(this).trigger('click');
                });
            }
            else {
                $("tr").each( function(){
                    var id = $(this).attr('class').split(' ')[0];
                    var checkboxid = '#checkbox_' + id
                    if ($(this).hasClass('selected'))
                        $(this).trigger('click');
                });
            }
        });      
      $("#sendSelected").click(sendSelected);

      $("#selectAll").click(function() {
        $("tr").each(select);
        return false;
      });

      $("select[name=loai]").each(function() {
        $(this).change(function() {
          var id = $(this).parents("tr").attr('class').split(' ')[0];
          var loai = $(this).val();
          var data = { id: id, loai:loai, request_type:'update'}
          var arg = { type:"POST",
            url:"",
            data: data,
            datatype:"json"
            
          };

          $.ajax(arg);

        });
      });


    });

</script>

<h2>Danh sách học sinh lớp {{cl}} nghỉ học ngày {{day}}/{{month}}/{{year}}</h2>
<br>
<form action="/school/diemdanh/{{class_id}}/{{day}}/{{month}}/{{year}}" method="post">{% csrf_token %}
<br>
{% if message != None %}
    {{message}}
{% endif %}
<br>
{% if pos > 1%}
    <button id="selectAll">Đảo chọn</button>
    <button id="sendSelected">Gửi SMS cho những học sinh đã chọn</button>
    <a href="{%url school.views.school_index  %}diemdanh/{{class_id}}/{{day}}/{{month}}/{{year}}"> <input type="button" value = "Quay lại" > </input> </a>
{% endif %}
<table class="styleA" >

    <tr class="thead">
        {% if pos > 1%}
            <th align="center" width="2%"> 
                <input type="checkbox" id="checkbox_all"/>
            </th>
        {% endif %}    
        <th align="center" width="3%"> STT </th>
        <th align="center" width="15%"> Họ Tên </th>
        <th align="center" width="10%"> Ngày sinh</th>
        <th align="center" width="7%"> Giới tính </th>
        <th align="center" width="8%"> Điểm danh </th>
        {% if pos > 1%}
        <th align="center" width="10%">&nbsp </th>
        {% endif %}
    </tr>
        {% for p,f in list %}
            <tr class="{{p.id}}">
                {% if pos > 1%}
                    <td align="center" width="2%">
                        <input type="checkbox" id="checkbox_{{p.id}}"/>
                    </td>
                {% endif %}
                <td align="center" width="5%">
                    <p>{{forloop.counter}}</p>
                </td>
            
                <td align="center" width="15%">
                    <p>{{ p.last_name }}&nbsp{{ p.first_name }}</p>
                </td>

                <td align="center" width="10%">
                    <p>{{ p.birthday|date:"SHORT_DATE_FORMAT" }}</p>
                </td>

                <td align="center" width="7%">
                    <p>{{ p.sex }}</p>
                </td>

                <td align="center" id="f_{{p.id}}" width="8%">{{f}}</td>
                {% if pos > 1%}
                <td align="center" width="20px">
						  <input type="submit" value="sms" name="{{p.id}}" class="sms" />                
                </td>
                {% endif %}
            </tr>
        {% endfor %}
</table>
</form>

{% endblock %}
