<script language="JavaScript" type="text/javascript" >
	
	var temp = "{{enableChangeMark}}";
	if (temp == "True") enableChangeMark = true;
	else enableChangeMark = false;

	temp = "{{enableSendSMS}}";
	if (temp == "True") enableSendSMS = 1;
	else enableSendSMS = 0;
	
	
	if ("{{selectedTerm.number}}" == 2)
		isSecondTerm = 1;
	else	
		isSecondTerm = 0; 
		
	var isComment="{{selectedSubject.nx}}"=="True";
	//window.addeventListener('keydown', function(e) {
	//if ((e.keyCode==38) || (e.keyCode==38))
	//	e.preventDefault()
	//}, false);

	var length={{lengthList}} + 1;
	var oldAr     = new Array(length);
	var newAr     = new Array(length); 
	var enableEdit= new Array(length);
	var tempNewAr = new Array(length); 
	
	var sentMark  = new Array(length);
	var tempSent  = new Array(length);
	
	var idAr  = new Array(length);
	var hk1Ar = new Array(length);
	var messageNote	 = new Array(length);
	
	var indexId = 0;
	var indexHk1= 0;
	var latestTime =0;
	var idTeacher = "{{selectedSubject.teacher_id.id}}";
	//var position  = "{{user.userprofile.position}}";
	//che do lam viec
	var activeMode = 0;
	var currentId =0;
    var numberId  =0;	
	var haveError = false;
	
	for(var i=1;i<length;i++)
	{	
		oldAr[i]     = new Array(20);
		newAr[i] 	 = new Array(20);
		tempNewAr[i] = new Array(20); 
		sentMark[i]  = new Array(20);
		tempSent[i]  = new Array(20);
		enableEdit[i]= new Array(20); 
	}	
	for(var i=1;i<length;i++)
		for(var j=1;j<20;j++)
			{
				newAr[i][j]=-1;
				oldAr[i][j]=-1;
			}	
	
function catchEnter(e)
{
	  	
      if (!e) e = window.event; 
      var code = (e.keyCode) ? e.keyCode : e.which;
	if ((code == 13) || (code == 3) || (code==9)) 
	{
		return false;
	}	
	else return true;
}

window.onload = function() { 
	document.onkeydown = catchEnter;		
};
window.onerror= function(){
	haveError=true;	
	window.location.reload();
};
   

	function acceptDigits(tb,keyCode)
	{
		
		if (tb.readOnly) return;
		/*
		if (tb.value=="-")
		{
			tb.value="10";
			return;
		}
		*/
		
		var exp = /[^((\d).,)]/g;
		tb.value=tb.value.replace(exp,'');		
		
		var exp1 = /[,]/g;
		tb.value=tb.value.replace(exp1,'.');		
		
		
		var value=tb.value;
		//kiem tra xem no co nhieu hon hai dau cham hay ko
		
		var countDot=0;
		for(var i=0;i<value.length;i++)
			if (value.charAt(i)==".") 
				countDot++;
				
		if (countDot>1)
			tb.value=value.substring(0,value.length-1);
			
		if (tb.value.length>4)	
			tb.value=tb.value.substring(0,4);
			
		var number=parseFloat(tb.value);
		if ((10<number ) && (number<100))
		{
			var temp=number/10;
			tb.value=temp.toString();
		}
		if (number>=100)
			tb.value=tb.value.substring(0,2);				
		if ((tb.value.length==2) && (tb.value[0]=='0'))
		{
			var temp = number / 10;
			tb.value = temp.toString();
		}		
	}	
	
	function validateComment(tb,keyCode)
	{
		if (tb.readOnly) return;
		var ok=true;	
		var value=tb.value.toLowerCase();
		var length=value.length;
		if ((value!="g") && (value!="k") &&
		(value!="tb")&& (value!="t")&& (value!="y") &&
		(value!="ke") && (value!="kem")
		&& (value!="kém"))
		{
			tb.value=value.substring(0,length-1);
		}
		if (value=='t')
			tb.value='TB'
		else
		if ((value=='ke') | (value=='kem' ) | (value=='kem '))
			tb.value='Kem';
		else
			tb.value=tb.value.toUpperCase();
	}
	
	function returnMove()
	{
		for(var i=0;i<2;i++)
			if (document.info.move[i].checked)
				return i;
	}
	function highLight(tb)
	{
		if (activeMode==1) return;
		var number = parseInt(tb.id/100);	
		var table = document.getElementById("markTable");
		//alert(number+"cccc");	
		table.rows[number+2].className="high-light";
//		for(var i=1;i<20;i++)
//		{
//			var name = number*100+i;
//			var temp = document.getElementById(name);
//			if (temp)
//				temp.className = "highLight";
//		}
	}	
	function loseHighLight(tb)
	{
		if (activeMode==1) return;
		var number = parseInt(tb.id/100);	
		table.rows[number+2].className="";
	}
	function direction(nameNumber,valueOfMove)
	{
		var lengthList={{lengthList}};		
		if (valueOfMove==1)			
		while(true){
			if (parseInt(nameNumber/100)==lengthList)
				nameNumber=100+nameNumber % 100;
			else					
				nameNumber=nameNumber+100;	
				
			var cell=document.getElementById(nameNumber);
			if (cell.value!=undefined)
			{
				cell.focus();
				break;
			}			
		}		
		else
		if (valueOfMove==0)			
		while(true){
			if (nameNumber % 100==19)
				nameNumber=parseInt(nameNumber/100)*100+101
			else
				nameNumber=nameNumber+1;
				
			var cell=document.getElementById(nameNumber);
			if (cell)
				if (cell.value!=undefined)
				{
					cell.focus();
					break;
				}
		}		
				
	}
	function controlDirection(tb,event)
	{
		//ert("ttt");
		//alert(event);
		var keycode=event.keyCode;
		var name=tb.id;
		var nameNumber=parseInt(name);
		var lengthList={{lengthList}};		
		//alert(keycode);
		if ((keycode==32) | (keycode==13) | (keycode==9))
		{
			valueOfMove=returnMove();
			direction(nameNumber,valueOfMove);
		}	
		else	
		if ((keycode==40))
		{
			while(true){
				if (parseInt(nameNumber/100)==lengthList)
					break;
				else					
				{
					nameNumber=nameNumber+100;					
				}	
				var cell=document.getElementById(nameNumber);
				if (cell.value!=undefined)
				{
					cell.focus();
					break;
				}
			}		
		}
		else
		if (keycode==38)
		{
			while(true){
				if (parseInt(nameNumber/100)==1)
					break;
				else		
				{	
					nameNumber=nameNumber-100;					
				}	
				var cell=document.getElementById(nameNumber);
				if (cell.value!=undefined)
				{
					cell.focus();
					break;
				}
			}		
		}
		else
		if (keycode==37)
		{	
			while(true){
				if (nameNumber % 100==1) break;
				else
				{
					nameNumber=nameNumber-1;				
				}	
				var cell=document.getElementById(nameNumber);
				if (cell.value!=undefined)
				{
					cell.focus();
					break;
				}
			}		
		}
		else
		if (keycode==39)
		{
			while(true){
				if (nameNumber % 100==19) break;
				else
				{
					nameNumber=nameNumber+1;				
				}	
				var cell=document.getElementById(nameNumber);
				if (cell)
					if (cell.value!=undefined)
					{
						cell.focus();
						break;
					}
			}		
		}
	}
	
	function convertToDigit(value)
	{
		//alert(value);
		var value1=value.toLowerCase();
		
		if (value1=="g")
			return 9;
		else
		if (value1=="k")
			return 7;
		else						
		if ((value1=="tb"))
			return 6;
		else						
		if (value1=='y')
			return 4
		else
		if (value1=='kem')	
			return 1
		else
			return -1;
	}
	function convertToChar(value)
	{
		if (value==9)
			return "G";
		else
		if (value==7)
			return "K";
		else
		if (value==6)
			return "TB";
		else
		if (value==4)
			return "Y";
		else
		if (value==1)
			return "Kem";
		else
			return "";			
	}
	function  control(tb,event)
	{
		//alert(event.keyCode);
		if (isComment)
			validateComment(tb,event.keyCode);
		else	
			acceptDigits(tb,event.keyCode);
		//ntrolDirection(tb,event);				
		var keyCode = event.keyCode;
		if ((keyCode==37) || (keyCode==38)|| (keyCode==39) || (keyCode==40)
			|| (keyCode==32) || (keyCode==13) || (keyCode==9))
			tb.select();
	}
	
	function setArrayId(id)
	{
		indexId++;
		idAr[indexId] = id;
	}
	function setArrayHk1None()
	{
		indexHk1++;
		hk1Ar[indexHk1] = -1;
		newAr[indexHk1][17] = -1;
		
	}
	function setArrayHk1(value)
	{
		indexHk1++;
		hk1Ar[indexHk1]     = value;
		newAr[indexHk1][17] = value;
	}
	function setSentMark(str)
	{
		for(var i=1;i<20;i++)
			sentMark[indexId][i]=parseInt(str[i-1]);
	}
	function setMark(index,value)
	{
		var name=indexId*100+index;
		var tb=document.getElementById(name);
		if (tb.value==undefined) return;
		
		if (value=='None')
			tb.value='';	
		else
		{	
			if (value=='10.0')
				tb.value='10';
			else			
			if (value[value.length-1]=='0')
				tb.value=value[0];
			else	
				tb.value=value;
		}	
	}
	function convertToComment()
	{
		var name;
		for(var i=1;i<20;i++)
			{
				name = indexId*100+i;
				var tb=document.getElementById(name);
				if (tb)
				{
					if (tb.value!=undefined)
						tb.value=convertToChar(tb.value);
					else
						tb.innerHTML = convertToChar(tb.innerHTML); 
				}				
			}
	}	
</script>
