{% extends "base.html" %}

{% block content %}
<script language="JavaScript" type="text/javascript" >
function submitClass(){
        if (document.info.class.value!={{class.id}})
        if (document.info.class.value!=-1)
        {	
            window.location = "{%url school.views.school_index  %}hanhkiem/"+document.info.class.value;
        }	
}

$(document).ready(function(){
        $(".submitbutton").attr("disabled", true);
        $("select[name=term1]").each(function() {
            $(this).change(function() {
                var id = $(this).parents("tr").attr('class').split(' ')[0];
                var term1 = $(this).val();
                var data = { id: id, term1:term1, request_type:'term1'};
                var arg = { type:"POST",
                    url:"",
                    data: data,
                    datatype:"json",
                    error: function(){
                        $(".submitbutton").attr("disabled", false);
                    }
                };
                $.ajax(arg);
                return false;

            });
        });

        $("select[name=term2]").each(function() {
            $(this).change(function() {
                var id = $(this).parents("tr").attr('class').split(' ')[0];
                var term2 = $(this).val();
                var data = { id: id, term2:term2, request_type:'term2'};
                var arg = { type:"POST",
                    url:"",
                    data: data,
                    datatype:"json",
                    error: function(){
                        $(".submitbutton").attr('disabled', false);
                    }
                };
                $.ajax(arg);
                return false;

            });
        });

        $("select[name=year]").each(function() {
            $(this).change(function() {
                var id = $(this).parents("tr").attr('class').split(' ')[0];
                var y = $(this).val();
                var data = { id: id, year:y, request_type:'year'};
                var arg = { type:"POST",
                    url:"",
                    data: data,
                    datatype:"json",
                    error: function(){
                        $(".submitbutton").attr('disabled', false);
                    }
                };
                $.ajax(arg);
                return false;

            });
        });
    });
</script>

<form action="" name = "info" method = "post">{% csrf_token %}
    <h2> Hạnh kiểm lớp
    <select name="class" onchange="submitClass()">       
        <option value = -1> {{class}} </option>
        {% for cl in classList %}
            {%if cl.id != class.id%}
            <option  value={{cl.id }}> {{cl}}</option>		
            {%endif%}
        {% endfor %}		
    </select>
    năm {{year}}
    </h2>
</form>

<form action="/school/hanhkiem/{{class.id}}" method="post">{% csrf_token %}       
{%if pos > 3%}
<input type ="submit" class="ggButton submitbutton" value="Cập nhật"/>
{%endif%}
<a href="{%url school.views.school_index  %}viewClassDetail/{{class.id}}" title ="Quay về danh sách lớp"> <input class="ggButton" type ="button" value="Quay lại"/></a>
    <table class="styleA" width = "75%">

    <tr>
        <th align="center" width="5%"> STT </th>
        <th align="center" width="20%"> <a href="{%url school.views.school_index  %}hanhkiem/{{class.id}}/1/{{next_status}}">Họ tên </a></th>
        <th align="center" width="10%"> <a href="{%url school.views.school_index  %}hanhkiem/{{class.id}}/2/{{next_status}}">Ngày sinh</a></th>
        <th align="center" width="10%"> <a href="{%url school.views.school_index  %}hanhkiem/{{class.id}}/3/{{next_status}}">Giới tính </a></th>
        <th align="center" width="10%"> Kì 1 </th>
        <th align="center" width="10%"> Kì 2 </th>
        <th align="center" width="10%"> Cả năm </th>
    </tr>
    {% if message != None %}
    <br>
    {{message}}
    {% endif %}    
        
        {% for p,f, v in list %}
            <tr class = "{{p.id}}">
                <td align="center" width="5%">
                    <p>{{ forloop.counter}}</p>
                </td>
            
                <td align="center" width="20%">
                    <p>{{ p.last_name }} {{p.first_name}}</p>
                </td>

                <td align="center" width="10%">
                    <p>{{ p.birthday|date:"SHORT_DATE_FORMAT"}}</p>
                </td>

                <td align="center" width="10%">
                    <p>{{ p.sex }}</p>
                </td>
                {%if pos > 3 %}
                    {%if term.number == 1%}
                        <td align="center" width="10%">
                            {{ f.term1.errors }}
                            <p>{{ f.term1 }}</p>
                        </td>
                        <td align="center" width="10%">
                        <td align="center" width="10%">
                    {%else%}
                        <td align="center" width="10%">                        
                            <p>{{ v.term1 }}</p>
                        </td>
                        
                        <td align="center" width="10%">
                            {{ f.term2.errors }}
                            <p>{{ f.term2 }}</p>
                        </td>
                        <td align="center" width="10%">
                            {{ f.year.errors }}
                            <p>{{ f.year }}</p>
                        </td>                
                    {%endif%}
                {%endif%}
            </tr>
        {% endfor %}        
</table>
{%if pos > 3%}
<input class="ggButton submitbutton" type ="submit" value="Cập nhật"/>
{%endif%}
<a href="{%url school.views.school_index  %}viewClassDetail/{{class.id}}" title ="Hủy mọi thao tác và quay về danh sách lớp"> <input class="ggButton" type ="button" value="Quay lại"/></a>
	</form>
{% endblock %}
