{% extends "base.html" %}



{% block content %}
<script type="text/javascript" >

$(document).ready( function(){
   $("#cancel").click(function(){
      window.location.href = "{%url school.views.school_index %}"
      return false;   
   });
});
</script>


<h2>Thông tin trường học</h2>
{% if message != None %}
	{{message}}
	<br/>
{% endif %}

{% if user.userprofile.position == 'HIEU_TRUONG' or user.userprofile.position == 'HIEU_PHO' %}

<form action="{%url school.views.info %}" method="post">{% csrf_token %}
<div class="infoContent">
<div class="leftInfoDiv">
<table class="styleA">
{{form.as_table}}
</table>
</div>
</div>
<input type="submit" name="submit" value="Lưu lại" />
<input type="reset"  id="cancel" name="cancel" value="Hủy" />
</form>
{% else %}
{% endif %}
{% endblock %}
