{% extends "base.html" %}
{% block backward_link %}
    <a href="{% url school.views.school_index %}"> Trang chủ </a>
    > Thông tin về trường
{% endblock %}

{% block content %}
  <h2>Thông tin về trường</h2>
    {% if user.userprofile.position == 'HIEU_TRUONG' or user.userprofile.position == 'HIEU_PHO' %}
        <script type="text/javascript" >

            $(document).ready( function(){
                $("#cancel").click(function(){
                    window.location.href = "{%url school.views.school_index %}";
                    return false;
                });
            });
            $(document).ready(function(){

                var updateSchoolDetailDone = function(json) {
                    if (json.status == 'done') {
                        $("#notify").showNotification('Cập nhật thành công thông tin trường học.');
                        $.ajaxSetup({
                            global: false
                        });
                    {#                        $("#school-info").load('{% url school.views.school_index %} #school-name');#}
                        $("#header-bar").load('{% url school.views.school_index %} #school-info');
                        $.ajaxSetup({
                            global: true
                        });
                    } else {
                        $("#id_phone").parents("td").append(json.phone);
                        $("#id_email").parents("td").append(json.email);
                        $("#id_address").parents("td").append(json.address);
                        $("#id_name").parents("td").append(json.name);
                        $("#id_lock_time").parents("td").append(json.lock_time);
                        $("#notify").showNotification(json.message);
                    }

                };

                $("#submit").click(function() {
                    $(".errorlist").empty();
                    var schoolName = $("#id_name").val();
                    var schoolLevel = $("#id_school_level").val();
                    var schoolAddress = $("#id_address").val();
                    var schoolPhone = $("#id_phone").val();
                    var schoolEmail = $("#id_email").val();
                    var schoolLockTime = $("#id_lock_time").val();
                    var schoolClassLabels = $("#id_class_labels").val();
                    var data = { name: schoolName, school_level: schoolLevel,
                        address: schoolAddress, phone: schoolPhone, email: schoolEmail,
                        update_school_detail: true,
                        lock_time: schoolLockTime,
                        class_labels: schoolClassLabels
                    };
                    var para = {
                        type:"POST",
                        url:"",
                        global: false,
                        data: data,
                        datatype: "json",
                        success: updateSchoolDetailDone
                    };
                    $.ajax(para);
                    return false;
                });

            });
        </script>
{#        <h2>Thông tin trường học</h2>#}
        <form action="{%url school.views.info %}" method="post">{% csrf_token %}
            {% if message != None %}
                {{message}}
                <br/>
            {% endif %}
            <div class="info-box">
                <h3>Thông tin cơ bản</h3>
                <table class="dataform">
                    {{ form.as_table }}
                </table>
            </div>
            <div class="info-box">
                <h3>Thiết lập thông số</h3>
                <table class="dataform">
                    {{ setting_form.as_table }}
                </table>
            </div>
            <div style="padding: 10px;clear: both;">
                <input type="submit" id="submit" class="ggButton" name="submit" value="Lưu lại" />
                <input type="reset"  id="cancel" class="ggButton" name="cancel" value="Hủy" />
            </div>
        </form>

    {% else %}
        <div>
            {% if message != None %}
                {{message}}
                <br/>
            {% endif %}

            <table class="dataform">
                <tr>
                    <th> Tên trường: </th>
                    <td> {{ school.name }}</td>
                </tr>
                <tr>
                    <th> Cấp: </th>
                    <td>{{ school.school_level }}</td>
                </tr>
                <tr>
                    <th>Địa chỉ:</th>
                    <td> {{ school.address }}</td>
                </tr>
                <tr>
                    <th> Điện thoại: </th>
                    <td> {{ school.phone }}</td>
                </tr>
                <tr>
                    <th> Email: </th>
                    <td> {{ school.email }}</td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}
