{% block content %}
{% if pos > 3 %}
    <script>
    function confirmDelete()
    {
        return confirm("Bạn có muốn xóa khen thưởng này không");
    }
    </script>
{% endif %}
{% if count > 0 %}
<table class="main-table" >
    <tr>
		<th >STT </th>
        <th >Thời gian</th>
        <th >Hình thức</th>
        <th >Địa điểm </th>
        <th >Nội dung </th>
        {%if pos > 1%}
        <th></th>
        <th></th>
        {%endif%}
    </tr>

    {% if message != None %}
    {{message}}
    {% endif %}

    {% for kt in ktl %}
    <tr>
        <td> {{forloop.counter}} </td>
        <td> {{kt.time|date:"SHORT_DATE_FORMAT"}}</td>
        <td> {{kt.hinh_thuc}}</td>
        <td> {{kt.dia_diem}} </td>
        <td> {{kt.noi_dung}} </td>
        {%if pos > 3%}
        <td><a href = "/school/khenthuong/{{kt.id}}/delete" class="ggButton onPage" onclick="return confirmDelete();"> Xóa</a></td>
        <td><a href = "/school/khenthuong/{{kt.id}}/edit" class="ggButton onPage" > Sửa</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Học sinh hiện chưa có khen thưởng nào</p>
{% endif %}
{% if pos > 3 %}
    <br>
    <a title="Thêm khen thưởng cho học sinh" class = "tiptiphover ggButton onPage" href="/school/khenthuong/{{student_id}}/add"> Thêm </a>
{% endif %}
{% endblock %}
