{% block content %}

<script>
function confirmDelete()
{
    return confirm("Bạn có muốn xóa khen thưởng này không");
}
</script>
<h2>Những khen thưởng của {{pupil}}</h2>

{% if count > 0 %}
<table class="styleA"  width = "100%" >
    <tr>
		<th align="center" width="5%"> STT </th>
        <th align="center" width="15%"> Thời gian</th>
        <th align="center" width="25%"> Hình thức</th>
        <th align="center" width="15%"> Địa điểm </th>
        <th align="center" width="30%"> Nội dung </th>
        {%if pos > 1%}
        <th width = "5%"></th>
        <th width = "5%"></th>
        {%endif%}
    </tr>

    {% if message != None %}
    {{message}}
    {% endif %}

    {% for kt in ktl %}
    <tr>
        <td align="center" width="5%"> {{forloop.counter}} </td>
        <td align="center" width="15%"> {{kt.time|date:"SHORT_DATE_FORMAT"}}</td>
        <td align="center" width="25%"> {{kt.hinh_thuc}}</td>
        <td align="center" width="15%"> {{kt.dia_diem}} </td>
        <td align="center" width="30%"> {{kt.noi_dung}} </td>
        {%if pos > 1%}
        <td width="5%"><a href = "/school/khenthuong/{{kt.id}}/delete" class="ggButton" onclick="return confirmDelete();"> Xóa</a></td>
        <td width="5%"><a href = "/school/khenthuong/{{kt.id}}/edit" class="ggButton" > Sửa</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Học sinh hiện chưa có khen thưởng nào</p>
    </br>
{% endif %}
{% if pos > 1 %}
    <a title="Thêm khen thưởng cho học sinh" class = "tiptiphover ggButton" href="/school/khenthuong/{{student_id}}/add"> Thêm </a>
{% endif %}
{% endblock %}
