{% extends "base.html" %}

{% block content %}
<table border = 0 align = "center" width = "100%">
</table>
<br>
<h2>Kỉ luật học sinh {{p}} </h2>
<br>
<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table class="styleA">
	    {{ form.as_table }}
	 </table>
   {% if message != None %}
	{{message}} <br>
	{% endif %}
	<input type ="submit" class="ggButton" value="Lưu"/>
    <a href="/school/viewStudentDetail/{{p.id}}" class="ggButton">Quay lại</a>
</form>
{% endblock %}
