<!DOCTYPE HTML>
{% extends "school/base_school.html"%}
{% block content %}
{% if message != None %}
{{message}}
{% endif %}
<script type="text/javascript" >
	function submitTerm()
	{
		if (document.info.term.value!=-1)
			if (document.info.term.value!={{termChoice}})
				document.info.submit();
	}
	
</script>

<table border="0" width=100% >
<form action="/school/markForAStudent/{{class_id}}/{{student_id}}"  name="info" method="post" id='myform' > {% csrf_token %}

	<tr>
		<td align="center" colspan =4 style="font-size:25px" >
			<b>Bảng điểm của một học sinh</b>
		</td>
	</tr>
	<tr>
	<td>&nbsp</td>
	</tr>
	
	<tr>
	<td width="50%">
	Họ và tên: {{studentName}}
	</td>

	<td width="50%">
	Lớp: {{selectedClass}}
	</td>
	</tr>
	
	<tr>								
		
		<td> Học kỳ &nbsp&nbsp:  
		<select name="term" onclick="submitTerm();" >				
			<option value=-1 > Chọn kỳ </option>
			{% for term in termList %}
					<option   value={{ term.id }} selected> {{ term}} </option>	
			{% endfor %}	
			
		</select>
		</td>					
	</tr>
	<tr>
	<td> &nbsp</td>
	</tr>
	<tr>
		<table border=1 width="50%">
			<tr>
				<td rowspan =2 align="center" width= "10%">
					Học kỳ
				</td>
				<td colspan =2 align="center" width= "20%" >
					Kết quả xết loại
				</td>
				{% ifequal selectedTerm.number 2 %}
				<td colspan =2 align="center" width= "20%">
					Xếp loại lại sau KT lại môn học hoặc rèn luyện thêm về học lực
				</td>
				{% endifequal %}
				
			</tr>
			<tr>
				<td align="center" width= "10%">
					TB
				</td>
				<td align="center" width= "10%">
					HL
				</td>

				{% ifequal selectedTerm.number 2 %}
				<td align="center" width= "10%">
					TB
				</td>
				<td align="center" width= "10%">
					HL
				</td>
				{% endifequal %}						
			</tr>
			<tr>
				<td align="center" >
				 Học Kỳ I
				</td>
				<td align="center">
					{{tbhk1.tb_hk}}
				</td>
				<td align="center">
				{% ifequal tbhk1.hl_hk "G" %}					
					Giỏi
				{% else %}	
				{% ifequal tbhk1.hl_hk "K" %}					
					Khá
				{% else %}	
				{% ifequal tbhk1.hl_hk "TB" %}					
					Trung bình
				{% else %}	
				{% ifequal tbhk1.hl_hk "Y" %}					
					Yếu
				{% else %}	
				{% ifequal tbhk1.hl_hk "Kem" %}					
					Kém
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
			
			</td>
			{% ifequal selectedTerm.number 2  %}
				<td>
				</td>
				<td>
				</td>
			{% endifequal %}	
			</tr>
			{% ifequal selectedTerm.number 2  %}
			<tr>
				<td align="center" >
				 Học Kỳ II
				</td>
				<td align="center">
					{{tbhk2.tb_hk}}
				</td>
				<td align="center">
				{% ifequal tbhk2.hl_hk "G" %}					
					Giỏi
				{% else %}	
				{% ifequal tbhk2.hl_hk "K" %}					
					Khá
				{% else %}	
				{% ifequal tbhk2.hl_hk "TB" %}					
					Trung bình
				{% else %}	
				{% ifequal tbhk2.hl_hk "Y" %}					
					Yếu
				{% else %}	
				{% ifequal tbhk2.hl_hk "Kem" %}					
					Kém
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				</td>
				<td>
				</td>
				<td>
				</td>

				</tr>	
			
			<tr>
				<td align="center" >
				 Cả năm
				</td>
				<td align="center">
					{{tbCaNam.tb_nam}}
				</td>
				<td align="center">
				{% ifequal tbCaNam.hl_nam "G" %}					
					Giỏi
				{% else %}	
				{% ifequal tbCaNam.hl_nam "K" %}					
					Khá
				{% else %}	
				{% ifequal tbCaNam.hl_nam "TB" %}					
					Trung bình
				{% else %}	
				{% ifequal tbCaNam.hl_nam "Y" %}					
					Yếu
				{% else %}	
				{% ifequal tbCaNam.hl_nam "Kem" %}					
					Kém
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				{% endifequal %}	
				</td>
				<td>
				</td>
				<td>
				</td>

			</tr>	
			{% endifequal %}
		
		</table>
	</tr>
	
	
<script type="text/javascript" >
	document.info.term.value={{termChoice}}
	
</script>		
		
	<tr><td>&nbsp </td>	</tr>
	<tr >
	<td colspan=2>
	
	<table border =1 width = "100%" >
		<tr>
			<td rowspan=2 align="center" width="4%">
				Stt
			</td>	
			<td rowspan=2 align="center" width="18%">
			   Môn
			</td>	
			<td colspan=5 align="center" width="20%" >
				Miệng
			</td>	

			<td colspan=5 align="center" width="20%">
				15 phút
			</td>	
			<td colspan=5 align="center" width="20%">
				45 phút
			</td>
			<td rowspan=2 align="center" width="5%">
				Thi cuối kì
			</td>	
		{% ifequal selectedTerm.number 1 %}
			<td rowspan=2 width="5%" >
				TB
			</td>	
		{% else %}
			<td colspan=3 align="center"  >
				<b>ĐIỂM TRUNG BÌNH </b>
			</td>
		{% endifequal %}
			
			
		</tr>
		<tr>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		{% ifequal selectedTerm.number 2 %}
			<td align="center" >HK I  </td>
			<td align="center" >HK II </td>
			<td align="center" > CK </td>
			
		{% endifequal %}
		
		</tr>
		
		
	{% ifequal selectedTerm.number 1 %} 
		{% for s,m in list %}	
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
				{{s}}
			</td>

			{% ifnotequal s.hs 	0 %}

			<td align="center">
				{{m.mieng_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.mlam_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_5|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.ck|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.tb|floatformat:"-1"}}  
			</td>
		</tr>		
		{% else %}
			<td colspan=5 align="center">
			{% ifequal m.mieng_1 9 %}
				G
			{% else %}	
			{% ifequal m.mieng_1 7 %}
				K
			{% else %}	
			{% ifequal m.mieng_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mieng_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mieng_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>
			<td colspan=5>
			</td>
			<td colspan=5 align="center">
			{% ifequal m.mot_tiet_1 9 %}
				G
			{% else %}	
			{% ifequal m.mot_tiet_1 7 %}
				K
			{% else %}	
			{% ifequal m.mot_tiet_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mot_tiet_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mot_tiet_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			</td>
			<td  align="center">
			{% ifequal m.ck 9 %}
				G
			{% else %}	
			{% ifequal m.ck 7 %}
				K
			{% else %}	
			{% ifequal m.ck 6 %}
				TB
			{% else %}	
			{% ifequal m.ck 4 %}
				Y
			{% else %}	
			{% ifequal m.ck 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>
			<td align="center">
			{% ifequal m.tb 9 %}
				G
			{% else %}	
			{% ifequal m.tb 7 %}
				K
			{% else %}	
			{% ifequal m.tb 6 %}
				TB
			{% else %}	
			{% ifequal m.tb 4 %}
				Y
			{% else %}	
			{% ifequal m.tb 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

		{% endifnotequal %}
			
		{% endfor %}
		</table>	
		</div>
		</td>
		</tr>
		{%else %}
		{% for s,m,hk1,tbnam in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
				{{s}}
			</td>

		{% ifnotequal s.hs 	0 %}

			<td align="center">
				{{m.mieng_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.mlam_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_5|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.ck|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{hk1|floatformat:"-1"}}  
			</td>			
			<td align="center">
				{{m.tb|floatformat:"-1"}}  
			</td>			
			<td align="center">
				{{tbnam|floatformat:"-1"}}  
			</td>	
		{%else %}
			<td colspan=5 align="center">
			{% ifequal m.mieng_1 9 %}
				G
			{% else %}	
			{% ifequal m.mieng_1 7 %}
				K
			{% else %}	
			{% ifequal m.mieng_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mieng_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mieng_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>
			<td colspan=5>
			</td>
			<td colspan=5 align="center">
			{% ifequal m.mot_tiet_1 9 %}
				G
			{% else %}	
			{% ifequal m.mot_tiet_1 7 %}
				K
			{% else %}	
			{% ifequal m.mot_tiet_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mot_tiet_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mot_tiet_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			</td>
			<td  align="center">
			{% ifequal m.ck 9 %}
				G
			{% else %}	
			{% ifequal m.ck 7 %}
				K
			{% else %}	
			{% ifequal m.ck 6 %}
				TB
			{% else %}	
			{% ifequal m.ck 4 %}
				Y
			{% else %}	
			{% ifequal m.ck 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>
			<td align="center">
			{% ifequal hk1 9 %}
				G
			{% else %}	
			{% ifequal hk1 7 %}
				K
			{% else %}	
			{% ifequal hk1 6 %}
				TB
			{% else %}	
			{% ifequal hk1 4 %}
				Y
			{% else %}	
			{% ifequal hk1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal m.tb 9 %}
				G
			{% else %}	
			{% ifequal m.tb 7 %}
				K
			{% else %}	
			{% ifequal m.tb 6 %}
				TB
			{% else %}	
			{% ifequal m.tb 4 %}
				Y
			{% else %}	
			{% ifequal m.tb 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal tbnam 9 %}
				G
			{% else %}	
			{% ifequal tbnam 7 %}
				K
			{% else %}	
			{% ifequal tbnam 6 %}
				TB
			{% else %}	
			{% ifequal tbnam 4 %}
				Y
			{% else %}	
			{% ifequal tbnam 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

		
		
		{% endifnotequal %}	
		</tr>	
			
		 {%endfor %}
		</table>	
		</div>
		</td>
		</tr>
	{% endifequal %}
		
</form>	
</table>
{% endblock %}

