	<table  class="styleA"  width = "100%" id="markTable"  >
		<tr>
			<th rowspan=2 colspan=1 align="center" width="1%" 
				style="border-bottom-width:0px;border-right-width:0px;padding:0px" >
				Stt
			</th>	
			<th rowspan=2 colspan=1 align="center" width="1%" 
				style="border-bottom-width:0px;border-left-width:0px" >
			</th>	
			
			<th rowspan=3 colspan=2  width="20%" style="text-align:center">
				Họ và tên
			</th>	
			
			<th rowspan=3 align="center" width="5%" style="text-align:center" >			
				Ngày sinh
			</th>	

			<th colspan=5 align="center" width="20%"  >
				Điểm hs 1-Miệng 
			</th>	

			<th colspan=5 align="center" width="20%" >
				Điểm hs 1-Viết
			</th>	
			<th colspan=5 align="center" width="20%" >
				Điểm hs 2
			</th>
			
			<th rowspan=2 align="center" width="1%" onclick="checkCol(this,1)"  id="-116" style="border-bottom-width:0px">
				Thi cuối kì
			</th>	
		{% ifequal selectedTerm.number 1 %}
			<th rowspan=2 width="5%" id="-117" onclick="checkCol(this,1)"style="border-bottom-width:0px" >
				TBHK
			</th>	
		{% else %}
			<th colspan=3 align="center" width="15%" >
				<b>ĐIỂM TRUNG BÌNH </b>
			</th>
		{% endifequal %}
			
			
		</tr>
	<tr>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-101" style="border-bottom-width:0px"> 1 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-102" style="border-bottom-width:0px"> 2 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-103" style="border-bottom-width:0px"> 3 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-104" style="border-bottom-width:0px"> 4 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-105" style="border-bottom-width:0px"> 5 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-106" style="border-bottom-width:0px"> 1  </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-107" style="border-bottom-width:0px"> 2 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-108" style="border-bottom-width:0px"> 3 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-109" style="border-bottom-width:0px"> 4 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-110" style="border-bottom-width:0px"> 5 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-111" style="border-bottom-width:0px"> 1 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-112" style="border-bottom-width:0px"> 2 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-113" style="border-bottom-width:0px"> 3 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-114" style="border-bottom-width:0px"> 4 </th>
		<th width ="3%" align="center" onclick="checkCol(this,1)" id="-115" style="border-bottom-width:0px"> 5 </th>
											
		{% ifequal selectedTerm.number 2 %}
		<th class="leftAlign" width ="5%" onclick="checkCol(this,1)" id="-117" style="border-bottom-width:0px">HK I  </th>
		<th class="leftAlign" width ="5%" onclick="checkCol(this,1)" id="-118" style="border-bottom-width:0px">HK II </th>
		<th class="leftAlign" width ="5%" onclick="checkCol(this,1)" id="-119" style="border-bottom-width:0px"> CN </th>
			
		{% endifequal %}
		
	</tr>
		
		<tr>
		<th width ="1%" title="Click vào đây để chọn tất cả" style="border-right-width:1px; border-top-width:1px;text-align:left;padding:1px" > 
			<input type="checkbox" id="checkAllRow" onclick="checkAll(this)" style="display:none">  
		</th>
		
		
		<th width ="1%" style="border-left-width:0px; border-top-width:0px" >&nbsp </th>
		
		
		<th onclick="checkCol(this,2)" id="-201" style="border-top-width:0px" > <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox1" style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-202" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox2" style="display:none" > </th>
		<th onclick="checkCol(this,2)" id="-203" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox3"  style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-204" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox4" style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-205" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox5" style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-206" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox6" style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-207" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox7" style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-208" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox8" style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-209" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn"type="checkbox" id="checkbox9"  style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-210" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox10"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-211" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox11"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-212" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox12"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-213" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox13"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-214" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox14"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-215" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox15"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-216" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox16"style="display:none">  </th>
		{% ifequal selectedTerm.number 2 %}
		<th onclick="checkCol(this,2)" id="-217" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox17"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-218" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox18"style="display:none">  </th>
		<th onclick="checkCol(this,2)" id="-219" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox19"style="display:none">  </th>			
		{% else %}
		<th onclick="checkCol(this,2)" id="-217" style="border-top-width:0px"> <input title="Click vào đây để chọn điểm này để gửi tin nhắn" type="checkbox" id="checkbox17"style="display:none" >  </th>			
		{% endifequal %}
		
		</tr>
		
	{% ifequal selectedTerm.number 1 %} 
		{% for p,m,ea,id in list %}	
		<tr >
			<td align="left" onclick="select(this)" style="border-right-width:0px" >
			 <input title="Có thể click vào cột họ tên và ngày sinh để chọn cho nhanh hơn" type="checkbox" id="{{forloop.counter}}00" style="display:none" > 	
			</td>
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" align="center" onclick="select(this)" style="border-left-width:0px" >
			 {{forloop.counter}}	
			</td>
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" style="border-right-width:0px" width ="15%" onclick="select(this)">
			 {{p.last_name}}
			</td>
			
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" style="border-left-width:0px" width ="5%"  onclick="select(this)">
			{{ p.first_name }} 			
			</td>
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" onclick="select(this)" >
			{{ p.birthday|date:"SHORT_DATE_FORMAT" }} 
			</td>
			
			<td id="{{id.d1}}"  onclick="checkToSend(this)">
				 {{m.mieng_1|floatformat:"-1"}}  					
			</td>
			
			<td id="{{id.d2}}"  onclick="checkToSend(this)">
				 {{m.mieng_2|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d3}}"  onclick="checkToSend(this)">
				 {{m.mieng_3|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d4}}"  onclick="checkToSend(this)">
				 {{m.mieng_4|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d5}}"  onclick="checkToSend(this)">
				 {{m.mieng_5|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d6}}"  onclick="checkToSend(this)">
				 {{m.mlam_1|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d7}}"  onclick="checkToSend(this)">
				 {{m.mlam_2|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d8}}"  onclick="checkToSend(this)">
				 {{m.mlam_3|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d9}}"  onclick="checkToSend(this)">
				 {{m.mlam_4|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d10}}"  onclick="checkToSend(this)">
				 {{m.mlam_5|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d11}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_1|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d12}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_2|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d13}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_3|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d14}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_4|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d15}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_5|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d16}}"  onclick="checkToSend(this)">
				 {{m.ck|floatformat:"-1"}}  					
			</td>						
			<td id="{{id.d17}}" onclick="checkToSend(this)" > 			  
					{{ m.tb|floatformat:"1"}}
			</td>	
		<script>
				setArrayId({{m.id}}) ;
				setSentMark("{{m.sent_mark}}");
				if (isComment)
					convertToComment();				
		</script>	

		</tr>	
		
		{% endfor %}
	{% else%}
		{% for p,m,ea,hk1,tbnam,id in list %}		
		<tr >
			<td  onclick="select(this)" style="border-right-width:0px" >
			   <input title="Có thể click vào cột họ tên và ngày sinh để chọn cho nhanh hơn" type="checkbox" id="{{forloop.counter}}00" style="display:none" > 	
			</td>
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" align="center" onclick="select(this)" style="border-left-width:0px" >
			 {{forloop.counter}}	
			</td>
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" style="border-right-width:0px" width ="15%" onclick="select(this)">
			 {{m.student_id.last_name}}
			</td>
			
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" style="border-left-width:0px" width ="5%"  onclick="select(this)">
			{{ m.student_id.first_name }} 			
			</td>
			<td title="Click vào đây để chọn học sinh được gửi tin nhắn" onclick="select(this)" >
			{{ m.student_id.birthday.day}}/{{ m.student_id.birthday.month}}/{{ m.student_id.birthday.year}} 
			</td>

			<td id="{{id.d1}}"  onclick="checkToSend(this)">
				 {{m.mieng_1|floatformat:"-1"}}  					
			</td>
			
			<td id="{{id.d2}}"  onclick="checkToSend(this)">
				 {{m.mieng_2|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d3}}"  onclick="checkToSend(this)">
				 {{m.mieng_3|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d4}}"  onclick="checkToSend(this)">
				 {{m.mieng_4|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d5}}"  onclick="checkToSend(this)">
				 {{m.mieng_5|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d6}}"  onclick="checkToSend(this)">
				 {{m.mlam_1|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d7}}"  onclick="checkToSend(this)">
				 {{m.mlam_2|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d8}}"  onclick="checkToSend(this)">
				 {{m.mlam_3|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d9}}"  onclick="checkToSend(this)">
				 {{m.mlam_4|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d10}}"  onclick="checkToSend(this)">
				 {{m.mlam_5|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d11}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_1|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d12}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_2|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d13}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_3|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d14}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_4|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d15}}"  onclick="checkToSend(this)">
				 {{m.mot_tiet_5|floatformat:"-1"}}  					
			</td>
			<td id="{{id.d16}}"  onclick="checkToSend(this)">
				 {{m.ck|floatformat:"-1"}}  					
			</td>						
							
			<td id="{{id.d17}}" onclick="checkToSend(this)"  > 			  
					{{ hk1.tb|floatformat:"1"}}
			</td>	

			<td id="{{id.d18}}" onclick="checkToSend(this)"  > 			  
					{{ m.tb|floatformat:"1"}}
			</td>	

			<td id="{{id.d19}}" onclick="checkToSend(this)"  > 			  
					{{ tbnam.tb_nam|floatformat:"1"}}
			</td>	
		<script>
			setArrayId({{m.id}});
			setSentMark("{{m.sent_mark}}");
			if (isComment)
				convertToComment();
		</script>	
		{% ifequal hk1.tb None %}
			<script>
				setArrayHk1None();
			</script>	
		{% else %}
			<script>
				setArrayHk1({{hk1.tb}});
			</script>	
		{% endifequal %}
			
		</tr>
		
		{% endfor %}			
		{% endifequal %}
</table>	


