
<td colspan=2>
	Hướng dẫn: Nếu loại
		Giỏi  nhập g ,
		Khá   nhập k ,
		Trung bình nhập t(hoặc tb) ,
		Yếu  nhập y,
		Kém  nhập ke(hoặc kém,kem)  (nhập chữ hoa và thường đều được )
		
		
		
				
</td>
</tr>
<tr>
<td colspan =2>
{% ifnotequal subjectChoice -1  %} 	
{% ifnotequal termChoice -1  %} 	

	<table border =1 width = "100%" >
		<tr>
			<td rowspan=2 align="center" width="4%">
				Stt
			</td>	
			<td rowspan=2 align="center" width="18%">
				Họ và tên
			</td>	
			<td rowspan=2 align="center" width="10%">			
				Ngày sinh
			</td>	
			<td rowspan=2 align="center" width="5%" >
				Thường xuyên
			</td>	

			<td  rowspan=2 align="center" width="5%">
				Định kỳ
			</td>	

			<td  rowspan=2 align="center" width="5%">
				Học kỳ
			</td>	
		{% ifequal selectedTerm.number 1 %}
			<td rowspan=2 width="5%" align="center" >
				TB
			</td>	
		{% else %}
			<td colspan=3 align="center" width="15%" >
				<b>TỔNG KẾT </b>
			</td>
		{% endifequal %}
			
			
		</tr>
		<tr>
		{% ifequal selectedTerm.number 2 %}
			<td align="center" width ="5%">HK I  </td>
			<td align="center" width ="5%">HK II </td>
			<td align="center" width ="5%"> CK </td>
			
		{% endifequal %}
		
		</tr>
		
{% ifequal selectedTerm currentTerm %}
	{% ifequal selectedTerm.number 1 %} 
		{% for p,m,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			{% ifnotequal m.mieng_1 None%}
			<td>
				<input type="text" name={{id.d1}}  value={{m.mieng_1|floatformat:"0"}} style="width:50px ; border:3px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d1}} value="" style="width:50px ; border:3px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}


			{% ifnotequal m.mot_tiet_1 None%}
			<td>
				<input type="text" name={{id.d2}} value={{m.mot_tiet_1|floatformat:"0"}} style="width:50px ; border:3px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d2}} value="" style="width:50px ; border:3px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}



			{% ifnotequal m.ck None%}
			<td>
				<input type="text" name={{id.d3}} value={{m.ck|floatformat:"0"}} style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d3}} value="" style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.tb None%}
			<td>
				<input type="text" name={{id.d4}} value={{m.tb|floatformat:"0"}} style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d4}} value="" style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}


		</tr>	
		
		{% endfor %}
		
		<script language="javascript">
			var length={{lengthList}}
			var string ="Kém";
			for(i=1;i<=length;i++)
				for(j=1;j<5;j++)
				{
					k=i*100+j;
					var name=k+"";
					var t=document.getElementsByName(name)[0].value;
					var value="";
					if (t!="")
						if (t=="9")
							value="G";
						else
						if (t=="7")
							value="K";
						else						
						if (t=="6")
							value="TB";
						else						
						if (t=="4")
							value="Y";
						else						
						if (t=="1")
							value="Kém";
							
					document.getElementsByName(name)[0].value=value;									
				}
		</script>
		
			</table>	
			</td>
			</tr>	
			
			<tr>
			<td> &nbsp </td>
			</tr>
			<tr>
			<td colspan=2 align="right">
			<input type="submit" name="luulai" value="Lưu lại" onclick="javascript:saveMarkHasComment()" >
			</td>
			</tr>
	{% else%}
		{% for p,m,hk1,tbnam,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			{% ifnotequal m.mieng_1 None%}
			<td>
				<input type="text" name={{id.d1}}  value={{m.mieng_1|floatformat:"0"}} style="width:50px ; border:3px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d1}} value="" style="width:50px ; border:3px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}


			{% ifnotequal m.mot_tiet_1 None%}
			<td>
				<input type="text" name={{id.d2}} value={{m.mot_tiet_1|floatformat:"0"}} style="width:50px ; border:3px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d2}} value="" style="width:50px ; border:3px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}



			{% ifnotequal m.ck None%}
			<td>
				<input type="text" name={{id.d3}} value={{m.ck|floatformat:"0"}} style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d3}} value="" style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}
			<td>
			{% ifequal hk1 9 %}
				G
			{% else %}	
			{% ifequal hk1 7 %}
				K
			{% else %}	
			{% ifequal hk1 6 %}
				TB
			{% else %}	
			{% ifequal hk1 4 %}
				Y
			{% else %}	
			{% ifequal hk1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			</td>

			{% ifnotequal m.tb None%}
			<td>
				<input type="text" name={{id.d4}} value={{m.tb|floatformat:"0"}} style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d4}} value="" style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}



			{% ifnotequal tbnam None%}
			<td>
				<input type="text" name={{id.d5}} value={{tbnam|floatformat:"0"}} style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d5}} value="" style="width:50px ; border:3px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="validateComment(this)">
			</td>
			{% endifnotequal %}


		</tr>	
		
		{% endfor %}
		
		<script language="javascript">
			var length={{lengthList}}
			var string ="Kém";
			for(i=1;i<=length;i++)
				for(j=1;j<6;j++)
				{
					k=i*100+j;
					var name=k+"";
					var t=document.getElementsByName(name)[0].value;
					var value="";
					if (t!="")
						if (t=="9")
							value="G";
						else
						if (t=="7")
							value="K";
						else						
						if (t=="6")
							value="TB";
						else						
						if (t=="4")
							value="Y";
						else						
						if (t=="1")
							value="Kém";
							
					document.getElementsByName(name)[0].value=value;									
				}
		</script>
		
			</table>	
			</td>
			</tr>	
			<tr>
			<td> &nbsp </td>
			</tr>
			<tr>
			<td colspan=2 align="right">
			<div id="saveMark" >
			<input type="submit" name="luulai" value="Lưu lại" onclick="javascript:saveMarkHasComment1()" >
			</div>
			</td>
			</tr>
		
		
	{% endifequal %}
		
	{% else %}
	{% ifequal selectedTerm.number 1 %} 
		{% for p,m,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			<td align="center">
			{% ifequal m.mieng_1 9 %}
				G
			{% else %}	
			{% ifequal m.mieng_1 7 %}
				K
			{% else %}	
			{% ifequal m.mieng_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mieng_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mieng_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal m.mot_tiet_1 9 %}
				G
			{% else %}	
			{% ifequal m.mot_tiet_1 7 %}
				K
			{% else %}	
			{% ifequal m.mot_tiet_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mot_tiet_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mot_tiet_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal m.ck 9 %}
				G
			{% else %}	
			{% ifequal m.ck 7 %}
				K
			{% else %}	
			{% ifequal m.ck 6 %}
				TB
			{% else %}	
			{% ifequal m.ck 4 %}
				Y
			{% else %}	
			{% ifequal m.ck 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>
			<td align="center">
			{% ifequal m.tb 9 %}
				G
			{% else %}	
			{% ifequal m.tb 7 %}
				K
			{% else %}	
			{% ifequal m.tb 6 %}
				TB
			{% else %}	
			{% ifequal m.tb 4 %}
				Y
			{% else %}	
			{% ifequal m.tb 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

		</tr>	
			
		{% endfor %}
		</table>	
		</div>
		</td>
		</tr>
	{%else %}
		{% for p,m,hk1,tbnam,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			<td align="center">
			{% ifequal m.mieng_1 9 %}
				G
			{% else %}	
			{% ifequal m.mieng_1 7 %}
				K
			{% else %}	
			{% ifequal m.mieng_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mieng_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mieng_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal m.mot_tiet_1 9 %}
				G
			{% else %}	
			{% ifequal m.mot_tiet_1 7 %}
				K
			{% else %}	
			{% ifequal m.mot_tiet_1 6 %}
				TB
			{% else %}	
			{% ifequal m.mot_tiet_1 4 %}
				Y
			{% else %}	
			{% ifequal m.mot_tiet_1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal m.ck 9 %}
				G
			{% else %}	
			{% ifequal m.ck 7 %}
				K
			{% else %}	
			{% ifequal m.ck 6 %}
				TB
			{% else %}	
			{% ifequal m.ck 4 %}
				Y
			{% else %}	
			{% ifequal m.ck 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal hk1 9 %}
				G
			{% else %}	
			{% ifequal hk1 7 %}
				K
			{% else %}	
			{% ifequal hk1 6 %}
				TB
			{% else %}	
			{% ifequal hk1 4 %}
				Y
			{% else %}	
			{% ifequal hk1 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal m.tb 9 %}
				G
			{% else %}	
			{% ifequal m.tb 7 %}
				K
			{% else %}	
			{% ifequal m.tb 6 %}
				TB
			{% else %}	
			{% ifequal m.tb 4 %}
				Y
			{% else %}	
			{% ifequal m.tb 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>

			<td align="center">
			{% ifequal tbnam 9 %}
				G
			{% else %}	
			{% ifequal tbnam 7 %}
				K
			{% else %}	
			{% ifequal tbnam 6 %}
				TB
			{% else %}	
			{% ifequal tbnam 4 %}
				Y
			{% else %}	
			{% ifequal tbnam 1 %}
				Kém
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			{% endifequal %}	
			
			</td>
		</tr>	
			
		 {%endfor %}
		</table>	
		</div>
		</td>
		</tr>
	{% endifequal %}	
	{% endifequal %}
		
{% endifnotequal %}
{% endifnotequal %}
