{% extends "base.html"%}

{% block content %}

{% if selectedSubject.teacher_id %}
	<script>
		var idTeacher = {{ selectedSubject.teacher_id.id }};
	</script>
{% else %}
	<script>
		var idTeacher = -1;
	</script>
{% endif %}	

   	
{% include  "school/first_block_js.html" %}	

<form action="/school/markForASubject/{{selectedSubject.id}}"  name="info" method="post" id='myform' 
	onsubmit="return false" >{% csrf_token %}
	<input type="hidden" name="submitChoice" value="">	
	



	<div id="myDiv"> </div>  	
	<div id="myDiv2"> </div>  	
	<div id="myDiv3"> </div>  	
	<div id="myDiv1"> </div>  	
	<h2>Bảng điểm lớp <b>{{ selectedClass.name }}</b>
            môn {{selectedSubject.name}}&nbsp
			học kỳ&nbsp
		<select name="term" onchange="submitTerm();">				
			{% for term in termList %}
					<option   value={{ term.id }} selected> {{ term}} </option>	
			{% endfor %}				
		</select>
	</h2>
	
	<script type="text/javascript" >
		document.info.term.value={{termChoice}}	
	</script>		

	{% include  "school/third_block.html" %}
	
	{% include  "school/mark_for_headmaster.html" %}
	
</form>	
	{% include  "school/second_block_js.html" %}
{% endblock %}
    