<tr>
<td colspan =4>

{% ifnotequal subjectChoice -1  %} 	
{% ifnotequal termChoice -1  %} 	

	<table border =1 width = "100%" >
		<tr>
			<td rowspan=2 align="center" width="4%">
				Stt
			</td>	
			<td rowspan=2 align="center" width="18%">
				Họ và tên
			</td>	
			<td rowspan=2 align="center" width="10%">			
				Ngày sinh
			</td>	
			<td colspan=5 align="center" width="20%" >
				Miệng
			</td>	

			<td colspan=5 align="center" width="20%">
				15 phút
			</td>	
			<td colspan=5 align="center" width="20%">
				45 phút
			</td>
			<td rowspan=2 align="center" width="5%">
				Thi cuối kì
			</td>	
		{% ifequal selectedTerm.number 1 %}
			<td rowspan=2 width="5%" >
				TB
			</td>	
		{% else %}
			<td colspan=3 align="center" width="15%" >
				<b>ĐIỂM TRUNG BÌNH </b>
			</td>
		{% endifequal %}
			
			
		</tr>
		<tr>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		{% ifequal selectedTerm.number 2 %}
			<td align="center" width ="10%">HK I  </td>
			<td align="center" width ="10%">HK II </td>
			<td align="center" width ="10%"> CK </td>
			
		{% endifequal %}
		
		</tr>
		
{% ifequal selectedTerm currentTerm %}
	{% ifequal selectedTerm.number 1 %} 
		{% for p,m,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			{% ifnotequal m.mieng_1 None%}
			<td>
				<input type="text" name={{id.d1}} id="101" value={{m.mieng_1|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d1}} value="" style="width:23px ; border:0px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			

			{% ifnotequal m.mieng_2 None%}
			<td>
				<input type="text" name={{id.d2}} value={{m.mieng_2|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d2}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}


			{% ifnotequal m.mieng_3 None%}
			<td>
				<input type="text" name={{id.d3}} value={{m.mieng_3|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d3}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mieng_4 None%}
			<td>
				<input type="text" name={{id.d4}} value={{m.mieng_4|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d4}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mieng_5 None%}
			<td>
				<input type="text" name={{id.d5}} value={{m.mieng_5|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d5}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_1 None%}
			<td>
				<input type="text" name={{id.d6}} value={{m.mlam_1|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d6}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mlam_2 None%}
			<td>
				<input type="text" name={{id.d7}} value={{m.mlam_2|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d7}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mlam_3 None%}
			<td>
				<input type="text" name={{id.d8}} value={{m.mlam_3|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
 
				
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d8}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_4 None%}
			<td>
				<input type="text" name={{id.d9}} value={{m.mlam_4|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d9}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_5 None%}
			<td>
				<input type="text" name={{id.d10}} value={{m.mlam_5|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d10}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mot_tiet_1 None%}
			<td>
				<input type="text" name={{id.d11}} value={{m.mot_tiet_1|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d11}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_2 None%}
			<td>
				<input type="text" name={{id.d12}} value={{m.mot_tiet_2|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d12}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_3 None%}
			<td>
				<input type="text" name={{id.d13}} value={{m.mot_tiet_3|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d13}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_4 None%}
			<td>
				<input type="text" name={{id.d14}} value={{m.mot_tiet_4|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d14}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_5 None%}
			<td>
				<input type="text" name={{id.d15}} value={{m.mot_tiet_5|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d15}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.ck None%}
			<td>
				<input type="text" name={{id.d16}} value={{m.ck|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d16}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			<td align="center"> 
			{{ m.tb|floatformat:"-1"}}
			</td>	

		</tr>	
		
		{% endfor %}
			</table>	
			</div>
			</td>
			</tr>	
			<tr>
			<td> &nbsp </td>
			</tr>
			<tr>
			<td colspan=2 align="right">
			<input type="submit" name="luulai" value="Lưu lại" onclick="javascript:saveMark()" >
			</td>
			</tr>
	{% else%}
		{% for p,m,hk1,tbnam,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			{% ifnotequal m.mieng_1 None%}
			<td>
				<input type="text" name={{id.d1}} id="101" value={{m.mieng_1|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d1}} value="" style="width:23px ; border:0px" align="center" 
				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			

			{% ifnotequal m.mieng_2 None%}
			<td>
				<input type="text" name={{id.d2}} value={{m.mieng_2|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d2}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}


			{% ifnotequal m.mieng_3 None%}
			<td>
				<input type="text" name={{id.d3}} value={{m.mieng_3|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d3}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mieng_4 None%}
			<td>
				<input type="text" name={{id.d4}} value={{m.mieng_4|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d4}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mieng_5 None%}
			<td>
				<input type="text" name={{id.d5}} value={{m.mieng_5|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d5}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_1 None%}
			<td>
				<input type="text" name={{id.d6}} value={{m.mlam_1|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d6}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mlam_2 None%}
			<td>
				<input type="text" name={{id.d7}} value={{m.mlam_2|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d7}} value="" style="width:23px ; border:0px" align="center" 
								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mlam_3 None%}
			<td>
				<input type="text" name={{id.d8}} value={{m.mlam_3|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 								onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
 
				
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d8}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_4 None%}
			<td>
				<input type="text" name={{id.d9}} value={{m.mlam_4|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d9}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_5 None%}
			<td>
				<input type="text" name={{id.d10}} value={{m.mlam_5|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d10}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mot_tiet_1 None%}
			<td>
				<input type="text" name={{id.d11}} value={{m.mot_tiet_1|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d11}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_2 None%}
			<td>
				<input type="text" name={{id.d12}} value={{m.mot_tiet_2|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d12}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_3 None%}
			<td>
				<input type="text" name={{id.d13}} value={{m.mot_tiet_3|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d13}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_4 None%}
			<td>
				<input type="text" name={{id.d14}} value={{m.mot_tiet_4|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d14}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_5 None%}
			<td>
				<input type="text" name={{id.d15}} value={{m.mot_tiet_5|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d15}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.ck None%}
			<td>
				<input type="text" name={{id.d16}} value={{m.ck|floatformat:"-1"}} style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d16}} value="" style="width:23px ; border:0px" align="center" 				onkeydown="controlDirection(this,event)" onkeyup="acceptDigits(this)">
			</td>
			{% endifnotequal %}

			<td align="center">
				{% if hk1 != None %}
					{{hk1|floatformat:"-1"}} 
				{% else %}
					&nbsp
				{% endif %}	
			</td>

			<td align="center"> 
				{% if m.tb != None %}
					{{ m.tb|floatformat:"-1"}}
				{% else %}
					&nbsp
				{% endif %}	
			</td>	

			<td align="center">
				{% if tbnam != None %}
					{{tbnam|floatformat:"-1"}} 
				{% else %}
					&nbsp
				{% endif %}	
			</td>

			
		</tr>
		
		{% endfor %}			
		</table>	
		</div>
		</td>
		</tr>	
		<tr>
		<td> &nbsp </td>
		</tr>
		<tr>
		<td colspan=2 align="right">
		<input type="submit" name="luulai" value="Lưu lại" onclick="javascript:saveMark()" >
		</td>
		</tr>
	{% endifequal %}
		
	{% else %}
	{% ifequal selectedTerm.number 1 %} 
		{% for p,m,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			<td align="center">
				{{m.mieng_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.mlam_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_5|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.ck|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.tb|floatformat:"-1"}}  
			</td>
		</tr>		
			
		{% endfor %}
		</table>	
		</div>
		</td>
		</tr>
		{%else %}
		{% for p,m,hk1,tbnam,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
			</td>

			<td align="center">
				{{m.mieng_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mieng_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.mlam_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mlam_5|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_1|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_2|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_3|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_4|floatformat:"-1"}}  
			</td>
			<td align="center">
				{{m.mot_tiet_5|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{m.ck|floatformat:"-1"}}  
			</td>

			<td align="center">
				{{hk1|floatformat:"-1"}}  
			</td>			
			<td align="center">
				{{m.tb|floatformat:"-1"}}  
			</td>			
			<td align="center">
				{{tbnam|floatformat:"-1"}}  
			</td>			
		</tr>	
			
		 {%endfor %}
		</table>	
		</td>
		</tr>
		{% endifequal %}	
	{% endifequal %}
		
{% endifnotequal %}
{% endifnotequal %}
