{% extends "base.html" %}
{% block content %}
  <script language="JavaScript" type="text/javascript">
    function submitSubject() {
    if (document.info.subject.value !={{subjectChoice}})
      if (document.info.subject.value != -1) {
        document.info.submitChoice.value = "hienthi";
        document.info.submit();
      }
  }
  idTeacher = -1;
  </script>
  
    {% include  "school/first_block_js.html" %}
	
<form action="/school/markTable/{{class_id}}" name="info" method="post" id='myform'
    onsubmit="return false">{% csrf_token %}
	<input type="hidden" name="submitChoice" value="">
		
    <h2>Bảng điểm
		lớp <b>{{ selectedClass.name }}</b>
		môn 
		<select name="subject" onchange="submitSubject()">
				<option value=-1 selected>Chọn môn </option>
			{% for subject in subjectList %}
				<option value={{ subject.id }}>{{ subject.name }}</option>
			{% endfor %}
		</select>
		học kỳ		
		<select name="term" onchange="submitTerm();">
        {% for term in termList %}
			<option value={{ term.id }} selected> {{ term }} </option>
        {% endfor %}
		</select>
    </h2>
	
    <script type="text/javascript">
		document.info.term.value = {{termChoice}}
		document.info.subject.value ={{subjectChoice}};
    </script>
	 
	{% ifnotequal subjectChoice -1 %} 	
	
		{% include "school/third_block.html" %}
		
		{% include  "school/mark_for_headmaster.html" %}

		{% include  "school/second_block_js.html" %}
	{% endifnotequal %}	

  </form>

{% endblock %}
