{% extends "base.html"%}
{% block content %}
{% if message != None %}
{{message}}
{% endif %}

{% if selectedSubject.teacher_id %}
	<script>
		var idTeacher = {{ selectedSubject.teacher_id.id }};
	</script>
{% else %}
	<script>
		var idTeacher = -1;
	</script>
{% endif %}	
   	
	
<script language="JavaScript" type="text/javascript" >
	
	
	var temp = "{{enableChangeMark}}";
	if (temp=="True") enableChangeMark=true;
	else enableChangeMark=false;
	
	temp = "{{ enableSendSMS}}";
	if (temp=="True") enableSendSMS=1;
	else enableSendSMS=0;

	//window.addeventListener('keydown', function(e) {
	//if ((e.keyCode==38) || (e.keyCode==38))
	//	e.preventDefault()
	//}, false);
	
function catchEnter(e)

{
      if (!e) e = window.event; 
      var code = (e.keyCode) ? e.keyCode : e.which;

	if (code == 13 || code == 3) 
	{
		return false;
	}	
	else return true;
}
window.onload = function() { document.onkeypress = catchEnter; };
   

	function acceptDigits(tb){
		if (tb.value=="-")
		{
			tb.value="10";
			return;
		}
			
		var exp = /[^((\d).,)]/g;
		tb.value=tb.value.replace(exp,'');		
		
		
		value=tb.value;			
		var exp1=/[,]/g
		value=value.replace(exp1,'.');		
		//kiem tra xem no co nhieu hon hai dau cham hay ko
		
		var countDot=0;
		for(i=0;i<value.length;i++)
			if (value.charAt(i)==".") 
				countDot++;
				
		if (countDot>1)
			tb.value=value.substring(0,value.length-1);
			
		if (tb.value.length>4)	
			tb.value=tb.value.substring(0,4);
			
		var number=parseFloat(tb.value);
		
			
		if ((10<number ) && (number<100))
		{
			temp=number/10;
			tb.value=temp.toString();
		}
		if ((100<=number ) && (number<1000))
		{
			temp=number/100;
			tb.value=temp.toString();
		}
	}
	
	function returnMove()
	{
		for(i=0;i<3;i++)
			if (document.info.move[i].checked)
				return i;
	}
	
	function directionFirstRow(nameNumber,valueOfMove)
	{
		var lengthList={{lengthList}};		
		if (valueOfMove==2)			
			temp=nameNumber+100;
		else
		{	
			if (nameNumber % 100==16)
				temp=parseInt(nameNumber/100)*100+101
			else
				temp=nameNumber+1
		}	
		var tempName=temp.toString();
		var cel=document.getElementById(tempName);
		if (cel)
			cel.focus();
	}
	
	function directionOtherRow(nameNumber,valueOfMove)
	{
		var lengthList={{lengthList}};
		if (valueOfMove==2)			
		{
			if (parseInt(nameNumber/100)==lengthList)
				temp=100+nameNumber % 100;
			else					
				temp=nameNumber+100;
		}		
		else
		if (valueOfMove==1)			
		{	
			if (nameNumber % 100==16)
				temp=parseInt(nameNumber/100)*100+101
			else
				temp=nameNumber+1
		}
		else
		{	
			if (nameNumber % 100==16)
				temp=parseInt(nameNumber/100)*100+101;
			else
			{
				var beforeRow=nameNumber-100;
				var index = beforeRow-beforeRow % 100 ;
				var ok=false;
				for (i=beforeRow % 100+1;i<17;i++)
				{
					var cellNumber=index+i;
					tempCel=document.getElementById(cellNumber.toString());
					if (tempCel)
						if (tempCel.value.length>0)
						{
							ok=true;
							break;
						}	
				}
				
				if (ok)
					temp=index+100+i;
				else
					temp=nameNumber+1;
			}			
		}
		
		var tempName=temp.toString();
		var cel=document.getElementById(tempName);
		if (cel)
		{
			cel.focus();
		}					
	}
	function controlDirection(tb,event)
	{
		//ert("ttt");
		var keycode=event.keyCode;
		var name=tb.id;
		var nameNumber=parseInt(name);
		var lengthList={{lengthList}};		
		
		if ((keycode==32) | (keycode==13))
		{
			valueOfMove=returnMove();
			if (parseInt(nameNumber/100)==1)
			{
				directionFirstRow(nameNumber,valueOfMove);
			}	
			else
			{
				directionOtherRow(nameNumber,valueOfMove);
			}	
		}	
		else	
		if ((keycode==40))
		{
			//alert(lengthList);
			if (parseInt(nameNumber/100)==lengthList)
				nameNumber=nameNumber % 100;
			//ert(parseInt(nameNumber/100));
				
			var temp=nameNumber+100;
			
			var tempName=temp.toString();
			
			var cel=document.getElementById(tempName);
			if (cel)
				cel.focus();
		}
		else
		if (keycode==38)
		{
			if (parseInt(nameNumber/100)==1)
				nameNumber=lengthList*100+nameNumber % 100+100;
			var temp=nameNumber-100;
			var tempName=temp.toString();
			var cel=document.getElementById(tempName);
			if (cel)
				cel.focus();
		}
		else
		if (keycode==37)
		{	
			var temp=nameNumber-1;
			if ((temp % 100)==0) 
					temp+=1;
			var tempName=temp.toString();
			var cel=document.getElementById(tempName);
			if (cel)
				cel.focus();
		}
		else
		if (keycode==39)
		{
			var temp=nameNumber+1;
			var tempName=temp.toString();
			var cel=document.getElementById(tempName);
			if (cel)
				cel.focus();
		}
	}
	

	function submitTerm()
	{
			if (document.info.term.value!={{termChoice}})
			{
				document.info.submitChoice.value="hienthi";
				document.info.submit();
			}	
	}

	function saveMark()
	{
		document.info.submitChoice.value="luulai";
			document.info.submit();
	}
	function saveMarkHasComment()
	{
		var length={{lengthList}};
		document.getElementById("commentTable").style.visibility='hidden';
		for(i=1;i<=length;i++)
			for(j=1;j<5;j++)
			{
				k=i*100+j;
				var name=k+"";
				var t=document.getElementById(name).value.toLowerCase();
				//alert(t);
				var value="";
				if (t!="")
					if (t=="g")
						value="9";
					else
					if (t=="k")
						value="7";
					else						
					if ((t=="tb") ||(t=="t"))
						value="6";
					else						
					if (t=="y")
						value="4";
					else						
						value="1";
						
					document.getElementById(name).value=value;									
				}
		document.info.submitChoice.value="luulai";
		document.info.submit();

	}
	function saveMarkHasComment1()
	{
		var length={{lengthList}};
		document.getElementById("commentTable").style.visibility='hidden';
		//alert(length);
		for(i=1;i<=length;i++)
			for(j=1;j<6;j++)
			{
				k=i*100+j;
				var name=k+"";
				var t=document.getElementById(name).value.toLowerCase();
				//alert(t);
				var value="";
				if (t!="")
					if (t=="g")
						value="9";
					else
					if (t=="k")
						value="7";
					else						
					if ((t=="tb") ||(t=="t"))
						value="6";
					else						
					if (t=="y")
						value="4";
					else						
						value="1";
						
					document.getElementById(name).value=value;									
				}
		document.info.submitChoice.value="luulai";
		document.info.submit();

	}
	function validateComment(tb)
	{
		var value=tb.value.toLowerCase();
		if ((value!="g") && (value!="k") &&
		(value!="tb")&& (value!="t")&& (value!="y") &&
		(value!="ke") && (value!="kem")
		&& (value!="kém"))
		{
			tb.value="";
		}
	}
	function  control(tb,event)
	{
		acceptDigits(tb);
		//ntrolDirection(tb,event);				
	}
	
	var length={{lengthList}} + 1;
	var oldAr = new Array(length);
	var newAr = new Array(length); 
	var tempNewAr = new Array(length); 
	var idAr  = new Array(length);
	var hk1Ar = new Array(length);	
	var indexId = 0;
	var indexHk1= 0;
	function setArrayId(id)
	{
		indexId++;
		idAr[indexId] = id;
	}
	function setArrayHk1None()
	{
		indexHk1++;
		hk1Ar[indexHk1] = -1;
	}
	function setArrayHk1(value,value2)
	{
		indexHk1++;
		var exp1=/[,]/g
		hk1Ar[indexHk1] =value + value2/10.0;
	}
	

	
</script>

<form action="/school/markForASubject/{{selectedSubject.id}}"  name="info" method="post" id='myform' 
	onsubmit="return false" >{% csrf_token %}
<table border="0" width=100% >
	<input type="hidden" name="submitChoice" value="">	
	
	<div id="myDiv"> </div>  	
	<div id="myDiv3"> </div>  	
	<tr>
		<td align="center" colspan =4 style="font-size:25px" >
			<b>Bảng điểm  theo môn  </b>
			<br>
			<br>
		</td>
	</tr>
	<tr>
		<td colspan=2 >
			Môn: {{selectedSubject.name}}
		</td>
		<td  >
			Lớp: {{selectedSubject.class_id.name}}
		</td>
	</tr>
	<tr>
	<td>&nbsp</td>
	</tr>
	<tr>										
		<td width ="20%"> Học kỳ &nbsp&nbsp:  
		<select name="term" onchange="submitTerm();" >				
			{% for term in termList %}
					<option   value={{ term.id }} selected> {{ term}} </option>	
			{% endfor %}	
			
		</select>
		</td>
	{% if enableChangeMark %}	
	{%ifnotequal hsSubject 0 %}
		<td width ="25%" >
			Dịch chuyển: <br >
			<p title="Sau khi nhập xong sẽ tự động nhảy đến đúng cột mà cột ở trên cũng có điểm">
				<input type="radio" name="move" id="ngang1" value="ngang1" checked  > Ngang theo điểm hàng trên
				<br>
			</p>
			
			<p title="Nhảy bình thường sang cột tiếp theo">
				<input type="radio" name="move" id="ngang2" value="ngang2" >
				Ngang bình thường			
				<br>
			</p>
			
			<p title="Sau khi nhập xong sẽ tự động nhảy xuống hàng tiếp theo">
				<input type="radio" name="move" id="doc" value="doc" >
				Dọc
			</p>
		</td>	
		<td width ="35%">
			Ghi chú: <br>
				+ Sau khi nhập điểm xong ở một ô, 
					có thể ấn enter hoặc dấu cách 
					 để chuyển sang ô tiếp theo   <br>
				+ Bạn có thể dùng dấu - thay cho điểm 10 <br>
				+ Bạn có thể gõ tắt mà không cần gõ dấu chấm.<br>
				+ Vd: 75->7,5 hoặc 675->6,75  <br>
			</ul>
		</td>	
	 {% endifnotequal %}		
	{% endif %}	
	</tr>	
</table>
	{% if  enableChangeMark %}
		<table border=0 width="100%">
			<tr>
				<td width="90%"> 
				<button  title="Click vào đây để gửi tin cho những học sinh đã chọn" id="sendSelect" onclick="sendSelected();" >Gửi SMS <img src="/static/images/message3.png" >  </button>
				<br>
				<div id="messageSMS"  > </div> 
				</td width="10%">
				
				<td> <img src="/static/images/save1.png" > <div id="messageChanging"  >  </div>   
				</td>
			</tr>			
		</table>
	{% else %} 
	{% if enableSendSMS %}
	<button title="Click vào đây để gửi tin cho những học sinh đã chọn" id="sendSelect" onclick="sendSelected();" >Gửi SMS <img src="/static/images/message3.png" >  </button>
	<br>
	<div id="messageSMS"  > </div> 
	{% endif %}
	{% endif %}

	
	<br>
<script type="text/javascript" >
	document.info.term.value={{termChoice}}
	m=document.getElementById("{{move}}")
	if (m) m.checked=true;
	
</script>		

	{#<----------------------------------------------------------------------------------> #}	
	{# day la phan tinh diem cho nhung mon thuoc nhan xet #}
	{#<----------------------------------------------------------------------------------> #}
	{%ifequal hsSubject 0 %}
		{% include  "school/mark_has_comment.html" %}
			
	{% endifequal %}

	{#<----------------------------------------------------------------------------------> #}
	{#day la phan tinh diem nhung mon khong phai la nhan xet #}	
	{#<----------------------------------------------------------------------------------> #}

	
	{%ifnotequal hsSubject 0 %}
		{% include  "school/mark_no_comment.html" %}
	{% endifnotequal %}
	
</form>	

<script>
    function getCookie(name) {
    var cookieValue = null;
        if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
             // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
         }
        }
        return cookieValue;
    } 
	var cookieValue = getCookie('csrftoken'); 
	var tong=0	
	var tong1=0
	
	// day la phan gui diem
	////////////////////////////////////////////////////////////////////////////////////
	function sendToServer(str)
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp=new XMLHttpRequest();
			//alert("chao");
		}
		else
		{// code for IE6, IE5
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}

		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				//document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
				//alert("fdfdf fsdfffhello1");
				//tong=tong+1
				document.getElementById("messageChanging").innerHTML="Đã lưu";
				updateOldAr();
				//document.getElementById("myDiv1").innerHTML=tong;
			}
		}   				
		//alert(cookieValue);
		
		xmlhttp.open("POST", "/school/saveMark",true);
        xmlhttp.setRequestHeader("X-CSRFToken",cookieValue );
		data = "str="+str;
		xmlhttp.send(data);			
	}


	for(var i=1;i<length;i++)
	{	
		oldAr[i]     = new Array(20);
		newAr[i] 	 = new Array(20);
		tempNewAr[i] = new Array(20); 
		newAr[i][18] = hk1Ar[i];
	}	
	var exp1=/[,]/g	
	for(var i=1;i<length;i++)
	{
		for(var j=1;j<17;j++)
		{		
			var id = i*100+j;
			if (enableChangeMark)
				var value=document.getElementById(id.toString()).value;
			else	
				var value=document.getElementById(id.toString()).innerHTML;
			value=value.replace(exp1,'.');		
			if ((value=="") || (value==" "))				
				oldAr[i][j]=-1;
			else	
				oldAr[i][j]=parseFloat(value);
		}
	}	
	function calculateNewArray()
	{
		for(var i=1;i<length;i++)
			for(var j=1;j<17;j++)
			{		
				var id = i*100+j;
				if (enableChangeMark)
					var value=document.getElementById(id.toString()).value;
				else	
					var value=document.getElementById(id.toString()).innerHTML;

				value=value.replace(exp1,'.');		
				if ((value=="") || (value==" "))
					newAr[i][j]=-1;
				else
					newAr[i][j]=parseFloat(value);
					if ((!isNaN(newAr[i][j])) && (newAr[i][j]>10))
					{
						var tb=document.getElementById(id.toString()); 
						acceptDigits(tb);
						tb=document.getElementById(id.toString()); 
						newAr[i][j]=parseFloat(tb.value);
					}	
			}		
	}
	function viewAverage()
	{
		var termNumber = {{selectedTerm.number}};
		calculateNewArray();
		var sum=0;
		var factor=0
		for(var i=1;i<length;i++)
		{
			var ok=true;
			for(j=1;j<17;j++)
			if (isNaN(newAr[i][j]))
			{
				ok=false;
				break;				
			}
			if (newAr[i][16]==-1) 
				ok=false;
			if (ok)
			{
				sum=newAr[i][16]*3;
				factor=3;
				for(j=1;j<11;j++)
				if (newAr[i][j]!=-1)
				{
					sum=sum+newAr[i][j];
					factor++;
				}
				for(j=11;j<16;j++)
				if (newAr[i][j]!=-1)
				{
					sum=sum+newAr[i][j]*2;
					factor=factor+2;
				}
				var name= i*100+17;
				
				var averageValue = Math.round(sum/factor *10+0.00000001)/10;
				newAr[i][17]=averageValue;
				
				document.getElementById(name.toString()).innerHTML= averageValue;
				if (termNumber==2)
					if (hk1Ar[i]!=-1)
					{
						var name1= i*100+19;
						var value= (averageValue*2+hk1Ar[i])/3; 
							value= Math.round(value * 10+0.0000001)/10;
						document.getElementById(name1.toString()).innerHTML=value;
						newAr[i][19]=value;
					}					
			}
			else
			{
				var name= i*100+17;
				document.getElementById(name.toString()).innerHTML="";
				newAr[i][17]=-1;
				if (termNumber==2)
				{
					var name1= i*100+19;
					document.getElementById(name1.toString()).innerHTML="";					
					newAr[i][19]=-1;
				}	
			}	
		}		
	}
	function updateOldAr()
	{
		for(var i=1;i<length;i++)
			for(var j=1;j<17;j++)
				oldAr[i][j] = tempNewAr[i][j];
	}
	function update()
	{
		//var date1 = new Date();
		var str="";
		for(var i=1;i<length;i++)
		{
			var ok=false;
			for(var j=1;j<17;j++)
				if (newAr[i][j]!=oldAr[i][j])
				{
					ok=true;
					break;
				}
			if (ok==true)
			{
				var numberString="";
				var valueString ="";
				for(var j=1;j<17;j++)
					if ((newAr[i][j]!=oldAr[i][j]) && (!(isNaN(newAr[i][j]))))
					{					
						numberString=numberString+j+"*";
						valueString =valueString+newAr[i][j]+"*"; 
					}
				if (numberString!="")	
					str=str+"/"+idAr[i]+":"+numberString+":"+valueString;					
			}				
		}
		//tong1=tong1+1
		//var str1 =document.getElementById("myDiv").innerHTML+" | "+str;
		//document.getElementById("myDiv").innerHTML=str1;
		
		//alert(str);	
		if (str!="")
		{
			document.getElementById("messageChanging").innerHTML="Đang lưu";
			sendToServer(idTeacher+str);
		}
		//writeOld();	
		for(var i=1;i<length;i++)
			for(var j=1;j<17;j++)
				tempNewAr[i][j] = newAr[i][j];
		
		
		//var date2 = new Date();
		//var difference=date2.getTime()-date1.getTime();
		//document.getElementById("myDiv6").innerHTML="abc"+difference;
		//alert(difference);
		
		//writeNew();	
	}
	function writeOld()
	{
		var str=""
		for(var i=1;i<length;i++)
		{
			for(var j=0;j<17;j++)
			{
				str=str+oldAr[i][j]+" ";
			}		
			str=str+"<p>"
		}	
		document.getElementById("myDiv2").innerHTML = str;
	}	
	function writeNew()
	{
		var str=""
		for(var i=1;i<length;i++)
		{
			for(var j=1;j<20;j++)
			{
				str=str+newAr[i][j]+" ";
			}		
			str=str+"<p>"
		}	
		document.getElementById("myDiv3").innerHTML = str;
		
	}	
	</script>
		
	{% if enableChangeMark %}
	<script>
		var myTimer;
		var myTimer1;
		myTimer  = setInterval("update()", 2000);
		myTimer1 = setInterval("viewAverage()", 1001);
		//clearInterval(myTimer);
   
	</script>
    {% endif %}
	
	<script>
	///////////////////////////////////////////////////////////
	//			the functions for sending sms
	///////////////////////////////////////////////////////////
	function sendToServer1(str)
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp=new XMLHttpRequest();
			//alert("chao");
		}
		else
		{// code for IE6, IE5
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}

		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				//document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
				//alert("fdfdf fsdfffhello1");
				//tong=tong+1
				//document.getElementById("myDiv1").innerHTML=tong;
				document.getElementById("messageSMS").innerHTML="Đã gửi thành công";
				
			}
		}   				
		//alert(str);
		//cookieValue=getCookie('csrftoken'); 
		xmlhttp.open("POST", "/school/sendSMSMark",true);
        xmlhttp.setRequestHeader("X-CSRFToken",cookieValue );
		data = "str="+str;
		xmlhttp.send(data);			
	}
	
	function sendSelected()
	{
		viewAverage();
		document.getElementById("messageSMS").innerHTML="Đang gửi";
		var table=document.getElementById("markTable");
		var str=""		
		var checkAr = new Array(21);
		for(var j=1;j<20;j++)
		{
			var name="checkbox"+j;
			var t = document.getElementById(name);
			checkAr[j]=false
			if (t)
				if (t.checked) 
				{
					checkAr[j]=true;	
				}					
		}
		
		for(var i=1;i<length;i++)
		{				
			if (table.rows[i+2].className=="selected")
			{
				var number="";
				var value ="";
				var ok=false;
				for(var j=1;j<20;j++)
				if (checkAr[j] && (newAr[i][j]!=-1) && (!(isNaN(newAr[i][j])))) 
				{
					
					ok=true;
					number=number+j+"*";
					value =value +newAr[i][j]+"*";
				}
				if (ok)
					str=str+"/"+idAr[i]+":"+number+":"+value;
			}			
		}
		//alert(str);
		if (str!="")
			sendToServer1(str);
		else
			document.getElementById("messageSMS").innerHTML="Chưa có điểm nào để gửi";
		
	}	
	
	function select(tb)
	{
		if (tb.parentNode.className=="selected")
		{
			tb.parentNode.className="";
			var number=tb.parentNode.rowIndex;
			var name =(number-2)*100;
			document.getElementById(name).checked=false;
		}		
		else				
		{
			tb.parentNode.className="selected";
			var number=tb.parentNode.rowIndex;
			var name =(number-2)*100;
			document.getElementById(name).checked=true;
		}	
	}
	function checkAllRows(tb)
	{
		var value= tb.checked;
		if (value)
		{
			var table = document.getElementById("markTable");
			for(var i=1;i<length;i++)
			{
			    table.rows[i+2].className="selected"
				var name=i*100;
				document.getElementById(name).checked=true;	
			}
		}
		else
		{
			var table = document.getElementById("markTable");
			for(var i=1;i<length;i++)
			{
			    table.rows[i+2].className=""
				var name=i*100;
				document.getElementById(name).checked=false;	
			}
		}
	}
	function checkAllCols(tb)
	{
		var value=tb.checked;
		for(var i=1;i<20;i++)
		{
			var name="checkbox"+i;
			if (document.getElementById(name))
				document.getElementById(name).checked=value;
		}
	}
</script>
  
{% endblock %}
    