{% extends "base.html" %}
 

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
	{% if user.userprofile.position != "GIAO_VIEN" %}
    > <a href="/school/classes"> Toàn trường  </a>
		{% if selectedClass %}
			> <a href="/school/viewClassDetail/{{selectedClass.id}}"> {{selectedClass.name}}  </a>
		{% endif %}
		{% if selectedSubject %}
			> {{selectedSubject.name}}
		{% endif %}
	{% else %}
    > <a href="/school/markForTeacher/{{type}}">Điểm</a>
		{% if selectedSubject %}
			> {{selectedSubject.name}} - {{selectedSubject.class_id.name}}
		{% endif %}
	{% endif %}
{% endblock %} 



{% block content %}

  <script language="JavaScript" type="text/javascript">
    function submitSubject()
	{
		if (document.info.subject.value != -1) 
			if (document.info.move && document.info.move[0].checked)
					window.location.href="/school/markTable/"  +  {{termChoice}} + "/" + {{classChoice}} + "/" + document.info.subject.value + "/ngang2";
				else	
					window.location.href="/school/markTable/"  +  {{termChoice}} + "/" + {{classChoice}} + "/" + document.info.subject.value;
				
	}
    function submitSubject1()
	{
		if (document.info.subject.value != -1) 
			if (document.info.move && document.info.move[0].checked)
					window.location.href="/school/markForTeacher/" + {{type}} + "/" +{{termChoice}} + "/" + document.info.subject.value + "/ngang2";
				else	
					window.location.href="/school/markForTeacher/" + {{type}} + "/" +{{termChoice}} + "/" + document.info.subject.value;
				
	}
	
	function submitClass()
	{
        if (document.info.class1.value != -1)
		{	
			document.info.subject.value =-1;
			//document.info.submit();
			window.location.href="/school/markTable/" + {{termChoice}} + "/" + document.info.class1.value;
		}	
	}
	function submitTerm()
	{
		var position  = "{{user.userprofile.position}}";
		
		if (position!="GIAO_VIEN")
			window.location.href="/school/markTable/"+document.info.term.value;
		else	
			window.location.href="/school/markForTeacher/" + {{type}}+ "/" +document.info.term.value;
	}
	</script>
  
  {% include  "school/first_block_js.html" %}

<form action="/school/markTable" name="info" method="post" id='myform'
    onsubmit="return false">{% csrf_token %}
	<input type="hidden" name="submitChoice" value="" style="display: none;">
	<div id="myDiv2" style="display: none;"> </div>
	<div id="myDiv3" style="display: none;"> </div>
	
    <h2>Bảng điểm học kỳ
		<select name="term" onchange="submitTerm();">
        {% for term in termList %}
			<option value={{ term.id }} selected> {{ term }} </option>
        {% endfor %}
		</select>
		{% if user.userprofile.position != "GIAO_VIEN" %}
			lớp 
			<select name="class1" onchange="submitClass()">
					<option value="-1" selected> Chọn lớp </option>
				{% for class in classList %}
					<option value={{ class.id }}> {{ class.name }} </option>
				{% endfor %}
			</select>		
			môn  
			<select name="subject" onchange="submitSubject()">
					<option value=-1 selected>Chọn môn </option>
				{% for subject in subjectList %}
					<option value={{ subject.id }}> {{ subject.name }} </option>
				{% endfor %}
			</select>
		{% else %}
			môn  
			<select name="subject" onchange="submitSubject1()">
					<option value=-1 selected>Chọn môn </option>
				{% for subject in subjectList %}
					<option value={{ subject.id }}> {{ subject.name }} - {{subject.class_id.name}} </option>
				{% endfor %}
			</select>
		{% endif %}	
		
    </h2>
	
    <script type="text/javascript">
		var position = "{{user.userprofile.position}}";
		if (position!="GIAO_VIEN")
			document.info.class1.value = {{classChoice}};
		document.info.term.value = {{termChoice}};
		document.info.subject.value ={{subjectChoice}};
    </script>
	 
	{% ifnotequal subjectChoice -1 %} 	
	
		{% include "school/third_block.html" %}
		
		{% if user.userprofile.position == 'HIEU_TRUONG' or user.userprofile.position == 'HIEU_PHO' %} 		
			{% include  "school/mark_for_headmaster.html" %}
		{% else %}
		{% if  enableChangeMark %}
			{% include  "school/mark_for_teacher.html" %}
		{% else %}	
			{% include  "school/mark_only_view.html" %}
		{% endif %}	
		{% endif %}	
		
		{% include  "school/mien_giam_mark.html" %} 
		{% include  "school/second_block_js.html" %} 
	{% else %}
		</form>
	{% endifnotequal %}	


{% endblock %}
