{% block content %}
{% if message != None %}
{{message}}
{% endif %}

<script type="text/javascript" >

	function check()
	{	
		if (document.info.class1.value==-1)
		{
			alert("xin vui lòng chọn một lớp");
			return false;
		}	
		if (document.info.subject.value==-1)
		{
			alert("xin vui lòng chọn một môn học");
			return false;
		}	
		if (document.info.term.value==-1)
		{
			alert("xin vui lòng chọn một học kỳ");
			return false;
		}	
		document.info.submitChoice.value="hienthi";
		return true;
	}
	function checkMark()
	{
		document.info.submitChoice.value="luulai";
		return true;
	}
</script>

<table border="0" width=100% >
<form action="/school/mark_table"  name="info" method="post" >{% csrf_token %}
	<input type="hidden" name="submitChoice" value="luulai">	
	<tr>
		<td align="center" colspan =3>
			<b>Bảng điểm </b>
		</td>
	</tr>
	
	<tr>
		<td width ="30%">Lớp:
		<select name="class1" >
	       	<option value=-1>chọn lớp</option>		
			{% for class in classList %}
				<option value={{class.id }}> {{ class.name}}</option>
			{% endfor %}
		</select>		
		</td>
		
		
		<td width ="30%"> Môn học:
		
		<select name="subject" >
	       	<option value=-1>chọn môn</option>		
			{% for subject in subjectList %}
				<option value={{subject.id }}> {{ subject.name}}</option>		
			{% endfor %}		
		</select>
		</td >
				
		<td width ="40%"> Học kỳ:		
		<select name="term" >
		
			<option value=-1>chọn học kỳ</option>
			<option value=1> Học kỳ 1</option>
			<option value=2> Học kỳ 2</option>
			<option value=3> Học kỳ 3</option>
		</select>
		</td>
	</tr>
<script type="text/javascript" >
	document.info.class1.value={{classChoice}};
	document.info.subject.value={{subjectChoice}};
	document.info.term.value={{termChoice}};
	
</script>		
		
	<tr><td>&nbsp </td>	</tr>
	<tr> <td colspan=3 align="right">    
	<input type ="submit" name="submit" value="Hiển thị bảng điểm" onclick="return check()" >	</td>
	</tr>
	
	{% ifnotequal classChoice -1   %} 	
	<tr>
	<td colspan =3>
	<table border =1 width = "100%" >
		<tr>
			<td rowspan=2 align="center" width="4%">
				Stt
			</td>	
			<td rowspan=2 align="center" width="20%">
				Họ và tên
			</td>	
			<td rowspan=2 align="center" width="10%">			
				Ngày sinh
			</td>	
			<td colspan=5 align="center" width="20%" >
				Miệng
			</td>	

			<td colspan=5 align="center" width="20%">
				15 phút
			</td>	
			<td colspan=5 align="center" width="20%">
				45 phút
			</td>
			<td rowspan=2 align="center" width="5%">
				Thi cuối kì
			</td>	
			<td rowspan=2 width="5%" >
				Tổng kết
			</td>	
			
		</tr>
		<tr>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		<td width ="4%" align="center" > 1</td>
		<td width ="4%" align="center"> 2</td>
		<td width ="4%" align="center"> 3</td>
		<td width ="4%" align="center"> 4</td>
		<td width ="4%" align="center"> 5</td>
		</tr>
		{% for p,m,id in list %}		
		<tr>
			<td align="center">
			 {{forloop.counter}}	
			</td>
			<td>
			 {{p.last_name}}&nbsp {{ p.first_name }} 			
			</td>
			<td>
			{{ p.birthday.day}}-{{ p.birthday.month}}-{{ p.birthday.year}} 
			</td>

			{% ifnotequal m.mieng_1 None%}
			<td>
				<input type="text" name={{id.d1}} value={{m.mieng_1}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d1}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}

			

			{% ifnotequal m.mieng_2 None%}
			<td>
				<input type="text" name={{id.d2}} value={{m.mieng_2}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d2}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}


			{% ifnotequal m.mieng_3 None%}
			<td>
				<input type="text" name={{id.d3}} value={{m.mieng_3}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d3}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mieng_4 None%}
			<td>
				<input type="text" name={{id.d4}} value={{m.mieng_4}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d4}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mieng_5 None%}
			<td>
				<input type="text" name={{id.d5}} value={{m.mieng_5}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d5}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_1 None%}
			<td>
				<input type="text" name={{id.d6}} value={{m.mlam_1}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d6}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mlam_2 None%}
			<td>
				<input type="text" name={{id.d7}} value={{m.mlam_2}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d7}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mlam_3 None%}
			<td>
				<input type="text" name={{id.d8}} value={{m.mlam_3}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d8}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_4 None%}
			<td>
				<input type="text" name={{id.d9}} value={{m.mlam_4}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d9}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			
			{% ifnotequal m.mlam_5 None%}
			<td>
				<input type="text" name={{id.d10}} value={{m.mlam_5}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d10}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.mot_tiet_1 None%}
			<td>
				<input type="text" name={{id.d11}} value={{m.mot_tiet_1}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d11}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_2 None%}
			<td>
				<input type="text" name={{id.d12}} value={{m.mot_tiet_2}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d12}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_3 None%}
			<td>
				<input type="text" name={{id.d13}} value={{m.mot_tiet_3}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d13}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_4 None%}
			<td>
				<input type="text" name={{id.d14}} value={{m.mot_tiet_4}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d14}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			{% ifnotequal m.mot_tiet_5 None%}
			<td>
				<input type="text" name={{id.d15}} value={{m.mot_tiet_5}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d15}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}

			{% ifnotequal m.ck None%}
			<td>
				<input type="text" name={{id.d16}} value={{m.ck}} style="width:35px ; border:0px" align="center">
			</td>
			{% else %}

			<td>
				<input type="text" name={{id.d16}} value="" style="width:35px ; border:0px" align="center">
			</td>
			{% endifnotequal %}
			<td> 
			{{ m.tb|floatformat:"1"}}
			</td>	

		</tr>		
		{% endfor %}
	</table>	
	</td>
	</tr>
	<tr>
	<td> &nbsp </td>
	</tr>
	<tr>
	<td colspan=3 align="right">
	<input type="submit" name="submit" value="Lưu lại" onclick="return checkMark()" >
	</td>
	</tr>
	{% endifnotequal %}
</form>	
</table>
{% endblock %}

