{% block content %}
    {{ message }}
    <div  style="float: left;">
        <table class="main-table">
            <tr>
                <th class="leftAlign"> Lớp </th>
                <th class="leftAlign"> Thời gian nhập lớp </th>
                <th class="leftAlign"> Thời gian rời lớp </th>
                <th class="leftAlign"> </th>
            </tr>
            {% for a,c in attendlist %}
                <tr>
                    <td> {{ a.get_class }}</td>
                    <td> {{ a.attend_time|date:"SHORT_DATE_FORMAT" }}</td>
                    <td> {% if a.leave_time != None %}
                        {{ a.leave_time|date:"SHORT_DATE_FORMAT" }}
                    {% endif %}
                    </td>
                    {% if a.leave_time != None %}
                        {% if c %}
                            <td> <button class="{{ a.id }} ggButton history warning" > Xóa </button> </td>
                        {% else %}
                            <td> <button class="{{ a.id }} ggButton history" > Xóa </button> </td>
                        {% endif %}
                    {% else %}
                        <td> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div style="float: left;  margin: 0 10px 0 10px;">
        <form action="/school/movestudent/{{ student.id }}" method="post" class="moveStudent">
            {% csrf_token %}
            <table class="dataform" >
                {{ form.as_table }}
            </table>
            <input style="display: none" name="request_type" value="movestudent">
            <input class="ggButton" type="submit" value="Chuyển">
        </form>
    </div>
    <div style="clear: both;"></div>

{% endblock %}