{% extends "base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}

{#    TODO add link.. #}
    {% add_crumb 'Người sử dụng' %}

    {% add_crumb 'Đổi mật khẩu' %}
{% endblock %}

{% block content %}
  <h2>Đổi mật khẩu</h2>
    <form action="/school/password_change" method="post">{% csrf_token %}
        <table class="dataform">
            {{ message }}
            {{ form.as_table }}
        </table>
        <button class="ggButton">Lưu</button>
    </form>
{% endblock %}