{% extends "base.html" %}

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
  > <a href="/profiles/{{user.username}}"
                 title="Sửa thông tin người sử dụng, đổi mật khẩu, đổi tên tài khoản.">
    Người sử dụng
    </a>
  > Đổi mật khẩu
{% endblock %}

{% block content %}
  <h2>Đổi mật khẩu</h2>
    <form action="/school/password_change" method="post">{% csrf_token %}
        <table class="dataform">
            {{ message }}
            {{ form.as_table }}
        </table>
        <button class="ggButton">Lưu</button>
    </form>
{% endblock %}