{% extends "base.html"%}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Báo cáo' '/school/report' %}
    {% add_crumb 'Sổ gọi tên và ghi điểm' %}
{% endblock %}

{% block content %}
<script>
function submit(tb)
{
	if (tb.value!="-2")
		window.location.href="/school/printMarkBook/"+tb.value;
}
</script>
<br>
Lớp
<select id="classList" onchange="submit(this)" >
		<option value="-2" >Chọn lớp </option>
	{% for c in classList %}
		<option value="{{c.id}}">{{c.name}}  </option>	
	{% endfor %}
</select>
<br>
  <br>
  (Chọn lớp để tải file báo cáo Excel về. Sau đó bạn có thể mở file Excel xem báo cáo trên máy.)
<script>
	document.getElementById("classList").value={{classChoice}}; 	
</script>
	
	
{% endblock %}