{% extends "base.html"%}  

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
	> <a href="/school/report"> Báo cáo, thống kê  </a>
  > In phiếu báo điểm
{#	<a href="/school/printMarkForClass"> #}
{#  In phiếu báo điểm#}
{#  </a> >#}
{#	{% if number == 1 %}#}
{#		Học kỳ I#}
{#	{% else %}#}
{#	{% if number == 2 %}#}
{#		Học kỳ II#}
{#	{% else %}#}
{#		Cả năm#}
{#	{% endif %}#}
{#	{% endif %}#}
{#	#}
{% endblock %}


{% block content %}
<br>
Học kỳ
<script>
function reset()
{
	if (document.getElementById("classList"))
		document.getElementById("classList").value="-2";
}
function submit(tb)
{
	var value1 =document.getElementById("mode").value; 
	if (tb.value!="-2")
		window.location.href="/school/printMarkForClass/"+value1+"/"+tb.value;
}
</script>
<select id="mode" onchange="reset()">
    <option value ="1" > Học kỳ I  </option>
    <option value ="2" > Học kỳ II    </option>	 
</select>
{% if not teaching_class %}
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	Lớp
	<select id="classList" onchange="submit(this)" >
			<option value="-2" >Chọn lớp </option>
		{% for c in classList %}
			<option value="{{c.id}}">{{c.name}}  </option>	
		{% endfor %}
			<option value="-1">Toàn trường </option>
	</select>
	<br>
	<br>
	<p>
		(Chọn kỳ và lớp để tải file báo cáo Excel về. Sau đó bạn có thể mở file Excel xem báo cáo trên máy.)
    </p>
{% else %}	
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<button class="ggButton"> Xuất ra excel </button>
{% endif %}

<script>
	document.getElementById("mode").value={{termNumber}}; 
	if (document.getElementById("classList")) 
		document.getElementById("classList").value={{classChoice}}; 	
</script>
	
	
{% endblock %}