{% extends "base.html"%}  

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
  > <a href="/school/report"> Báo cáo, thống kê </a>
  > In sổ gọi tên và ghi điểm
{% endblock  %}

{% block content %}
<script>
function reset()
{
	document.getElementById("classList").value="-2";
}
function submit(tb)
{
	var value1 =document.getElementById("mode").value; 
	if (tb.value!="-2")
		window.location.href="/school/printMarkBook/"+value1+"/"+tb.value;
}
</script>
<br>
  Học kỳ
<select id="mode" onchange="reset()" >
    <option value ="1" > Học kỳ I  </option>
    <option value ="3" > Cả năm    </option>	 
</select>

&nbsp&nbsp&nbsp
Lớp
<select id="classList" onchange="submit(this)" >
		<option value="-2" >Chọn lớp </option>
	{% for c in classList %}
		<option value="{{c.id}}">{{c.name}}  </option>	
	{% endfor %}
		<option value="-1">Toàn trường </option>
</select>
<br>
  <br>
  (Chọn kỳ và lớp để tải file báo cáo Excel về. Sau đó bạn có thể mở file Excel xem báo cáo trên máy.)
<script>
	document.getElementById("mode").value={{termNumber}}; 
	document.getElementById("classList").value={{classChoice}}; 	
</script>
	
	
{% endblock %}