{% extends "base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Báo cáo' '/school/report' %}
{% endblock %}

{% block content %}
  <table width="100%" border="0">
  <tr>
	<td width="50%"><h2>Thống kê học tập</h2></td>
	<td width="50%"><h2>Thống kê khác</h2></td>
	
  </tr>

  {# <a title="Chức năng đang trong quá trình hoàn thiện" href="/school/countInSchool"> Thống kê </a> #}
    <tr>
      <td><a href="/school/count1"> Học lực, hạnh kiểm, danh hiệu</a></td>
      <td><a href="/school/countSMS"> Thống kê tin nhắn</a></td>
    </tr>
    <tr>
      <td><a href="/school/count2/1/1"> Thống kê điểm trung bình</a></td>
    </tr>
    <tr>
      <td><a href="/school/count2/2/1"> Thống kê điểm cuối kì</a></td>
    </tr>
    <tr>
      <td><a href="/school/printMarkBook"> Sổ gọi tên và ghi điểm (xuất ra Excel)</a></td>
    </tr>
    <tr>
      <td><a href="/school/printMarkForClass"> Phiếu báo điểm (xuất ra Excel)</a></td>
    </tr>
    <tr>
      <td><a href="/school/printDanhHieu"> Học sinh có danh hiệu </a></td>
    </tr>
    <tr>
      <td><a href="/school/printNoPass"> Học sinh không lên lớp, thi lại, rèn luyện thêm </a></td>
    </tr>
  </table>
{% endblock %}