{% extends "base.html" %}

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
  > Báo cáo, thống kê
{#  <a href="/school/report">Báo cáo, thống kê</a>  >#}
{% endblock %}

{% block content %}
  <h2>Các báo cáo, thống kê</h2>

  {# <a title="Chức năng đang trong quá trình hoàn thiện" href="/school/countInSchool"> Thống kê </a> #}
  <table>
    <tr>
      <td><a href="/school/count1"> Thống kê học lực, hạnh kiểm, danh hiệu</a></td>
    </tr>
    <tr>
      <td><a href="/school/count2/1"> Thống kê điểm trung bình</a></td>
    </tr>
    <tr>
      <td><a href="/school/count2/2"> Thống kê điểm cuối kì</a></td>
    </tr>
    <tr>
      <td><a href="/school/printMarkBook"> In sổ gọi tên và ghi điểm </a></td>
    </tr>
    <tr>
      <td><a href="/school/printMarkForClass"> In phiếu báo điểm </a></td>
    </tr>
  </table>
{% endblock %}