{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    {% if user.userprofile.position == 'HIEU_TRUONG' or user.userprofile.position == 'HIEU_PHO' or user.userprofile.position == 'GIAO_VU' %}
      <aside id="sitemap">
        <h2>Chức năng chính</h2>
        <a class="sitemapitem ui-widget-content ui-corner-all" href="{% url school.views.tnc_select %}">
            <img class="icon" src="/static/menu/checklist.png" alt="Điểm danh"/>
            Điểm danh
        </a>
        <a class="sitemapitem ui-widget-content ui-corner-all" href="{% url school.viewMark.markTable %}">
            <img class="icon" src="/static/menu/mark.png" alt="Điểm"/>
            Vào điểm
        </a>
        <a class="sitemapitem ui-widget-content ui-corner-all" href="{% url school.views.hanh_kiem %}">
            <img class="icon" src="/static/menu/medal.png" alt="Hạnh kiểm"/>
            Hạnh kiểm
        </a>
        <a class="sitemapitem ui-widget-content ui-corner-all" href="{% url school.views.teachers %}">
            <img class="icon" src="/static/menu/teachers.png" alt="Giáo viên"/>
            Giáo viên
        </a>
        <a class="sitemapitem ui-widget-content ui-corner-all" href="{% url school.views.info %}"
           title="Khai báo thông tin về trường học">
            <img class="icon" src="/static/menu/settings.png" alt="Thông tin trường"/>
            Thiết lập
        </a>
      </aside>

      <section id="classes">
        <h2>Các lớp học</h2>
        {% for grade in grades %}
          <h3>Khối {{ grade.number }}</h3>
          {% for class in classes %}
            {% if class.block_id == grade %}
              <a class="classDiv ui-widget-content ui-corner-all"
                 href="{% url school.views.viewClassDetail class.id %}">
                <span id="{{ class.id }}">
                  <span class="classname"> {{ class.name }} </span>
                  <span class="dimmer">Sĩ số:</span>
                  {{ class.number_of_pupils }}
                </span>
              </a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </section >

      {% else %}

      {% if user.userprofile.position == 'GIAO_VIEN' %}
        <div id="sitemap">
          <h2>Các tác vụ</h2>
{#            <ul class="ui-widget-content ui-corner-bottom">#}
              {% if not teaching_subjects %}
                <p>(Bạn đang không giảng dạy lớp nào.)</p>
              {% else %}
                {% for subject in teaching_subjects %}
                  <a class="sitemapitem ui-widget-content ui-corner-all"
                     href="{% url school.viewMark.markForTeacher term.id subject.id %}">
                      <img class="icon" src="/static/menu/mark.png" alt="Vào điểm"/>
                      {{ subject.name }}-{{ subject.class_id }}
                    Vào điểm
                  </a>
{#                  <li>#}
{#                    <a href="{% url school.viewMark.markForTeacher term.id subject.id %}">#}
{#                      {{ subject.name }}-{{ subject.class_id }}#}
{#                    </a>#}
{#                  </li>#}
                {% endfor %}
              {% endif %}

              <a class="sitemapitem ui-widget-content ui-corner-all"
                 href="{% url school.views.classes %}"
                 title="Danh sách các lớp học">
                  <img class="icon" src="/static/menu/school.png" alt="Lớp học"/>
                  Lớp học
              </a>

              <a class="sitemapitem ui-widget-content ui-corner-all"
                 href="{%  url school.views.nhap_danh_sach_trung_tuyen %}"
                 title="Nhập danh sách học sinh từ Excel">
                  <img class="icon" src="/static/menu/classroom.png" alt="Nhập học sinh"/>
                  Nhập h/s
              </a>

              <a class="sitemapitem ui-widget-content ui-corner-all"
                 href="{% url school.views.teachers %}"
                 title="Danh sách giáo viên">
                  <img class="icon" src="/static/menu/teachers.png" alt="Giáo viên"/>
                  Giáo viên
              </a>

{#          <div class="thumb">#}
{#            <h3 class="ui-widget-header ui-corner-top">Lớp học</h3>#}
{#            <ul class="ui-widget-content ui-corner-bottom">#}
{#              <li><a href="{% url school.views.classes %}">Danh sách lớp học</a></li>#}
{#            </ul>#}
{#          </div>#}
{#            #}
{#          <div class="thumb" style="display: none;">#}
{#            <h3 class="ui-widget-header ui-corner-top">Học sinh</h3>#}
{#            <ul class="ui-widget-content ui-corner-bottom">#}
{#              <li><a href="{%  url school.views.nhap_danh_sach_trung_tuyen %}">Nhập từ file Excel</a></li>#}
{#              <li><a href="{%  url school.views.manual_adding %}">Nhập trực tiếp</a></li>#}
{#            </ul>#}
{#          </div>#}
{#          <div class="thumb">#}
{#            <h3 class="ui-widget-header ui-corner-top">Giáo viên</h3>#}
{#            <ul class="ui-widget-content ui-corner-bottom">#}
{#              <li><a href="{% url school.views.teachers %}">Danh sách giáo viên</a></li>#}
{#            </ul>#}
{#          </div>#}
{##}
{#          <div class="thumb">#}
{#            <h3 class="ui-widget-header ui-corner-top">Nhà trường</h3>#}
{#            <ul class="ui-widget-content ui-corner-bottom">#}
{#              <li><a href="{% url school.views.info %}" title="Thông tin về trường học">Thông tin trường#}
{#                học</a></li>#}
{#              <li><a title="(Đang phát triển..)">Các năm học</a></li>#}
{#            </ul>#}
{#          </div>#}
        </div>

        <div id="classes">
          {% if teaching_class == None %}
            <h2>Bạn không chủ nhiệm lớp nào.</h2>
          {% else %}
            <h2>Lớp chủ nhiệm - {{ teaching_class }}</h2>
          {% endif %}
        </div>
      {% else %}
        {% if user.userprofile.position == 'HOC_SINH' %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}

