<script>
	// ngan chan khi dang luu diem hoac chua luu diem	
	
var primary = {{selectedSubject.primary}};	
var needToConfirm = false;

window.onbeforeunload = function confirmExit(e)
{
	if (document.getElementById("buttonSave").style.display=="")
	{
		if (document.getElementById("messageChanging").innerHTML!="Đã lưu")
			needToConfirm=true;
		else	needToConfirm=false;
	}		
	else	needToConfirm=false;
	
	if (needToConfirm)
		return "Đang lưu điểm. Xin vui lòng ấn cancel(ở lại trang này) để lưu nốt.";
		
}


function getCookie(name) {
var cookieValue = null;
	if (document.cookie && document.cookie != '') {
	var cookies = document.cookie.split(';');
	for (var i = 0; i < cookies.length; i++) {
		var cookie = jQuery.trim(cookies[i]);
		 // Does this cookie string begin with the name we want?
		if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		}
	 }
	}
	return cookieValue;
} 
var cookieValue = getCookie('csrftoken'); 
var tong=0;	
var tong1=0;

// day la phan gui diem
////////////////////////////////////////////////////////////////////////////////////
function sendToServer(str)
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}
	else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}

	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			// truong hop goi tin gui sau nhung ma lai den server truoc
			var responseId=parseInt(xmlhttp.responseText);
			if (responseId<currentId)
				resetOldAr();
			else
			{	
				currentId = responseId;
				updateOldAr();
				if (document.getElementById("messageChanging").innerHTML!="Lưu ngay")
					document.getElementById("messageChanging").innerHTML="Đã lưu";
			}		
		}
	}   				
	xmlhttp.open("POST", "/school/saveMark",true);
	xmlhttp.setRequestHeader("X-CSRFToken",cookieValue );
	var data = "str="+str;
	xmlhttp.send(data);			
}
    //can doan code nay la vi can kiem tra xem diem tren server co giong o client hay ko
	var exp1=/[,]/g	
	for(var i=1;i<length;i++)
		for(var j=1;j<20;j++)
		{		
			var id = i*100+j;		
			var tb =document.getElementById(id.toString());
			if (tb)
			{ 			
				var value=tb.value;
				if (value==undefined)
					value=tb.innerHTML;
				value=value.replace(exp1,'.');
				if (!isComment)
				{	
					oldAr[i][j]=parseFloat(value);
					if (isNaN(oldAr[i][j]))
						oldAr[i][j]=-1;
				}
				else
					oldAr[i][j]=value;	
			}
			else
				oldAr[i][j]=-1;
		}		

function resetOldAr()
{
	for(var i =1;i<length;i++)
		for (var j=1;j<20;j++)
			oldAr[i][j]=-1;
}
function calculateNewArray(newAr)
{
	if (!isComment)
	{
		for(var i=1;i<length;i++)
			for(var j=1;j<17;j++)
			{		
				var id = i*100+j;
				var value=document.getElementById(id.toString()).value;
				
				if (value==undefined)	
					value=document.getElementById(id.toString()).innerHTML;
					
				var exp1=/[,]/g
				value=value.replace(exp1,'.');		

				newAr[i][j]=parseFloat(value);
					
				if ((!isNaN(newAr[i][j])) && (newAr[i][j]>10))
					{
						var tb=document.getElementById(id.toString()); 
						acceptDigits(tb);
						newAr[i][j]=parseFloat(tb.value);
					}
				if (newAr[i][j].toString().length>4)	
				{
					var tb=document.getElementById(id.toString()); 					
					tb.value=tb.value.substring(0,4);
					newAr[i][j] = parseFloat(tb.value);
				}
				if (isNaN(newAr[i][j]))
					newAr[i][j]=-1;
			}		
	}
	else
	{		
		for(var i=1;i<length;i++)
			for(var j=1;j<20;j++)
			{		
				var id = i*100+j;
				var tb=document.getElementById(id);
				if (tb)
				{
					if (tb.value!=undefined)
						newAr[i][j]=tb.value;
					else
						newAr[i][j]=tb.innerHTML;
				}
				else
					newAr[i][j]=-1;
			}		
	}	
}
	function viewAverage()
	{
		var termNumber = {{selectedTerm.number}};
		calculateNewArray(newAr);
		
		var sum=0;
		var factor=0
		if (isSecondTerm) var t= 18
		else  var t = 17;
		
		for(var i=1;i<length;i++)
		if (newAr[i][16]!=-1)
		{
			sum=newAr[i][16]*3;
			factor=3;
			for(j=1;j<11;j++)
			if (newAr[i][j]!=-1)
			{
				sum=sum+newAr[i][j];
				factor++;
			}
			for(j=11;j<16;j++)
			if (newAr[i][j]!=-1)
			{
				sum=sum+newAr[i][j]*2;
				factor=factor+2;
			}
			
			
			var name= i*100+t;
			
			var averageValue = Math.round(sum/factor *10+0.00000001)/10;
			newAr[i][t]=averageValue;
			
			if ((averageValue-Math.floor(averageValue))<0.01)				
				document.getElementById(name.toString()).innerHTML= averageValue+".0";
			else	
				document.getElementById(name.toString()).innerHTML= averageValue;
				
			if (termNumber==2)
				if (hk1Ar[i]!=-1)
				{
					var name1= i*100+19;
					var value= (averageValue*2+hk1Ar[i])/3; 
						value= Math.round(value * 10+0.0000001)/10;
						
					if ((value-Math.floor(value))<0.01)				
						document.getElementById(name1.toString()).innerHTML=value+".0";
					else
						document.getElementById(name1.toString()).innerHTML=value;						
					newAr[i][19]=value;
				}					
		}
		else
		{
			var name= i*100+t;
			document.getElementById(name.toString()).innerHTML="";
			newAr[i][t]=-1;
			if (termNumber==2)
			{
				var name1= i*100+19;
				document.getElementById(name1.toString()).innerHTML="";					
				newAr[i][19]=-1;
			}	
		}	
	}
	function updateOldAr()
	{
		for(var i=1;i<length;i++)
			for(var j=1;j<20;j++)
				oldAr[i][j] = tempNewAr[i][j];
	}
	function update()
	{
		if (isComment)
			calculateNewArray(newAr);
		var str="";
		for(var i=1;i<length;i++)
		{
			var numberString="";
			var valueString ="";
			for(var j=1;j<20;j++)
				if (newAr[i][j]!=oldAr[i][j])
				{					
					numberString=numberString+j+"*";
					if (isComment)
						valueString =valueString+convertToDigit(newAr[i][j].toString())+"*"; 
					else	
						valueString =valueString+newAr[i][j]+"*"; 
				}
			if (numberString!="")	
				str=str+"/"+idAr[i]+":"+numberString+":"+valueString;					
							
		}
		
		if (str!="")
		{
			numberId++;
			sendToServer(numberId+"/"+idTeacher+"/"+primary+str);
			var currentTime = (new Date()).getTime();
			if ((currentTime-latestTime)>1500)
			{
				document.getElementById("messageChanging").innerHTML="Đang lưu";
				document.getElementById("buttonSave").disabled="disabled";			
			}	
		}
		else
		{
			document.getElementById("messageChanging").innerHTML="Đã lưu";
			document.getElementById("buttonSave").disabled="disabled";			
		}	
		for(var i=1;i<length;i++)
			for(var j=1;j<20;j++)
				tempNewAr[i][j] = newAr[i][j];		
		
	}
	function writeOld()
	{
		var str="";
		for(var i=1;i<length;i++)
		{
			for(var j=0;j<20;j++)
			{
				str=str+oldAr[i][j]+" ";
			}		
			str=str+"<p>"
		}	
		document.getElementById("myDiv2").innerHTML = str;
	}	
	function writeNew()
	{
		var str="";
		for(var i=1;i<length;i++)
		{
			for(var j=0;j<20;j++)
			{
				str=str+newAr[i][j]+" ";
			}		
			str=str+"<p>"
		}	
		document.getElementById("myDiv3").innerHTML = str;
		
	}	
	</script>
		
	{% if enableChangeMark %}
	<script>
		var myTimer;
		var myTimer1;
		myTimer  = setInterval("update()", 3000);
		if (!isComment)
			myTimer1 = setInterval("viewAverage()", 1001);
		//clearInterval(myTimer);
   
	</script>
    {% endif %}
	
	<script>
	///////////////////////////////////////////////////////////
	//			the functions for sending sms
	///////////////////////////////////////////////////////////
	function setEmpty()
	{
		var table=document.getElementById("markTable");
		for(var i=1;i<length;i++)
			for(var j=1;j<20;j++)
			if (newAr[i][j]!=-1)
			{
				var name = i*100+j;
				if (document.getElementById(name).value!=undefined)
				{
					table.rows[i+2].cells[j+4].className="";
					if (i% 2 ==1)
						document.getElementById(name).className="mark1";
					else 	
						document.getElementById(name).className="mark";
				}
				else	
				if (j<17)
					table.rows[i+2].cells[j+4].className="noedit";
				else	
					table.rows[i+2].cells[j+4].className="";
			}	
	}
	function showMessageTable()
	{	
		if (document.getElementById("messageTable").style.display=="")
		{
			cancelAll();
			setEmpty();
			document.getElementById("messageTable").style.display="none";
			document.getElementById("messageImage").src="/static/images/muiten.png";
			activeMode = 0;
			for(var i=1;i<length;i++)
			{
				var name= i*100;
				document.getElementById(name).style.display="none";				
			}
			for(var i=1;i<20;i++)
			{
				var name="checkbox"+i;
				if (document.getElementById(name))
					document.getElementById(name).style.display="none";				
			}
			document.getElementById("checkAllRow").style.display="none";
		}
		else
		{	
			cancelAll();
			document.getElementById("messageTable").style.display="";			
			document.getElementById("messageImage").src="/static/images/muiten1.png"
			activeMode = 1;
			for(var i=1;i<length;i++)
			{
				var name= i*100;
				document.getElementById(name).style.display="";				
			}
			for(var i=1;i<20;i++)
			{
				var name="checkbox"+i;
				if (document.getElementById(name))
					document.getElementById(name).style.display="";				
			}
			document.getElementById("checkAllRow").style.display="";
		}				
	}
	function selectAllToSend()
	{
		var table=document.getElementById("markTable");
		var name=0;
		for(var i=1;i<length;i++)
			for(var j=1;j<20;j++)
				if (newAr[i][j]!=-1)
				{
					table.rows[i+2].cells[j+4].className="selected";
					name = i*100+j;
					if (document.getElementById(name).value!=undefined)
						document.getElementById(name).className="selected";
				}
		for(var i=1;i<length;i++)
		{
			table.rows[i+2].className="selected";
			var name=i*100;
			document.getElementById(name).checked=true;
		}	
		for(var i=1;i<20;i++)
		{
			var name="checkbox"+i;
			if (document.getElementById(name))
				document.getElementById(name).checked=true;	
			var number=-(100+i);
			if (document.getElementById(number))
				document.getElementById(number).className="selected";	
			number = number-100;	
			if (document.getElementById(number))
				document.getElementById(number).className="selected";					
		}	
		document.getElementById("checkAllRow").checked=true;	
	}	
	function cancelAll()
	{
		var table=document.getElementById("markTable");
		for(var i=1;i<length;i++)
			for(var j=1;j<20;j++)
				if (newAr[i][j]!=-1)
					if (sentMark[i][j]==1)
					{
						//alert(i+" "+j);

						table.rows[i+2].cells[j+4].className="sent";
						var name = i*100+j;
						if (document.getElementById(name).value!=undefined)
							document.getElementById(name).className="sent";
					}
					else
					{
						if (j<17)
							table.rows[i+2].cells[j+4].className="noedit";
						else	
							table.rows[i+2].cells[j+4].className="";
					
						var name = i*100+j;
						if (document.getElementById(name).value!=undefined)
							if (i% 2==1)
								document.getElementById(name).className="mark1";
							else	
								document.getElementById(name).className="mark";
					}			
		for(var i=1;i<length;i++)
		{
			table.rows[i+2].className="";
			var name=i*100;
			document.getElementById(name).checked=false;
		}	
		for(var i=1;i<20;i++)
		{
			var name="checkbox"+i;
			if (document.getElementById(name))
				document.getElementById(name).checked=false;
			var number=-(100+i);
			if (document.getElementById(number))
				document.getElementById(number).className="";	
			number = number-100;	
			if (document.getElementById(number))
				document.getElementById(number).className="";					
		}		
		document.getElementById("checkAllRow").checked=false;			
	}
	function selectNoSent()
	{
		cancelAll();
		var table=document.getElementById("markTable");
		for(var i=1;i<length;i++)
			for(var j=1;j<20;j++)
			{
				if ((newAr[i][j]!=-1) && (sentMark[i][j]==0))
				{
					table.rows[i+2].cells[j+4].className="selected";
					name=i*100+j;
					if (document.getElementById(name).value!=undefined)
						document.getElementById(name).className="selected";
					
				}
			}	
	}
	
	function checkToSend(tb)
	{
		var rowIndex =tb.parentNode.rowIndex;
		var cellIndex=tb.cellIndex;
		var name=(rowIndex-2)*100+(cellIndex-4);
		var temp = document.getElementById(name).value;		
		if (temp!=undefined)
			document.getElementById(name).focus();
		if ((activeMode==1) && (newAr[rowIndex-2][cellIndex-4]!=-1))					
		{
			if (tb.className!="selected")
			{	
				if (temp==undefined)
					tb.className="selected";
				else
				if (temp!="")
				{
					document.getElementById(name).className="selected";
					tb.className="selected";
				}	
			}	
			else
			{
				if (temp!=undefined)
				{	
					if (cellIndex-4<17)
						tb.className="noedit";
					else 	
						tb.className="";
					if (sentMark[rowIndex-2][cellIndex-4])	
						
						document.getElementById(name).className="sent";
					else
					{	
						if (rowIndex % 2==1)
							document.getElementById(name).className="mark1";
						else
							document.getElementById(name).className="mark";						
					}		
				}
				else				
				if (sentMark[rowIndex-2][cellIndex-4]==1)
					tb.className="sent";
				else
				if (cellIndex-4<17)
					tb.className="noedit";
				else 	
					tb.className="";
			}	
		}				
	}
		
	function sendToServer1(str)
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp=new XMLHttpRequest();
			//alert("chao");
		}
		else
		{// code for IE6, IE5
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}

		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				//document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
				//alert("fdfdf fsdfffhello1");
				//tong=tong+1
				//document.getElementById("myDiv1").innerHTML=tong;
				var temp = document.getElementById("notify");
					temp.innerHTML="Đã gửi thành công";
					$(temp).delay(2000).fadeOut('fast');      
					
				for(var i=1;i<length;i++)
					for(var j=1;j<20;j++)
					if (tempSent[i][j]==1)
						sentMark[i][j]=1;
				cancelAll();
				/*
				activeMode=0;
				for(var i=1;i<length;i++)
				{
					var name= i*100;
					document.getElementById(name).style.display="none";				
				}
				for(var i=1;i<20;i++)
				{
					var name="checkbox"+i;
					if (document.getElementById(name))
						document.getElementById(name).style.display="none";				
				}
				document.getElementById("checkAllRow").style.display="none";
				document.getElementById("messageTable").style.display="none";
				*/
				
			}
		}
		//alert(str);
		//cookieValue=getCookie('csrftoken'); 
		xmlhttp.open("POST", "/school/sendSMSMark",true);
        xmlhttp.setRequestHeader("X-CSRFToken",cookieValue );
		data = "str="+str;
		xmlhttp.send(data);			
	}
	function emptyTempSent()
	{
		for(var i=1;i<length;i++)
			for (var j=1;j<20;j++)
				tempSent[i][j]=0;
	}
	///////////////////////////////////
	function sendSMS()
	{
		if (!isComment)
			viewAverage();
		var table=document.getElementById("markTable");
		var str="";
		
		emptyTempSent();
		
		for(var i=1;i<length;i++)
		{				
			
			var number="";
			var value ="";
			var ok=false;
			for(var j=1;j<20;j++)
			if (newAr[i][j]!=-1)
			if (table.rows[i+2].cells[j+4].className=="selected") 
			{							
				ok=true;
				number=number+j+"*";
				value =value +newAr[i][j]+"*";
				tempSent[i][j]=1;
			}
			if (ok)
				str=str+"/"+idAr[i]+":"+number+":"+value;						
		}
		//alert(str);
		var temp=document.getElementById("notify");									
		if (str!="")
		{
			sendToServer1(str);
			temp.innerHTML="Đang gửi tin nhắn... ";
			$(temp).fadeIn('fast');
		}					
		else
		{
			temp.innerHTML="Chưa chọn điểm nào để gửi.";
			$(temp).fadeIn('fast');
			$(temp).delay(2000).fadeOut('fast');
		}						
	}	
	
	function select(tb)
	{
		if (activeMode==0) return;
		var table=document.getElementById("markTable");
		if (tb.parentNode.className=="selected")
		{
			tb.parentNode.className="";
			var number=tb.parentNode.rowIndex;
			var name =(number-2)*100;
			document.getElementById(name).checked=false;			
			
			var i=number-2;
			for (var j=1;j<20;j++)
				if (newAr[i][j]!=-1)
					if (sentMark[i][j]==1)
					{
						table.rows[i+2].cells[j+4].className="sent";
						var name = i*100+j;
						if (document.getElementById(name).value!=undefined)
							document.getElementById(name).className="sent"
					}
					else
					{
						var name = i*100+j;
						if (document.getElementById(name).value!=undefined)
						{
							if (j<17)
								table.rows[i+2].cells[j+4].className="noedit";
							else	
								table.rows[i+2].cells[j+4].className="";
								
							if (i % 2==1)
								document.getElementById(name).className="mark1";
							else 	
								document.getElementById(name).className="mark";
						}
						else
							table.rows[i+2].cells[j+4].className="noedit";
						
					}			
				
			//alert(number);
		}		
		else				
		{
			tb.parentNode.className="selected";
			var number=tb.parentNode.rowIndex;
			var name=(number-2)*100;
			document.getElementById(name).checked=true;

			var i=number-2;
			for(var j=1;j<20;j++)
			if (newAr[i][j]!=-1)
				{
					table.rows[i+2].cells[j+4].className="selected";
					name = i*100+j;
					if (document.getElementById(name).value!=undefined)
						document.getElementById(name).className="selected";
				}
			
			//alert(number);
		}	
	}
	function checkCol(tb,rowIndex)
	{
		if (activeMode==0) return;
		
		var number = (-parseInt(tb.id)) % 100;
		var boxName="checkbox"+number;
		var table=document.getElementById("markTable");		
		var temp = document.getElementById(boxName)
		if (tb.className=="selected")
		{
			tb.className="";
			temp.checked=false;			
			if (rowIndex==1)
				var name=-(200+number);
			else
				var name=-(100+number);
			document.getElementById(name).className="";
		}
		else
		{
			tb.className="selected";
			temp.checked=true;
			if (rowIndex==1)
				var name=-(200+number);
			else
				var name=-(100+number);
			document.getElementById(name).className="selected";
		}		
				
			
		if (temp.checked==true)
		{
			for(var i=1;i<length;i++)
			if (newAr[i][number]!=-1)
			{
				var name=i*100+number;
				table.rows[i+2].cells[number+4].className="selected";
				if (document.getElementById(name).value!=undefined)
					document.getElementById(name).className="selected";										
			}			    	
		}	
		else
		{
			for(var i=1;i<length;i++)
				if (newAr[i][number]!=-1)
					cancelCell(i,number);
		}							
	}

	function checkCell(x,y)
	{
		var name=x*100+y;
		document.getElementById("markTable").rows[x+2].cells[y+4].className="selected";
		if (document.getElementById(name).value!=undefined)
			document.getElementById(name).className="selected";												
	}	
	function cancelCell(x,y)
	{
		var name=x*100+y;
		var cellInput=document.getElementById(name);
		var tb=document.getElementById("markTable").rows[x+2].cells[y+4];		
		
		if (cellInput.value!=undefined)
		{	
			if  (sentMark[x][y])
				cellInput.className="sent";
			else	
				if (x % 2==1)
					cellInput.className="mark1";
				else		
					cellInput.className="mark";
					
			if (sentMark[x][y]==1)
				tb.className="sent";
			else
				tb.className="";									
		}		
		else	
		if (sentMark[x][y]==1)
			tb.className="sent";
		else
		if (y<17)
			tb.className="noedit";	
		else
			tb.className="";					
	}
	
	function checkAll(tb)
	{
		if (tb.checked==false)
			cancelAll()
		else
			selectAllToSend();
	}
	for (var i=1;i<length;i++)
		if (i % 2==1)
		{
			for (var j=1;j<20;j++)
			{
				var name =  i*100+j;
				var temp = document.getElementById(name);
				if (temp)
					if (temp.value!=undefined)
						temp.className="mark1";
			}
		}	
	
	for (var i=1;i<length;i++)
		for (var j=1;j<17;j++)
			{
				var name= i*100+j;
				var temp = document.getElementById(name);
				if (temp.value ==undefined)
					temp.className ="noedit";										
			}
			
	$(document).ready(function() {
		$('input[type=text]').focus(function(e) {
			highLight(this);
		}
		);

		$('input[type=text]').blur(function() {
				loseHighLight(this);
		  }
		);
		$('input[type=text]').mouseup(
			function(e) {
				e.preventDefault();
			}
		);
		
		$("#import").click(function() {
			$("#fileupload").dialog('open');
		});		
		$("#fileupload").dialog({
			modal : true,
			buttons: {
				Đóng: function() {
					location.reload('true');
					$(this).dialog('close');
				}
			},
			close: function() {
					location.reload('true');
			},
			autoOpen: false,
			width: 700,
			height: 400,
			maxWidth: 700,
			maxHeight: 400,
			title: "Nhập điểm từ file excel"
		});				
		
	});
	if (!isComment)
		viewAverage();
</script>
