{% extends "base.html" %}

{% block content %}
<script>
	$(document).ready(function() {
        $( "#tabs" ).tabs({
            ajaxOptions: {
                error: function( xhr, status, index, anchor ) {
                    $( anchor.hash ).html(
                        "Có lỗi khi lấy dữ liệu từ máy chủ. Xin hãy thử lại" );
                },
                global: false
            }
        });
        $("#id_ngay_vao_doi").each(function(){
            if (!$("#id_doi").is(':checked')){
                $(this).attr('disabled', true);
            }
        });

        $("#id_ngay_vao_doan").each(function(){
            if (!$("#id_doan").is(':checked')){
                $(this).attr('disabled', true);
            }
        });

        $("#id_ngay_vao_dang").each(function(){
            if (!$("#id_dang").is(':checked')){
                $(this).attr('disabled', true);
            }
        });

        $("#id_doi").click(function() {
            if (!$(this).is(':checked')){
                $("#id_ngay_vao_doi").val('');
                $("#id_ngay_vao_doi").attr('disabled', true);
            }
            else{
                $("#id_ngay_vao_doi").removeAttr('disabled');
            };
        });

        $("#id_doan").click(function() {
            if (!$(this).is(':checked')){
                $("#id_ngay_vao_doan").val('');
                $("#id_ngay_vao_doan").attr('disabled', true);
            }
            else{
                $("#id_ngay_vao_doan").removeAttr('disabled');
            };
        });

        $("#id_dang").click(function() {
            if (!$(this).is(':checked')){
                $("#id_ngay_vao_dang").val('');
                $("#id_ngay_vao_dang").attr('disabled', true);
            }
            else{
                $("#id_ngay_vao_dang").removeAttr('disabled');
            };
        });

    });
    function confirmDelete()
    {
        return confirm("Bạn có muốn xóa kỉ luật này không");
    }
</script>

{%if pos > 0%}
	<a title="Xem điểm các môn của học sinh" class = "tiptiphover ggButton" href="{%url school.views.school_index  %}markForAStudent/{{class_id}}/{{id}}">Điểm</a>
{%endif%}
    <a title="Danh sách lớp học" class = "tiptiphove ggButton" href="{%url school.views.school_index  %}viewClassDetail/{{class_id}}">Quay lại</a>
<br>
{% if message != None %}
	{{message}} <br>
{% endif %}
<form action="/school/viewStudentDetail/{{id}}" method="post">{% csrf_token %}

    <div id = "tabs">
        <ul>
            <li><a href="#tabs-1">Thông tin cá nhân</a></li>
            <li><a href="#tabs-2">Thông tin liên lạc</a></li>
            <li><a href="#tabs-3">Thông tin gia đình</a></li>
            <li><a href="#tabs-4">Thông tin khác</a></li>
            <li><a href="/school/khenthuong/{{id}}">Khen thưởng</a></li>
            <li><a href="/school/kiluat/{{id}}">Kỉ luật</a></li>
            <li><a href="/school/diemdanhhs/{{id}}">Những buổi nghỉ</a></li>
        </ul>
        <div id = "tabs-1">
            <table class = "styleA" >
            {{ ttcnform.as_table }}
            </table>
            <input class="ggButton" type="submit" value="Lưu"/>
        </div>
        <div id = "tabs-2">
            <table class = "styleA">
            {{ ttllform.as_table }}
            </table>
            <input class="ggButton" type="submit" value="Lưu"/>
        </div>
        <div id = "tabs-3">
            <table class = "styleA">
            {{ ttgdform.as_table }}
            </table>
            <input class="ggButton" type="submit" value="Lưu"/>
        </div>
        <div id = "tabs-4">
            <table class = "styleA">
            {{ ttddform.as_table }}
            </table>
            <input class="ggButton" type="submit" value="Lưu"/>
        </div>
    </div>
</form>
{% endblock %}
