{% extends "school/base_school.html" %}

{% block content %}
<script>
function confirmCancel()
{
    return confirm("Bạn có chắc chắn muốn hủy cập nhật?");
}
</script>

<table border = 0 align = "center" width = "100%">
<tr>
	<td width = "25%" align = "center"><a href="{%url school.views.school_index  %}markForAStudent/{{class_id}}/{{id}}">Điểm</a></td>
	<td width = "25%" align = "center"><a href="{%url school.views.school_index  %}diemdanhhs/{{id}}">Điểm danh</a></td>
    <td width = "25%" align = "center"><a href="{%url school.views.school_index  %}khenthuong/{{id}}">Khen thưởng</a></td>
	<td width = "25%" align = "center"><a href="{%url school.views.school_index  %}kiluat/{{id}}">Kỉ luật</a></td>
</tr>
</table>
<br>
{% if message != None %}
	{{message}} <br>
{% endif %}
	
<form action="/school/viewStudentDetail/{{id}}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table class="styleA styleDetail">
	    {{ form.as_table }}
	 </table>
   <input type ="submit" value="Cập nhật"/>
   <a href="{%url school.views.school_index  %}viewClassDetail/{{class_id}}" onclick="return confirmCancel();">Hủy</a>
</form>
{% endblock %}
