{% extends "base.html" %}

{% block content %}
{% if message != None %}
	{{message}} <br>
{% endif %}

<script>
function confirmCancel()
{
    return confirm("Bạn có chắc chắn muốn hủy cập nhật?");
}
</script>

<form action="/school/viewSubjectDetail/{{id}}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table class="styleA styleDetail">
	    {{ form.as_table }}
	 </table>
    <input type ="submit" value="Cập nhật"/>
    <a title ="Hủy mọi thao tác và quay về quản lý môn học" href="{%url school.views.school_index  %}subjectPerClass/{{class_id}}" onclick="return confirmCancel();"><input type = "button" value = "Hủy"></a>
</form>
{% endblock %}
