{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" src="/static/js/template_js/sortable_table.js"></script>
{% endblock %}

{% block content %}

    <script>
        function submitClass(){
            if (document.info.class.value!={{class.id}})
                if (document.info.class.value!=-1)
                {
                    window.location = "{%url school.views.school_index  %}subjectPerClass/"+ document.info.class.value;
                }
        }
        function confirmDelete()
        {
            return confirm("Bạn có chắc chắn xóa không?");
        }
        $(document).ready(function(){
            $("select[name=teacher_id]").each(function() {
                $(this).change(function() {
                    var attr = $(this).parents("tr").attr('id');
                    if (typeof attr !== 'undefined' && attr !== false && attr !== 'subject_form'){
                        var id = $(this).parents("tr").attr('id').split(' ')[0];
                        var teacher = $(this).val();
                        var data = { id: id, teacher: teacher, request_type:'teacher'}
                        var arg = { type:"POST",
                            url:"",
                            data: data,
                            datatype:"json"
                        };
                        $.ajax(arg);
                        return false;
                    }
                });
            });

            $("select[name=type]").each(function() {
                $(this).change(function() {
                    var attr = $(this).parents("tr").attr('id');
                    if (typeof attr !== 'undefined' && attr !== false && attr !== 'subject_form'){
                        var id = $(this).parents("tr").attr('id').split(' ')[0];
                        var type = $(this).val();
                        var data = { id: id, type: type, request_type:'type'}
                        var arg = { type:"POST",
                            url:"",
                            data: data,
                            datatype:"json"
                        };
                        $.ajax(arg);
                        return false;
                    }
                });
            });

            $("select[name=primary]").each(function() {
                $(this).change(function() {
                    var attr = $(this).parents("tr").attr('id');
                    if (typeof attr !== 'undefined' && attr !== false && attr !== 'subject_form'){
                        var id = $(this).parents("tr").attr('id').split(' ')[0];
                        var primary = $(this).val();
                        var data = { id: id, primary: primary, request_type:'primary'}
                        var arg = { type:"POST",
                            url:"",
                            data: data,
                            datatype:"json"
                        };
                        $.ajax(arg);
                        return false;
                    }
                });
            });
            $("input[name=hs]").each(function() {
                $(this).change(function() {
                    var attr = $(this).parents("tr").attr('id');
                    if (typeof attr !== 'undefined' && attr !== false && attr !== 'subject_form'){
                        var id = $(this).parents("tr").attr('id').split(' ')[0];
                        var val = $(this).val();
                            var data = { id: id, hs: val, request_type:'hs'}
                            var arg = { type:"POST",
                                url:"",
                                data: data,
                                datatype:"json"
                            };
                            $.ajax(arg);
                            return false;
                    }
                });
            });
        });
    </script>

    <form action="" name = "info" method = "post">{% csrf_token %}
    <h2>Danh sách môn học lớp
        <select name="class" onchange="submitClass()">
            <option value = -1> {{class}} </option>
            {% for cl in classList %}
                {%if cl.id != class.id%}
                    <option  value={{cl.id }}> {{cl}}</option>
                {%endif%}
            {% endfor %}
        </select>
        học kì {{term}}</h2>
    </form>

    <form action="/school/subjectPerClass/{{class.id}}" method="post">{% csrf_token %}
    <div id="tableFunction">
        <a href="{%url school.views.school_index  %}viewClassDetail/{{ class.id }}" class="ggButton">Quay lại</a>
        <input class="ggButton" type="button" id="sort" value="Sắp xếp" />
        <a id="guide" class="tiptiphover ggButton" href="" title="Dùng các phím mũi tên để chọn môn học,
        sau đó Enter để thay đổi thứ tự hoặc bỏ chọn môn đó. Kết thúc bằng việc ấn 'Lưu thứ tự'.">Hướng dẫn</a>
        <input class="ggButton" type ="submit" value="Lưu"/>

    </div>

    <table class="styleA" id="sortable" width = "75%" align = "left">
        <tr>
            <th class="naviButton" style="display: none;"></th>
            <th class="naviButton" style="display: none;"></th>
            <th class="arrow_header" width="5%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/4/{{next_status}}"> STT </a></th>
            <th align="center" width="20%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/1/{{next_status}}">Tên Môn Học</a></th>
            <th align="center"> Chuyên Môn</th>
            <th align="center" width="10%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/2/{{next_status}}">Hệ số </a></th>
            <th align="center" width="25%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/3/{{next_status}}">Giáo viên</a></th>
            <th align="center" > Cách tính điểm </th>
            {%if pos > 1%}
                <th width = "5%"> </th>
            {%endif%}
        </tr>
        {% if message != None %}
            {{message}}
            <br>
        {% endif %}

            {% for ss,f in list %}
                <tr class="sortable" id="{{ ss.id }}">
                    <th class="naviButton" style="display: none;">
                        <button class="naviButton-up ggButton">Lên</button>

                    </th>
                    <th class="naviButton" style="display: none;">
                        <button class="naviButton-down ggButton">Xuống</button>

                    </th>

                    <td class="index" width="3%">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s" style="display: none; float: left;"></span>
                        <p>{{ forloop.counter }}</p>
                    </td>
                    {%if pos > 3%}
                        <td align="center" width="20%"> <a title="Chỉnh sửa thông tin môn học" href="{%url school.views.school_index  %}viewSubjectDetail/{{ss.id}}">{{ss.name}}</a></td>
                        <td align="center"> {{f.type}} </td>
                        <td align="center" width="10%"> {{f.hs}} </td>
                        <td align="center" width="25%"> {{f.teacher_id}}</td>
                        <td align="center"> {{f.primary}} </td>
                    {%else%}
                        <td align="center" width="20%"> {{ss.name}}</td>
                        <td align="center" width="20%"> {{ss.type}}</td>
                        <td align="center" width="10%"> {{ss.hs}} </td>
                        <td align="center" width="25%"> {{ss.teacher_id}}</td>
                        <td align="center" > {{ss.primary}} </td>
                    {%endif%}
                    {%if pos > 3%}
                        <td width = "5%"> <a class = "ggButton" href = "{%url school.views.school_index  %}deleteSubject/{{ss.id}}" onclick="return confirmDelete();">xóa</a></td>
                    {%endif%}
                </tr>
            {% endfor %}
            {%if pos > 3%}
                <tr id="subject_form">
                    {{ form.non_field_errors }}
                    <td width="5%"> </td>
                    <td align="center" width="20%">
                        {{ form.name.errors }}
                        <p>{{ form.name }}</p>
                    </td>

                    <td align="center">
                        {{ form.type.errors }}
                        <p>{{ form.type }}</p>
                    </td>

                    <td align="center" width="10%">
                        {{form.hs.errors }}
                        <p>{{ form.hs }}</p>
                    </td>

                    <td align="center" width="25%">
                        {{ form.teacher_id.errors }}
                        <p>{{ form.teacher_id }}</p>
                    </td>
                    <td align="center" > 
                        {{form.primary.errors}}
                        <p>{{form.primary}} </p> 
                    </td>
                    <td width="10%"><input class = "ggButton" type ="submit" value="Thêm"/></td>
                </tr>
            {%endif%}

        </table>
    </form>
    <table border = "0" width = "75%" align = "center">
        <tr>
            <td width = "5%" align = "left">&nbsp</td>
            <td align = "right"> <a href = "">Xuất ra Excel </a> </td>

        </tr>
    </table>
    <p id="ajax_to" style="display: none;">{% url school.views.change_index 'subject' class.id %}</p>
    <p id="redirect_link" style="display: none;">{% url school.views.subjectPerClass class.id %}</p>
{% endblock %}
