{% extends "base.html" %}

{% block content %}

    <script language="JavaScript" type="text/javascript" >
        $(document).ready(function(){
            $(".arrow").hide();
            $("#guide").hide();
            $("#guide").click(function(){
                return false;
            })
            function isSorting(){
                return $("#sort").val() != "Sắp xếp";
            }

            $("td > input[type=text]").each(function(){
                $(this).click(function(){
                    return false;
                })
            })

            $("td > select").each(function(){
                $(this).click(function(){
                    return false;
                })
            })

            $(document).keydown(function(event){
                if (isSorting()){
                    var theSelected = $(".selected");
                    if (theSelected.length >0 ){
                        if (event.which == 38){
                            // if key is up arrow
                            var prev = theSelected.prev('tr.sortable');
                            if (prev.length > 0){
                                var oldIndex = theSelected.children('td.index');
                                var newIndex = prev.children('td.index');
                                var temp = oldIndex.text();
                                oldIndex.text(newIndex.text());
                                newIndex.text(temp);
                                prev.before(theSelected);
                            }
                        } else if (event.which == 40){
                            // if key is down arrow
                            var next = theSelected.next('tr.sortable');
                            if (next.length>0){
                                var oldIndex = theSelected.children('td.index');
                                var newIndex = next.children('td.index');
                                var temp = oldIndex.text();
                                oldIndex.text(newIndex.text());
                                newIndex.text(temp);
                                next.after(theSelected);
                            }
                        } else if (event.which == 13){
                            theSelected.removeClass('selected');
                            theSelected.children('.arrow').text(' ');
                        }
                    } else {
                        var theFocused = $(".focused");
                        if (event.which == 38){
                            // if key is up arrow
                            var prev = theFocused.prev('tr.sortable');
                            if (prev.length > 0){
                                prev.addClass('focused');
                                theFocused.removeClass('focused');
                            }
                        } else if (event.which == 40){
                            // if key is down arrow
                            var next = theFocused.next('tr.sortable');
                            if (next.length>0){
                                next.addClass('focused');
                                theFocused.removeClass('focused');
                            }
                        } else if (event.which == 13){
                            theFocused.addClass('selected');
                            theFocused.children('.arrow').text('\u2195');
                        }
                    }
                }
            })
            $(".sortable").each(function(){
                $(this).click(function(){
                    if ( isSorting()){
                        if ($(this).hasClass('selected')){
                            $(this).removeClass('selected');
                            $(this).children('.arrow').text(' ');
                        } else {
                            $(".selected").each(function(){
                                $(this).removeClass('selected');
                            });
                            $(this).addClass('selected');
                            $(this).children('.arrow').text('\u2195');

                        }
                    }
                })
            });


            $("#sort").click(function(){
               // create extra buttons and icons.
                var firstFocus = $("tr:eq(1)");
                if ($("#sort").val() == "Sắp xếp"){
                    $("#sort").after("&nbsp <input id='cancel' type='button' value='Hủy sắp xếp'/>");
                    $("#guide").show();
                    $("#subject_form").hide();
                    $("#cancel").click(function(){
                        document.location.replace('{% url school.views.subjectPerClass class.id %}');
                    });
                    $("#sort").val("Lưu thứ tự");
                    $(".arrow").each(function(){
                        $(this).text(' ');
                        $(this).show();
                    });
                    firstFocus.addClass('focused');
                    $(".arrow_header").attr('colspan', '2');
                } else {
                // save the indexes to db
                    var data='';
                    $("tr.sortable").each(function(){
                        var id = $(this).attr('id');
                        var index = $(this).children('td.index').text();
                        data = data + id + '_' + index + '/'
                    });

                    var arg = { type:"POST",
                        url:"{% url school.views.change_index 'subject' class.id %}",
                        data:{data: data},
                        datatype:"json",
                        success: function(){
                            $("#alphabet").remove();
                            $("#cancel").remove();
                            $("#guide").hide();
                            $("#subject_form").show();
                            $("#sort").val("Sắp xếp")
                            $(".arrow").each(function(){
                                $(this).hide();
                            });
                            $(".selected").removeClass('selected');
                            $(".focused").removeClass('focused');
                            $(".arrow_header").removeAttr('colspan');
                        }
                    };
                    $.ajax(arg);
                    
                // restore original state of table

                }
                return false;
            });



        });
        function submitClass(){
            if (document.info.class.value!={{class.id}})
                if (document.info.class.value!=-1)
                {
                    window.location = "{%url school.views.school_index  %}subjectPerClass/"+ document.info.class.value;
                }
        }
        function confirmDelete()
        {
            return confirm("Bạn có chắc chắn xóa không?");
        }

    </script>

    <form action="" name = "info" method = "post">{% csrf_token %}
    <h2>Danh sách môn học lớp
        <select name="class" onchange="submitClass()">
            <option value = -1> {{class}} </option>
            {% for cl in classList %}
                {%if cl.id != class.id%}
                    <option  value={{cl.id }}> {{cl}}</option>
                {%endif%}
            {% endfor %}
        </select>
        học kì {{term}}</h2>
    </form>
    <div id="submenu">
        <input type="button" id="sort" value="Sắp xếp" />&nbsp;
        <a id="guide" class="tiptiphover" href="" title="Dùng các phím mũi tên để chọn môn học,
        sau đó Enter để thay đổi thứ tự hoặc bỏ chọn môn đó. Kết thúc bằng việc ấn 'Lưu thứ tự'.">Hướng dẫn</a>
    </div>
    <form action="/school/subjectPerClass/{{class.id}}" method="post">{% csrf_token %}
    <table class="styleA" id="sortable" width = "75%" align = "left">
        <tr>
            <th class="arrow_header" width="5%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/4/{{next_status}}"> STT </a></th>
            <th align="center" width="20%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/1/{{next_status}}">Tên Môn Học</a></th>
            <th align="center" width="10%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/2/{{next_status}}">Hệ số </a></th>
            <th align="center" width="25%"> <a href="{%url school.views.school_index  %}subjectPerClass/{{class.id}}/3/{{next_status}}">Giáo viên</a></th>
            <th align="center" > Cách tính điểm </th>
            <th align="center" width="10%"></th>
            {%if pos > 1%}
                <th width = "5%"> </th>
            {%endif%}
        </tr>
        {% if message != None %}
            {{message}}
            <br>
        {% endif %}

            {% for ss,f in list %}
                <tr class="sortable" id="{{ ss.id }}">
                    <td width="2%" class="arrow">&nbsp;</td>
                    <td class="index" width="3%">{{forloop.counter}}</td>
                    {%if pos > 3%}
                        <td align="center" width="20%"> <a title="Chỉnh sửa thông tin môn học" href="{%url school.views.school_index  %}viewSubjectDetail/{{ss.id}}">{{ss.name}}</a></td>
                        <td align="center" width="10%"> {{f.hs}} </td>
                        <td align="center" width="25%"> {{f.teacher_id}}</td>
                        <td align="center"> {{f.primary}} </td>
                    {%else%}
                        <td align="center" width="20%"> {{ss.name}}</td>
                        <td align="center" width="10%"> {{ss.hs}} </td>
                        <td align="center" width="25%"> {{ss.teacher_id}}</td>
                        <td align="center" > {{ss.primary}} </td>
                    {%endif%}
                    <td align="center" width="10%"> <a href="{%url school.views.school_index  %}markForASubject/{{ss.id}}"> Điểm </a></td>
                    {%if pos > 3%}
                        <td width = "5%"> <a href = "{%url school.views.school_index  %}deleteSubject/{{ss.id}}" onclick="return confirmDelete();">xóa</a></td>
                    {%endif%}
                </tr>
            {% endfor %}
            {%if pos > 3%}
                <tr id="subject_form">
                    {{ form.non_field_errors }}
                    <td class="arrow" width="2%"> </td>
                    <td width="3%"> </td>
                    <td align="center" width="20%">
                        {{ form.name.errors }}
                        <p>{{ form.name }}</p>
                    </td>

                    <td align="center" width="10%">
                        {{form.hs.errors }}
                        <p>{{ form.hs }}</p>
                    </td>

                    <td align="center" width="25%">
                        {{ form.teacher_id.errors }}
                        <p>{{ form.teacher_id }}</p>
                    </td>
                    <td align="center" > 
                        {{form.primary.errors}}
                        <p>{{form.primary}} </p> 
                    </td>
                    <td width="10%"><input type ="submit" value="Lưu"/></td>
                    <td width = "5%" align = "left"></td>
                </tr>
            {%endif%}

        </table>
    </form>
    <table border = "0" width = "75%" align = "center">
        <tr>
            <td width = "5%" align = "left">&nbsp</td>
            <td align = "right"> <a href = "">Xuất ra Excel </a> </td>

        </tr>
    </table>
{% endblock %}
