{% extends "school/base_school.html" %}

{% block content %}

<script>
function confirmDelete()
{
    return confirm("Are you sure you wish to delete this subject?");
}
</script>

<table border=1 width = "60%" align = "center">
    <tr>
        <td align="center" width="20%"> Tên Môn Học</td>
        <td align="center" width="10%"> Hệ số </td>
        <td align="center" width="25%"> Giáo viên</td>
        <td width = "5%"> <a href = ""></a></td>
    </tr>

    {% if message != None %}
    {{message}}
    {% endif %}

    {% for ss in subjectList %}
    <tr>
        <td align="center" width="20%"> <a href="{%url school.views.school_index  %}markForASubject/{{ss.id}}"> {{ss.name}}</a> </td>
        <td align="center" width="10%"> {{ss.hs}} </td>

        <td align="center" width="25%"> <a href="{%url school.views.school_index  %}viewTeacherDetail/{{ss.teacher_id.id}}">{{ss.teacher_id}}</td>
        <td width = "5%"> <a href = "{%url school.views.school_index  %}deleteSubject/{{ss.id}}" onclick="return confirmDelete();">xóa</a></td>
    </tr>
    {% endfor %}
    
    <form action="/school/subjectPerClass/{{class_id}}" method="post">{% csrf_token %}
        <tr>
            {{ form.non_field_errors }}
            <td align="center" width="20%">
                    {{ form.name.errors }}
                    <p>{{ form.name }}</p>
            </td>
            
            <td align="center" width="10%">
                    {{form.hs.errors }}
                    <p>{{ form.hs }}</p>
            </td>

            <td align="center" width="25%">
                    {{ form.teacher_id.errors }}
                    <p>{{ form.teacher_id }}</p>
            </td>

        </tr>
</table>
<table border = "0" width = "60%" align = "center">
        <tr>
        		<td width = "5%" align = "left"><input type ="submit" value="Thêm"/></td>
        		<td align = "right"> <a href = ""> Xuất ra excel </a> </td>
			</form>
        </tr>
</table
{% endblock %}
