{% extends "base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb sub.class_id 'school.views.viewClassDetail' sub.class_id.id %}
{#    {% add_crumb sub 'school.views.subjectPerClass' sub.class_id.id %}#}
    {% add_crumb sub %}
{% endblock %}

{% block content %}

    {% if message != None %}
	<br>
        {{ message }} <br>
    {% endif %}
    <form action="/school/viewSubjectDetail/{{sub.id}}" method="post">{% csrf_token %}
        <table class="dataform">
            {{ form.as_table }}
        </table>
        <input type="submit" class="ggButton" value="Lưu"/>
        <a class="ggButton " title="Quay về danh sách môn học" href="{%url school.views.school_index  %}subjectPerClass/{{sub.class_id.id}}">Quay lại</a>
    </form>
{% endblock %}
