{% block content %}
    {% if pos > 3 %}
        <script>
            $(document).ready(function() {
                $("select[name=team_id]").each(function() {
                    $(this).change(function() {
                        var id = $(this).parents("tr").attr('class').split(' ')[0];
                        var team = $(this).val();
                        var p = $(this).parents("tr");
                        var data = { id: id, team:team, request_type:'team'};
                        var arg = { type:"POST",
                            url:"/school/teachers_in_group/{{ group.id }}",
                            data: data,
                            datatype:"json",
                            success:function(){
                                p.remove();
                            }
                        };
                        $.ajax(arg);
                        return false;
                    });
                });

                $("select[name=major]").each(function() {
                    $(this).change(function() {
                        var id = $(this).parents("tr").attr('class').split(' ')[0];
                        var major = $(this).val();
                        var data = { id: id, major:major, request_type:'major'};
                        var arg = { type:"POST",
                            url:"school/teachers_in_group/{{ group.id }}",
                            data: data,
                            datatype:"json",
                            success:function() {
                            }
                        };
                        $.ajax(arg);
                        return false;
                    });
                });

                $("select[name=group_id]").each(function() {
                    $(this).change(function() {
                        var id = $(this).parents("tr").attr('class').split(' ')[0];
                        var group = $(this).val();
                        var p = $(this).parents("tr");
                        var data = { id: id, group:group, request_type:'group'};
                        var arg = { type:"POST",
                            url:"/school/teachers_in_group/{{ group.id }}",
                            data: data,
                            datatype:"json",
                            success:function(){
                                p.remove();
                            }
                        };
                        $.ajax(arg);
                        return false;
                    });
                });
            });
        </script>
    {% endif %}
    <h2>Danh sách giáo viên nhóm{{ group }}</h2>
    <table class="styleA" width="100%">
        {% if pos > 3 %}
            <colgroup style="width: 5%; text-align: center;"></colgroup>
        {% endif %}
        <colgroup style="width: 5%; text-align: center;"></colgroup>
        <colgroup style="width: 20%; text-align: center;"></colgroup>
        <colgroup style="width: 10%; text-align: center;"></colgroup>
        <colgroup style="width: 25%; text-align: center;"></colgroup>
        <colgroup style="width: 5%; text-align: center;"></colgroup>
        <colgroup style="width: 10%; text-align: center;"></colgroup>
        <colgroup style="width: 10%; text-align: center;"></colgroup>
        <colgroup style="width: 10%;text-align: center;"></colgroup>
        <tr class="thread">
            {% if pos > 3 %}
                <th class="leftAlign" width="30px" title="Chọn cả nhóm" class="tiptiphover">
                    <input type="checkbox" class="checkbox_all"/>
                </th>
            {% endif %}
            <th class="leftAlign" width="5%"> STT</th>
            <th class="leftAlign" width="15%">Họ tên</th>
            <th class="leftAlign" width="10%">Ngày sinh</th>
            <th class="leftAlign" width="20%">Quê quán</th>
            <th class="leftAlign" width="10%">Giới tính</th>
            <th class="leftAlign" width="10%">Chuyên môn</th>
            <th class="leftAlign" width="15%">Tổ</th>
            <th class="leftAlign" width="15%">Nhóm</th>
        </tr>

        {% if message != None %}
            {{ message }}
        {% endif %}

        {% for ss, f in list %}
            <tr class="{{ ss.id }}">
                {% if pos > 3 %}
                    <td style="text-align: center;" width="30px">
                        <input type="checkbox" class="checkbox_{{ss.id}}"/>
                    </td>
                {% endif %}
                <td style="text-align: center;" width="5%">{{ forloop.counter }}</td>
                <td style="text-align: center;" width="15%">
                    {% if pos > 3 or teacher_id == ss.id %}
                        <a href="{%url school.views.school_index  %}viewTeacherDetail/{{ss.id}}">
                            {{ ss.last_name }} {{ ss.first_name }} </a>
                    {% else %}
                        {{ ss.last_name }} {{ ss.first_name }}
                    {% endif %}
                </td>

                <td style="text-align: center;" width="10%"> {{ ss.birthday|date:"SHORT_DATE_FORMAT" }}</td>
                <td style="text-align: center;" width="20%"> {{ ss.home_town }}</td>
                <td style="text-align: center;" width="10%"> {{ ss.sex }} </td>
                {% if pos > 3 %}
                    <td style="text-align: center;" width="10%"> {{ f.major }} </td>
                    <td style="text-align: center;" width="15%"> {{ f.team_id }} </td>
                    <td style="text-align: center;" width="15%"> {{ f.group_id }} </td>
                    {% else %}
                    <td style="text-align: center;" width="10%">
                        {% if ss.major == '-1' %}
                            Chưa rõ
                        {% else %}
                            {{ ss.major }}
                        {% endif %}
                    </td>
                    <td style="text-align: center;" width="15%">
                        {% if ss.team_id%}
                            {{ ss.team_id }}
                        {% else %}
                            Chưa rõ
                        {% endif %}
                    </td>
                    <td style="text-align: center;" width="15%">
                        {% if ss.group_id %}
                            {{ ss.group_id }}
                        {% else %}
                            Chưa rõ
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>


    {% if pos > 3 %}
        <tr>
            <td width="5%" align="left">&nbsp</td>
        </tr>
    {% endif %}
    <input id="reload" type="hidden" onclick="location.replace(location.href)"/>
{% endblock %}
