{% block content %}
    <script>
        $(document).ready(function() {
            $("select[name=team_id]").each(function() {
                $(this).change(function() {
                    var id = $(this).parents("tr").attr('class').split(' ')[0];
                    var team = $(this).val();
                    var p = $(this).parents("tr");
                    var data = { id: id, team:team, request_type:'team'};
                    var arg = { type:"POST",
                        url:"/school/teachers_in_group/{{ group.id }}",
                        data: data,
                        datatype:"json",
                        success:function(){
                            p.empty();
                        }
                    };
                    $.ajax(arg);
                    return false;
                });
            });

            $("select[name=major]").each(function() {
                $(this).change(function() {
                    var id = $(this).parents("tr").attr('class').split(' ')[0];
                    var major = $(this).val();
                    var data = { id: id, major:major, request_type:'major'};
                    var arg = { type:"POST",
                        url:"school/teachers_in_group/{{ group.id }}",
                        data: data,
                        datatype:"json",
                        success:function() {
                        }
                    };
                    $.ajax(arg);
                    return false;
                });
            });

            $("select[name=group_id]").each(function() {
                $(this).change(function() {
                    var id = $(this).parents("tr").attr('class').split(' ')[0];
                    var group = $(this).val();
                    var p = $(this).parents("tr");
                    var data = { id: id, group:group, request_type:'group'};
                    var arg = { type:"POST",
                        url:"/school/teachers_in_group/{{ group.id }}",
                        data: data,
                        datatype:"json",
                        success:function(){
                            p.empty();
                        }
                    };
                    $.ajax(arg);
                    return false;
                });
            });
        });
    </script>
    <h2>Danh sách giáo viên nhóm{{ group }}</h2>
    <table class="styleA" width="100%">
        <tr>
            <th align="center" width="5%"> STT</th>
            <th align="center" width="15%">Họ tên</th>
            <th align="center" width="10%">Ngày sinh</th>
            <th align="center" width="20%">Quê quán</th>
            <th align="center" width="10%">Giới tính</th>
            <th align="center" width="10%">Chuyên môn</th>
            <th align="center" width="15%">Tổ</th>
            <th align="center" width="15%">Nhóm</th>
            {% if pos > 3 %}
                <th width="10%"></th>
            {% endif %}
        </tr>

        {% if message != None %}
            {{ message }}
        {% endif %}

        {% for ss, f in list %}
            <tr class="{{ ss.id }}">
                <td align="center" width="5%">{{ forloop.counter }}</td>
                <td align="center" width="15%">
                    {% if pos > 3 or teacher_id == ss.id %}
                        <a href="{%url school.views.school_index  %}viewTeacherDetail/{{ss.id}}">
                            {{ ss.last_name }} {{ ss.first_name }} </a>
                    {% else %}
                        {{ ss.last_name }} {{ ss.first_name }}
                    {% endif %}
                </td>

                <td align="center" width="10%"> {{ ss.birthday|date:"SHORT_DATE_FORMAT" }}</td>
                <td align="center" width="20%"> {{ ss.home_town }}</td>
                <td align="center" width="10%"> {{ ss.sex }} </td>
                {% if pos > 3 %}
                    <td align="center" width="10%"> {{ f.major }} </td>
                    <td align="center" width="10%"> {{ f.team_id }} </td>
                    <td align="center" width="10%"> {{ f.group_id }} </td>
                    <td align="center" width="10%"><a
                            href="{%url school.views.school_index  %}deleteTeacher/{{ss.id}}/{{group.id}}"
                            title="Xóa giáo viên" class="ggButton delete"> xóa </a></td>
                {% else %}
                    <td align="center" width="10%"> {{ ss.major }} </td>
                    <td align="center" width="10%"> {{ ss.group_id }} </td>
                    <td align="center" width="10%"> {{ ss.group_id }} </td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>


    {% if pos > 3 %}
        <tr>
            <td width="5%" align="left">&nbsp</td>
        </tr>
    {% endif %}
    <input id="reload" type="hidden" onclick="location.replace(location.href)"/>
    </div>
{% endblock %}
