{% block content %}
    {% if pos > 3 %}
        <script>
         $(document).ready(function() {
                $("input.datepicker").datepicker("option", "yearRange", 'c-60:c-18');
                $("select[name=team_id]").each(function() {
                    $(this).change(function() {
                        var id = $(this).parents("tr").attr('class').split(' ')[0];
                        var team = $(this).val();
                        var data = { id: id, team:team, request_type:'team'};
                        var arg = { type:"POST",
                            url:"school/teachers_tab",
                            data: data,
                            datatype:"json",
                            success:function() {
                            }
                        };
                        $.ajax(arg);
                        return false;

                    });
                });

                $("select[name=major]").each(function() {
                    $(this).change(function() {
                        var id = $(this).parents("tr").attr('class').split(' ')[0];
                        var major = $(this).val();
                        var data = { id: id, major:major, request_type:'major'};
                        var arg = { type:"POST",
                            url:"school/teachers_tab",
                            data: data,
                            datatype:"json",
                            success:function() {
                            }
                        };
                        $.ajax(arg);
                        return false;
                    });
                });


                $("#submitform").submit(function() {
                    var d = $(this).serialize();
                    d = d +'&request_type=add';
                    var arg = {data: d,
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        success: function(response) {
                            $('.ui-tabs-panel:visible').html(response);
                            applyListener();
                        }
                    };
                    $.ajax(arg);
                    return false;
                });
         });
        </script>
    {% endif %}
    <h2>Danh sách giáo viên</h2>
        <form action="/school/teachers_tab" id ="submitform" method="post">{% csrf_token %}
            <table class="styleA" width="100%">
                {% if pos > 3 %}
                    <colgroup style="width: 5%; text-align: center;"></colgroup>
                {% endif %}
                <colgroup style="width: 5%; text-align: center;"></colgroup>
                <colgroup style="width: 20%; text-align: center;"></colgroup>
                <colgroup style="width: 10%; text-align: center;"></colgroup>
                <colgroup style="width: 25%; text-align: center;"></colgroup>
                <colgroup style="width: 5%; text-align: center;"></colgroup>
                <colgroup style="width: 10%; text-align: center;"></colgroup>
                <colgroup style="width: 15%; text-align: center;"></colgroup>
                <colgroup style="width: 5%; text-align: center;"></colgroup>

                <tr class="thread">
                    {% if pos > 3 %}
                    <th title="Chọn tất cả" class="tiptiphover">
                        <input type="checkbox" class="checkbox_all"/>
                    </th>
                    {% endif %}
                    <th> STT</th>
                    <th><a
                            href="{%url school.views.school_index  %}teachers/1/{{next_status}}"
                            class="tiptiphover" title="Sắp xếp theo tên">Họ tên </a></th>
                    <th><a
                            href="{%url school.views.school_index  %}teachers/2/{{next_status}}"
                            class="tiptiphover" title="Sắp xếp theo ngày sinh">Ngày sinh</a></th>
                    <th> Quê quán</th>
                    <th><a
                            href="{%url school.views.school_index  %}teachers/3/{{next_status}}"
                            class="tiptiphover" title="Sắp xếp giới tính">Giới tính </a></th>
                    <th>Dạy môn</th>
                    <th><a
                            href="{%url school.views.school_index  %}teachers/4/{{next_status}}"
                            class="tiptiphover" title="Sắp xếp theo tổ">Tổ </a></th>
                    {% if pos > 3 %}
                        <th></th>
                    {% endif %}
                </tr>

                {% if message != None %}
                    {{ message }}
                {% endif %}

                {% for ss, f in list %}
                    <tr class="{{ss.id}}">
                        {% if pos > 3 %}
                        <td>
                            <input type="checkbox" class="checkbox_{{ss.id}}"/>
                        </td>
                        {% endif %}
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% if pos > 3 or teacher_id == ss.id %}
                                <a href="{%url school.views.school_index  %}viewTeacherDetail/{{ss.id}}">
                            {% endif %}
                            {{ ss.last_name }} {{ ss.first_name }} </a>
                        </td>
                        <td> {{ ss.birthday|date:"SHORT_DATE_FORMAT" }}</td>
                        <td> {{ ss.home_town }}</td>
                        <td> {{ ss.sex }} </td>

                        {% if pos > 3 %}
                            <td>{{ f.major }}</td>
                            <td> {{ f.team_id }} </td>
                            <td></td>
                        {% else %}
                            <td>
                                {% if ss.major == '-1' %}
                                    Chưa rõ
                                {% else %}
                                    {{ ss.major }}
                                {% endif %}
                            </td>
                            <td>
                                {% if ss.team_id %}
                                    {{ ss.team_id }}
                                {% else %}
                                    Chưa rõ
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if pos > 3 %}
                        <tr>
                            {{ form.non_field_errors }}
                            <td></td>
                            <td></td>
                            <td>
                                {{ form.first_name.errors }}
                                <p>{{ form.first_name }}</p>
                            </td>

                            <td>
                                {{ form.birthday.errors }}
                                <p>{{ form.birthday }}</p>
                            </td>

                            <td>
                                {{ form.home_town.errors }}
                                <p>{{ form.home_town }}</p>
                            </td>


                            <td>
                                {{ form.sex.errors }}
                                <p>{{ form.sex }}</p>
                            </td>


                            <td>
                                {{ form.major.errors }}
                                <p>{{ form.major }}</p>
                            </td>

                            <td>
                                {{ form.team_id.errors }}
                                <p>{{ form.team_id }}</p>
                            </td>

                            <td><input type="submit" class="ggButton" value="Thêm"/></td>
                        </tr>
                {% endif %}
            </table>
            </form>

            {% if pos > 3 %}
                <tr>
                    <td align="left">&nbsp</td>
                </tr>
            {% endif %}
{% endblock %}