{% extends "base.html" %}

{% block content %}
{% if message != None %}
	{{message}} <br>
{% endif %}

<script>
function confirmCancel()
{
    return confirm("Bạn có chắc chắn muốn hủy cập nhật?");
}
</script>
<form action="/school/viewTeacherDetail/{{id}}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table class="styleA styleDetail">
	    {{ form.as_table }}
	 </table>
    {%if pos > 3%}
   <input type ="submit" value="Cập nhật"/>
   <a title="Hủy cập nhật và quay về danh sách giáo viên" href="{%url school.views.school_index  %}teachers" onclick="return confirmCancel();"><input type = "button" value ="Hủy"/></a>
   {%else%}    
   <a title="Quay về danh sách giáo viên" href="{%url school.views.school_index  %}teachers">Quay lại</a>
   {%endif%}
</form>
{% endblock %}
