{% extends "base.html" %}

{% block content %}
{% if message != None %}
	{{message}} <br>
{% endif %}

<script>
function confirmCancel()
{
    return confirm("Bạn có chắc chắn muốn hủy cập nhật?");
}
</script>
<form action="/school/viewTeacherDetail/{{id}}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table class="styleA styleDetail">
	    {{ form.as_table }}
	 </table>
   <input type ="submit" value="Cập nhật"/>
   <a href="{%url school.views.school_index  %}teachers" onclick="return confirmCancel();">Hủy</a>
</form>
{% endblock %}
