{% load upload_tags %}

	<div class="notify-widget-paneB" >
	<button   style="padding: 2px 2px;width: 70px;display:none" id="buttonSave" onclick="update()"  > <div id="messageChanging"  >  </div>  </button>
	</div>

	<table width="100%" border=0 >	
	<tr>
		<td>		
			Chế độ:
			<input type="radio" name="ModeTypeMark" value="1" checked onclick="showMessageTable();">Nhập điểm &nbsp&nbsp
			<input type="radio" name="ModeTypeMark" value="2" onclick="showMessageTable();" >Nhắn tin
		</td>
		
		<td>
			<div style="text-align:right;font-size:90%">
				Dịch chuyển:
				<input type="radio" name="move" id="ngang2" value="ngang2" style="tiptiphover"
					   title="Chuyển sang cột tiếp theo bằng ENTER,TAB  hoặc phím mũi tên">
				Ngang

				<input type="radio" name="move" id="doc" value="doc" checked
					   title="Chuyển xuống hàng tiếp theo bằng ENTER, TAB hoặc phím mũi tên">
				Dọc
				{% if  not selectedSubject.nx %}
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Gõ tắt: ví dụ 75 sẽ thành 7.5.
				{% else %}
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Nhập điểm:G -> Giỏi, K -> Khá, T -> Trung bình, Y -> Yếu, Ke -> Kém.
				{% endif %}	
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="messageTable" style="display:none;	position:absolute; ">
				<button onclick="sendSMS()"  class="ggButton">Gửi</button>
				<button onclick="selectNoSent()" class="ggButton">Chọn các điểm chưa nhắn</button>
				<button onclick="selectAllToSend()" class="ggButton">Chọn tất</button>
				<button onclick="cancelAll()"        class="ggButton">Bỏ chọn tất</button>
			</div>				
		</td>	
		
		<td align="right">
			{% if enableChangeMark %}		    
				<a class="ggButton" href="#popupDiv" id="import"> Nhập từ Excel </a>	 
			{% endif %}	
			<a class="ggButton" href="/school/markExcel/{{termChoice}}/{{subjectChoice}}"> Xuất ra excel </a>	
		</td>
	</tr>
	</table>	
	
	</form>	
	<script>	
		m = document.getElementById("{{move}}")
		if (m) m.checked = true;
	</script>
	
    <div style="display:none"  >
        <div id="fileupload">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="fileupload-buttonbar">
                    {% csrf_token %}
                    <label class="fileinput-button">
                        <span>Chọn file...</span>
                        <input type="file" name="file" multiple>
                    </label>
                    <button type="submit" id="startUpload" class="start">Tải file lên</button>
                </div>
            </form>
			
            <div class="fileupload-content">
                <table class="files"></table>
                <div class="fileupload-progressbar"></div>
            </div>
			
            <div id="errorDetail" style="display: none;font: 14px/18px Arial;color:red">
            </div>
            <div style="font: 14px/18px Arial">
                <p>
                    Chú ý: Phải dùng file Excel theo 
					<a href="/school/markExcel/{{termChoice}}/{{subjectChoice}}">mẫu này</a>.
                </p>
            </div>
        </div>
    </div>
    {% upload_js %}
	<script>
		{% include "school/qlnt_upload_for_student.js" %}
	</script>	
	
{#	<br>#}