	<div class="notify-widget-paneB" >
	<button   style="padding: 2px 2px;width: 70px;display:none" id="buttonSave" onclick="update()"  > <div id="messageChanging"  >  </div>  </button>
	</div>

    <div style="text-align:right;font-size:90%">
		Dịch chuyển:
        <input type="radio" name="move" id="ngang2" value="ngang2" 
               title="Chuyển sang cột tiếp theo bằng ENTER,TAB  hoặc phím mũi tên">
        Ngang
        </input>

        <input type="radio" name="move" id="doc" value="doc" checked
               title="Chuyển xuống hàng tiếp theo bằng ENTER, TAB hoặc phím mũi tên">
        Dọc
        </input>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Gõ tắt: ví dụ 75 sẽ thành 7.5, ấn Enter, Tab hoặc mũi tên để sang ô tiếp theo.
		</input>
    </div>
	
	<script>	
		m = document.getElementById("{{move}}")
		if (m) m.checked = true;
	</script>
		
	
	{% if  enableChangeMark %}
				<div id="messageSMS"  > </div>
				<button  id="sendSelect" onclick="showMessageTable();" >Gửi SMS <img src="/static/images/message3.png" > <img src="/static/images/muiten.png" id="messageImage">  </button>
				<br>
				
	{% else %} 
	{% if enableSendSMS %}
	<button title="Click vào đây để gửi tin cho những học sinh đã chọn" id="sendSelect" onclick="sendSelected();" >Gửi SMS <img src="/static/images/message3.png" >  </button>
	<br>
	<div id="messageSMS"  > </div> 
	{% endif %}
	{% endif %}
	
	<table class="styleC" id="messageTable" style="display:none">
		<tr> <td onclick="selectNoSent()">Chọn những điểm chưa nhắn </td></tr>
		<tr> <td onclick="selectAllToSend()" >Chọn tất cả </td> </tr>
		<tr> <td onclick="cancelAll()">Bỏ tất cả </td>   </tr>
        <tr> <td onclick="sendSMS()">Gửi       </td>   </tr> 						 
	</table>
