{% load upload_tags %}

	<div class="notify-widget-paneB" >
	<button   style="padding: 2px 2px;width: 70px;display:none" id="buttonSave" onclick="update()"  > <div id="messageChanging"  >  </div>  </button>
	</div>

    <div style="text-align:right;font-size:90%">
		Dịch chuyển:
        <input type="radio" name="move" id="ngang2" value="ngang2" 
               title="Chuyển sang cột tiếp theo bằng ENTER,TAB  hoặc phím mũi tên">
        Ngang

        <input type="radio" name="move" id="doc" value="doc" checked
               title="Chuyển xuống hàng tiếp theo bằng ENTER, TAB hoặc phím mũi tên">
        Dọc
		{% if  not selectedSubject.nx %}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Gõ tắt: ví dụ 75 sẽ thành 7.5, ấn Enter, Tab hoặc mũi tên để sang ô tiếp theo.
		{% else %}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Nhập điểm:G -> Giỏi, K -> Khá, T -> Trung bình, Y -> Yếu, Ke -> Kém.
		{% endif %}	
    </div>
	
	</form>
	
	<script>	
		m = document.getElementById("{{move}}")
		if (m) m.checked = true;
	</script>
	<table width="100%" >	
		<tr>
		<td>
			<ul>			
			<button  id="sendSelect" onclick="showMessageTable();" style="margin-buttom: 0px;">Gửi SMS <img src="/static/images/message3.png" > <img src="/static/images/muiten.png" id="messageImage">  </button>
			<div class="messageTable" id="messageTable" style="display:none;	position:absolute; ">
				 <li onclick="selectNoSent()">Chọn những điểm chưa nhắn  </li>
				 <li onclick="selectAllToSend()" >Chọn tất cả   </li>
				 <li onclick="cancelAll()">Bỏ tất cả            </li>
				 <li onclick="sendSMS()">Gửi       </li> 						 
			</div>
			</ul>
		</td>
			
		<td align="right">
		   {# <a class="ggButton" href="#popupDiv" id="import"> Nhập từ excel </a>	 #}
			<a class="ggButton" href="/school/markExcel/{{termChoice}}/{{subjectChoice}}"> Xuất ra excel </a>	
			
		</td>	
		</tr>
	</table>	
	
    <div style="display:none"  >
        <div id="fileupload">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="fileupload-buttonbar">
                    {% csrf_token %}
                    <label class="fileinput-button">
                        <span>Chọn file...</span>
                        <input type="file" name="file" multiple>
                    </label>
                    <button type="submit" id="startUpload" class="start">Tải file lên</button>
                </div>
            </form>
			
            <div class="fileupload-content">
                <table class="files"></table>
                <div class="fileupload-progressbar"></div>
            </div>
			
            <div id="errorDetail" style="display: none;font: 14px/18px Arial;color:red">
            </div>
            <div style="font: 14px/18px Arial">
                <p>
                    Chú ý: Phải dùng file Excel theo 
					<a href="/school/markExcel/{{termChoice}}/{{subjectChoice}}">mẫu này</a>.
                </p>
            </div>
        </div>
    </div>
    {% upload_js %}
	<script>
		{% include "school/qlnt_upload_for_student.js" %}
	</script>	
	
	<br>
	<br>