{% extends "base.html" %}
{% load upload_tags %}

{% block backward_link %}
    <a href="{% url school.views.school_index %}"> Trang chủ </a>
    > <a href="{% url school.views.school_index %}classes">Toàn trường</a>
    > Thời khóa biểu toàn trường
{% endblock %}

{% block content %}
    {% if pos > 3 %}
        <script>
            $(document).ready(function() {
                $("#import").click(function() {
                    $("#fileupload").dialog('open');
                });

                $("#fileupload").dialog({
                    modal : true,
                    buttons: {
                        Đóng: function() {
                            location.reload('true');
                            $(this).dialog('close');
                        }
                    },
                    autoOpen: false,
                    width: 700,
                    height: 400,
                    maxWidth: 700,
                    maxHeight: 400,
                    title: "Nhập TKB toàn trường từ file Excel"
                });
            });
        </script>
    {% endif %}

    <div id="submenu">
        {% if pos > 3 %}
            <a class=" ggButton"
               title="Nhập TKB toàn trường từ file Excel"
               href="#popupDiv"
               id="import"> Nhập từ Excel </a>
        {% endif %}
    </div>

    <h2> Thời khóa biểu toàn trường </h2>


    <table class="main-table" id="school-timetable">
        <colgroup style="width: 5%;"></colgroup>
        <colgroup style="width: 5%;"></colgroup>
        <colgroup style="width: 12%;"></colgroup>
        <colgroup style="width: 12%;"></colgroup>
        <colgroup style="width: 12%;"></colgroup>
        <colgroup style="width: 12%;"></colgroup>
        <colgroup style="width: 12%;"></colgroup>
        <colgroup style="width: 12%;"></colgroup>
        <tr>
            <th>Lớp</th>
            <th>Thứ</th>
            <th>Thứ 2</th>
            <th>Thứ 3</th>
            <th>Thứ 4</th>
            <th>Thứ 5</th>
            <th>Thứ 6</th>
            <th>Thứ 7</th>
        </tr>
        {% for cl, tkb in list %}

            {% for i in lesson %}
                <tr>
                {% if i == 1 %}
                    <th rowspan="10">{{ cl }}</th>
                {% endif %}
                <th>Tiết {{ i }}</th>
                {% for w in week %}
                    {% for t in tkb %}
                        {% if t.day == w %}
                            {% if i == 1 %}
                                {% if t.period_1 %}
                                    <td>
                                        <p>{{ t.period_1 }}</p>
                                        <p>GV: {{ t.period_1.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 2 %}
                                {% if t.period_2 %}
                                    <td>
                                        <p>{{ t.period_2 }}</p>

                                        <p>GV: {{ t.period_2.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 3 %}
                                {% if t.period_3 %}
                                    <td>
                                        <p>{{ t.period_3 }}</p>

                                        <p>GV: {{ t.period_3.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 4 %}
                                {% if t.period_4 %}
                                    <td>
                                        <p>{{ t.period_4 }}</p>

                                        <p>GV: {{ t.period_4.teacher_id }}
                                        </p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 5 %}
                                {% if t.period_5 %}
                                    <td>
                                        <p>{{ t.period_5 }}</p>

                                        <p>GV: {{ t.period_5.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 6 %}
                                {% if t.period_6 %}
                                    <td>
                                        <p>{{ t.period_6 }}</p>

                                        <p>GV: {{ t.period_6.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 7 %}
                                {% if t.period_7 %}
                                    <td>
                                        <p>{{ t.period_7 }}</p>

                                        <p>GV: {{ t.period_7.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 8 %}
                                {% if t.period_8 %}
                                    <td>
                                        <p>{{ t.period_8 }}</p>

                                        <p>GV: {{ t.period_8.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 9 %}
                                {% if t.period_9 %}
                                    <td>
                                        <p>{{ t.period_9 }}</p>

                                        <p>GV: {{ t.period_9.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if i == 10 %}
                                {% if t.period_10 %}
                                    <td>
                                        <p>{{ t.period_10 }}</p>

                                        <p>GV: {{ t.period_10.teacher_id }}</p>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            {% endfor %}

        {% endfor %}
    </table>

    <div style="display: none;">
        <div id="fileupload">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="fileupload-buttonbar">
                    {% csrf_token %}
                    <label class="fileinput-button">
                        <span>Chọn file...</span>
                        <input type="file" name="file" multiple>
                    </label>
{#                    <button type="submit" id="startUpload" class="start">Tải file lên</button>#}
                </div>
            </form>
            <div class="fileupload-content">
                <table class="files"></table>
                <div class="fileupload-progressbar"></div>
            </div>
            <div id="errorDetail" class="errorlist errorDiv" style="display: none;">
            </div>
            <p>
                Chú ý: Phải dùng file Excel theo <a href="{{ MEDIA_URL }}template_files/ThoiKhoaBieu_template.xls">mẫu
                này</a>.
            </p>
        </div>
    </div>
    {% upload_js %}
    <script type="text/javascript" src="/static/js/jquery_file_upload/qlnt_upload_for_tkb.js"></script>
{% endblock %}
