{% extends "base.html" %}

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
  > <a href="{% url school.views.school_index %}classes">Toàn trường</a>
  > Điểm danh
{% endblock %}

{% block content %}
  <script>
     $(document).ready(function(){
        $("input.datepicker").datepicker();
     });
  </script>
  <form action="" method="post">{% csrf_token %}
    <h2>Điểm danh {{ form }}
      <input type="submit" value="Chọn"/>
    </h2>
    {% if message != None %}
      {{ message }}
    {% endif %}
  </form>
{% endblock %}
