{% extends "base.html" %}

{% block backward_link %}
  <a href="{% url school.views.school_index %}"> Trang chủ </a>
  > <a href="/profiles/{{user.username}}"
                 title="Sửa thông tin người sử dụng, đổi mật khẩu, đổi tên tài khoản.">
    Người sử dụng
    </a>
  > Đổi tên tài khoản
{% endblock %}

{% block content %}
  <h2>Đổi tên tài khoản</h2>
    {% if user.userprofile.username_change == 0 %}
        <p style="color:#FF0000"> <b>Chú ý</b> tên tài khoản chỉ được thay đổi <b>một</b> lần duy nhất.</p>
        <form action="/school/username_change" method="post">{% csrf_token %}
            <table class="styleA">
                {{ message }}
                {{ form.as_table }}
            </table>
            <button class="ggButton">Lưu</button>
        </form>
    {% else %}
        {{ message }}
        <p> Bạn đã thay đổi tên tài khoản. Không thể thay đổi lần nữa.</p>
    {% endif %}
{% endblock %}