{% extends "base.html"%}
{% block content %}

	<table border="0" width=100% >

	<tr >
		<td align="center"  style="font-size:25px" colspan=3>
			<b>Bảng điểm tổng kết <br> <br>
			
			{% ifequal number "1" %}
				Học kỳ I
			{% else %}
			{% ifequal number "2" %}
				Học kỳ II
			{% else %}
				Cả năm
			{% endifequal %}	
			{% endifequal %}	
			năm học:{{yearString}} 
			</b>
			
		</td>
	</tr>
	
	<tr >
	<td colspan=3>Lớp :&nbsp {{selectedClass.name}}</td>
	</tr>
	<tr >
	<td colspan=3>&nbsp</td>
	</tr>
	
	<tr colspan=3>
		<td width="33%" > <a title="Tự động xếp loại cả năm của lớp"
			 href="{%url school.views.school_index  %}xepLoaiHlTheoLop/{{selectedClass.id}}/1">Học kỳ I</a>
		</td>
		<td width="33%"> <a title="Tự động xếp loại cả năm của lớp"
			 href="{%url school.views.school_index  %}xepLoaiHlTheoLop/{{selectedClass.id}}/2">Học kỳ II</a>
		</td>
		<td width="33%"> <a title="Tự động xếp loại cả năm của lớp"
			 href="{%url school.views.school_index  %}xepLoaiHlTheoLop/{{selectedClass.id}}/3">Cả năm</a>
		</td>
	</tr>
	
	</table>
	
	<br>
	<br>
	<table class="styleA" width="100%">
		<tr>
			<td  align="center" width="1%">
				Stt
			</td>	
			<td  align="center" width="18%">
				Họ và tên
			</td>	
			<td align="center" width="1%">			
				Ngày sinh
			</td>	
			{% for s in subjectList %}
				<td width ="5%" align="center">
					{{s.name}}
				</td>				
			{% endfor %}	
			<td width ="7%" align="center" >
			  TB			
			</td>
			<td width="7%" align="center">
				Học lực
			</td>
		</tr>
		{% for p,m in list %}
			<tr>
				<td align="center">
					{{forloop.counter}}	
				</td>
				<td>
					{{ p.last_name }}&nbsp {{ p.first_name }}					
				</td>
				<td>
					{{ p.birthday.day}}/{{ p.birthday.month}}/{{ p.birthday.year}} 
				</td>
				{% for s in m %}
					<td align="center">
					{% ifequal s "" %}
						&nbsp
					{% else %}						
						{{ s }}
					{% endifequal %}	
					</td>
				{% endfor %}
				
			</tr>
		{% endfor %}
	</table>




{% endblock %}
