{% extends "base.html"%}
{% block backward_link %}
	<a href="/school/classes"> Toàn trường  </a> > 
	<a href="/school/viewClassDetail/{{selectedClass.id}}"> {{selectedClass.name}}  </a> > 
	Tổng kết điểm
	{% if number = 1 %}
		kỳ I
	{% else %}
	{% if number = 2 %}
		kỳ II
	{% else %}
		cả năm
	{% endif %}
	{% endif %}
		
{% endblock %} 
{% block content %}
<div class="notify-widget-pane" >
    <div class="notify" id="notify1" style="display: none;">
    </div>
</div>


	
{#	<h2> Bảng điểm tổng kết   #}
{#			{% ifequal number 1 %} #}
{#				học kỳ I           #}    
{#			{% else %} #}
{#			{% ifequal number 2 %} #}
{#				học kỳ II #}
{#			{% else %}#}
{#				cả năm#}
{#			{% endifequal %}	#}
{#			{% endifequal %}	#}
{#			lớp #}
{#			{{selectedClass.name}}			#}
{#			năm học:{{yearString}} #}
{#	</h2> #}
			
	
	<br>
	<form name="info" >
		<INPUT TYPE="radio" NAME="term" id='1' value="1">Học kỳ I &nbsp&nbsp&nbsp&nbsp&nbsp     	
		<INPUT TYPE="radio" NAME="term" id='2'value="2">Học kỳ II&nbsp&nbsp&nbsp&nbsp&nbsp
		<INPUT TYPE="radio" NAME="term" id='3'value="3">Cả năm 
	</form>
		
	<br>
	<form action=" " method="post">{% csrf_token %}
		<input class = "tiptiphover ggButton" title="Tính điểm trung bình của cả lớp" type="submit" value="Tính điểm trung bình" />
	</form>
	<br>
	<table class="styleA">
		<tr>
			<th rowspan=2 align="center" style="width:4px" >
				Stt
			</th>	
			<th colspan=2 rowspan=2 align="center" >
				Họ và tên
			</th>	
			<th rowspan=2 align="center" width="1%">			
				Ngày sinh
			</th>	
			{% for s in subjectList %}
				<th  rowspan=2 align="center" >
				{{s.name}}
				</th>				
			{% endfor %}	
			<th rowspan=2 width ="" align="center" >
			  TB			
			</th>
			<th colspan=3 width="" align="center">
				Kết quả xếp loại và thi đua
			</th>
		</tr>
		<tr>
			<th> HL </th>
			<th> HK </th>
			<th> DH </th>							
		</tr>
		{% for p,m,tbhocky,hk in list %}
			<tr>
				<td style="text-align: center;">
					{{forloop.counter}}	
				</td>
				<td class="lastname">
					{{ p.last_name }} 
				</td>
				<td class="firstname">
					{{ p.first_name }}					
				</td>
				<td>
					{{ p.birthday|date:"SHORT_DATE_FORMAT"}} 
				</td>
				{% for s in m %}
					{% ifequal s 'MG' %}
						<td style="color:red;text-align: center" >
							MG
						</td>
					{% else %}	
						<td style="text-align: right" >
						{{ s }}
						</td>
					{% endifequal %}	
				{% endfor %}
				{% ifnotequal number  3 %}  
				<td>
					{% if tbhocky.tb_hk  %}
						{{tbhocky.tb_hk}}
					{% else %}	
						&nbsp
					{% endif %}	
				</td>	
				<td>
					{% ifequal tbhocky.hl_hk "G" %}
						Giỏi
					{% else %} 	
					{% ifequal tbhocky.hl_hk "K" %}
						Khá
					{% else %} 							
					{% ifequal tbhocky.hl_hk "TB" %}
						TB
					{% else %} 							
					{% ifequal tbhocky.hl_hk "Y" %}
						Yếu
					{% else %} 							
					{% ifequal tbhocky.hl_hk "Kem" %}
						Kém
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
				</td>	
				<td>
					{% ifequal hk "T"  %}
						Tốt
					{% else %}	
					{% ifequal hk "K"  %}
						Khá
					{% else %}	
					{% ifequal hk "TB"  %}
						TB
					{% else %}	
					{% ifequal hk "Y"  %}
						Yếu
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
						
				</td>	
				
				<td>
					{% ifequal tbhocky.danh_hieu_hk "G" %}
						HSG
					{% else %}	
					{% ifequal tbhocky.danh_hieu_hk "TT" %}
						HSTT
					{% endifequal %}	
					{% endifequal %}	
				</td>	
				
				{% else %}
				<td>
					{% if tbhocky.tb_nam %}
						{{tbhocky.tb_nam}}
					{% else %}	
						&nbsp
					{% endif %}	
				</td>	
				
				<td>
					{% ifequal tbhocky.hl_nam "G" %}
						Giỏi
					{% else %} 	
					{% ifequal tbhocky.hl_nam "K" %}
						Khá
					{% else %} 							
					{% ifequal tbhocky.hl_nam "TB" %}
						TB
					{% else %} 							
					{% ifequal tbhocky.hl_nam "Y" %}
						Yếu
					{% else %} 							
					{% ifequal tbhocky.hl_nam "Kem" %}
						Kém
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
				</td>
				<td>
					{% ifequal hk.year "T"  %}
						Tốt
					{% else %}	
					{% ifequal hk.year "K"  %}
						Khá
					{% else %}	
					{% ifequal hk.year "TB"  %}
						TB
					{% else %}	
					{% ifequal hk.year "Y"  %}
						Yếu
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
					{% endifequal %}	
						
				</td>	
				
				<td>
					{% ifequal tbhocky.danh_hieu_nam "G" %}
						HSG
					{% else %}	
					{% ifequal tbhocky.danh_hieu_nam "TT" %}
						HSTT
					{% endifequal %}	
					{% endifequal %}	
				</td>	
				{% endifnotequal %}	
				
			</tr>
		{% endfor %}
	</table>
{% if message != None %}		
	<script>
		var temp = document.getElementById("notify1");
		temp.innerHTML="{{message}}";
		$(temp).fadeIn('fast');
		$(temp).delay(7000).fadeOut('fast');     
		
	</script>	
{% endif %}

<script>	
	$(document).ready(function() {
		$('input[type=radio]').change(function() {
			window.location.href="/school/xepLoaiHlTheoLop/"+{{selectedClass.id}}+"/"+this.value;
		})
	});
	document.getElementById({{number}}).checked=true;	
</script>
	
{% endblock %}
