{% extends "base.html"%}
{% block content %}
<div class="notify-widget-pane" >
    <div class="notify" id="notify1" style="display: none;">
    </div>
</div>


{% if message != None %}
<script>
	var temp = document.getElementById("notify1");
	temp.innerHTML="{{message}}";
    $(temp).fadeIn('fast');
	$(temp).delay(7000).fadeOut('fast');      
</script>	
{% endif %}

<h2> Tổng hợp kết quả đánh giá, xếp loại lớp {{selectedClass.name}}  năm học {{yearString}}  
</h2>
<br>
Hãy chọn phân loại danh sách học sinh theo:

<table border=0 width = "100%">
	<tr>
		<td width = "25%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/1 " title="Danh sách tất cả học sinh">  Tất cả  </a> </td>
		<td width = "25%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/3 " title="Danh sách tất cả học sinh giỏi">  Học sinh giỏi </a> </td>
		<td width = "25%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/5 " title="Danh sách những học sinh được lên lớp" >Lên lớp </a> </td>
		<td width = "25%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/7 " title="Danh sách những học sinh phải thi lại" > Thi lại  </a> </td>
	</tr>
	<tr>	
		<td width = "20%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/2 " title="Hiện thị danh sách những học sinh chưa đủ thông tin để xếp loại ">Chưa xếp loại</a></td>
		<td width = "25%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/4 " title="Danh sách học sinh đạt danh hiệu học sinh tiên tiến " >Học sinh tiên tiến </a></td>
		<td width = "25%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/6 " title="Danh sách những học sinh không lên lớp ">Không lên lớp </a></td>
		<td width = "25%"> <a href="/school/xlCaNamTheoLop/{{selectedClass.id}}/8 " title="Danh sách học sinh phải rèn thêm trong hè " >Rèn luyện thêm trong hè</a></td>
	</tr>
</table>
<br>	

	<form action="/school/xlCaNamTheoLop/{{selectedClass.id}}/1" method="post">{% csrf_token %}
		<input class="buttonClass" type="submit" value="Đánh giá, xếp loại học sinh" />
	</form>
<br>
	{#----------------------------------------------------------------------#}
	{# tat ca danh sach #}
	{#----------------------------------------------------------------------#}
	
	<div id="allList" >
	<table class="styleA" width="100%">
		<tr>
			<th  align="center" width="1%">
				Stt
			</th>	
			
			<th colspan="2" align="center" width="18%">
				Họ và tên
			</th>	
			
			<th align="center" width="1%">			
				Ngày sinh
			</th>	
			
			<th align="center" width="10%">			
				Học lực
			</th>	
			<th align="center" width="7%">			
				Hạnh kiểm
			</th>	
			<th align="center" width="5%">			
				Tổng số ngày nghỉ
			</th>	
			<th align="center" width="15%">			
				Danh hiệu
			</th>	
			
			<th align="center" width="15%">			
				Thuộc diện
			</th>	
			

		</tr>
		{% for p,tbNam,hk in list %}
			<tr>
				<td align="center">
					{{forloop.counter}}	
				</td>
				<td class="lastname">
					{{p.last_name}}
				</td>
				<td class="firstname">
					{{p.first_name}}
				</td>
				
				<td>
				{{p.birthday|date:"SHORT_DATE_FORMAT"}}
				</td>
				<td align="center">
					{% ifequal tbNam.hl_nam "G"  %}
						Giỏi
					{% else %}	
					{% ifequal tbNam.hl_nam "K"  %}
						Khá
					{% else %}	
					{% ifequal tbNam.hl_nam "TB"  %}
						TB
					{% else %}	
					{% ifequal tbNam.hl_nam "Y"  %}
						Yếu
					{% else %}	
					{% ifequal tbNam.hl_nam "Kem"  %}
						Kém
					{% else %}
					   &nbsp	
					{% endifequal %}
					{% endifequal %}
					{% endifequal %}
					{% endifequal %}
					{% endifequal %}
				</td>

				<td align="center">

					{% ifequal hk.year "T"  %}
						Tốt
					{% else %}	
					{% ifequal hk.year "K"  %}
						Khá
					{% else %}	
					{% ifequal hk.year "TB"  %}
						TB
					{% else %}	
					{% ifequal hk.year "Y"  %}
						Yếu
					{% else %}
					   &nbsp	
					{% endifequal %}
					{% endifequal %}
					{% endifequal %}
					{% endifequal %}

				</td >
				<td align="center">
					
					{% if tbNam.tong_so_ngay_nghi == None %}
						chưa có
					{%else %}
						{{tbNam.tong_so_ngay_nghi}}
					{% endif %}	
				</td>

				<td align="center">
					{% ifequal tbNam.danh_hieu_nam "G" %}
						Học sinh giỏi
					{% else %}	
					{% ifequal tbNam.danh_hieu_nam "TT"  %}
						Học sinh tiên tiến
					{% else %}
					   &nbsp	
					{% endifequal %}
					{% endifequal %}
				</td>
				<td align="center">
					{% if tbNam.len_lop %}
						Được lên lớp
					{% else  %}
					{% if tbNam.len_lop != None  %}
						Không được lên lớp 
					{% else %}
					{% if tbNam.thi_lai  %}
						Thi lại
					{% else %}	
					{% if hk.ren_luyen_lai %}
						Rèn luyện thêm trong hè
					{% else %}
						Chưa được xếp loại						
					{% endif %}	
					{% endif %}	
					{% endif %}	
					{% endif %}	
				</td>
				
			</tr>
		{% endfor %}
		</table>
{% endblock %}
