{% extends "base.html" %}

{%block title %} Add new School staff {% endblock%}

{% block navi %}
	<a href ="/">Index</a> - <a href="/help">help</a> - 
	{% if user.is_authenticated %}
		Welcome {{user.username}}! <a href="/logout">Đăng xuất</a> 
	{% else %} 
	 	<a href="/login">login</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<h1> need to check the user rule for get permission</h1> <br>
		<h1>Add new school staff</h1>
		<form action="/app/schoolstaff/add" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>
	{% else %}
		You need login to use this app.
	{% endif %}
{% endblock %}