

Diem 15 phut lan 1: {{ MarkbyPeroid.k15_1 }} <br>
Diem 15 phut lan 2: {{ MarkByPeriod.k15_2 }} <br>
Diem kiem tra 1 tiet lan 1: {{ MarkByPeroid.k1t_1 }} <br>
Diem kiem tra 1 tiet lan 2: {{ MarkByPeroid.k1t_2 }} <br>
Diem trung binh: {{ MarkByPeroid.average_mark }} <br>
Ngay kiem tra 15 phut lan 1: {{ MarkByPeroid.date_k15_1 }} <br>
Ngay kiem tra 15 phut lan 2: {{ MarkByPeroid.date_k15_2 }} <br>
Ngay kiem tra 1 tiet lan 1: {{ MarkByPeroid.date_k1t_1 }} <br>
Ngay kiem tra 1 tiet lan 2: {{ MarkByPeroid.date_k1t_2 }} <br>