Diem 15 phut lan 1: {{ MarkbyPeroid.k15_1 }} <br>
Diem 15 phut lan 2: {{ MarkByPeriod.k15_2 }} <br>
Diem kiem tra 1 tiet lan 1: {{ MarkByPeroid.k1t_1 }} <br>
Diem kiem tra 1 tiet lan 2: {{ MarkByPeroid.k1t_2 }} <br>
Diem trung binh: {{ MarkByPeroid.average_mark }} <br>
Ngay kiem tra 15 phut lan 1: {{ MarkByPeroid.date_k15_1 }} <br>
Ngay kiem tra 15 phut lan 2: {{ MarkByPeroid.date_k15_2 }} <br>
Ngay kiem tra 1 tiet lan 1: {{ MarkByPeroid.date_k1t_1 }} <br>
Ngay kiem tra 1 tiet lan 2: {{ MarkByPeroid.date_k1t_2 }} <br>
Thieu diem 15 phut: {{ MarkByPeriod.miss_mark_15 }} <br>
Thieu diem 1 tiet: {{ MarkByPeriod.miss_mark_1t }} <br>
Thieu diem Thuc hanh : {{ MarkByPeriod.miss_mark_prac }} <br>
Diem mieng lan 1: {{ MarkbyPeroid.speak_mark_1 }} <br>
Ngay kiem tra mieng lan 1: {{ MarkByPeroid.date_speak_mark_1 }} <br>
Diem mieng lan 2: {{ MarkbyPeroid.speak_mark_2 }} <br>
Ngay kiem tra mieng lan 2: {{ MarkByPeroid.date_speak_mark_2 }} <br>